.freelance-create-requirement-wrapper {
  .job-editor {
    width: 100%;
    min-height: 350px;
  }
  .form-label {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
  }
  .form-control {
    height: calc(2em + 0.75rem + 2px);
    line-height: 2rem !important;
  }
}
