.rc-ExploreButton {
    margin-left: 40%;
    background: none;
    border: none;
    height: 34px;
    width: 30%;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -o-box-align: center;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    /* font-weight: 700; */
    cursor: default;
    position: relative;
  }

  .rc-ExploreButton {
    .mat-button-wrapper {
      margin: auto !important;
    }
  }

  .rc-ExploreButton span {
    top: 0;
    width: 100%;
    line-height: 36px;
    text-align: center;
    position: relative;
    color: #867899;
  }