<div class="req-view-wrapper w80 m-auto pt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="reqDetailsConfig.isLoading">
      <img src="../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching Requirement...</h5>
    </div>
    <div class="animated fadeInUp" *ngIf="!reqDetailsConfig.isLoading">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/freelance/all-requirements']">All Requirements</a>
        </li>
        <li class="breadcrumb-item active text-truncate">{{ reqDetailsConfig.data?.category }}</li>
      </ol>
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="card my-4 m-0">
            <ng-container>
              <div class="card-img pb-1 d-flex align-items-center justify-content-center">
                <h5 class="text-css m-auto">{{ reqDetailsConfig.data?.category }}</h5>
              </div>
            </ng-container>

            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center mb-4">
                <img
                  src="{{
                    reqDetailsConfig.data?.postedByImage !== ''
                      ? reqDetailsConfig.data?.postedByImage
                      : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                  }} "
                  [routerLink]="['/social-network/profile/', reqDetailsConfig.data?.postedByTasaId]"
                  routerLinkActive="router-link-active"
                  class="user-img"
                  alt=""
                />
                <div class="font400 pl-0 text-truncate" [title]="">{{ reqDetailsConfig.data?.postedByName }}</div>
              </div>
              <div class="row no-gutters border-bottom pb-4">
                <div class="col-12 col-md-3">
                  <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Experience</h6>
                  <div>
                    {{ reqDetailsConfig.data?.experienceFrom }} - {{ reqDetailsConfig.data?.experienceTo }} Years
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <h6 class="mb-1"><i class="fas fa-money-bill-wave pr-2 text-muted"></i>Budget</h6>
                  <div>
                    {{ reqDetailsConfig.data?.budgetFrom | currency }} -
                    {{ reqDetailsConfig.data?.budgetTo | currency }}
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <h6 class="mb-1"><i class="fas fa-calendar-week pr-2 text-muted"></i>Open Till</h6>
                  <div>{{ reqDetailsConfig.data?.openTill | date: 'mediumDate' }}</div>
                </div>
                <div class="col-12 col-md-3">
                  <div
                    *ngIf="reqDetailsConfig.data?.attachment !== ''"
                    class="p-2 d-flex zoomCard align-items-center curPoint bg-primary-light"
                  >
                    <span class="material-icons pr-3">
                      attach_file
                    </span>
                    <a
                      [href]="reqDetailsConfig.data?.attachment"
                      target="_blank"
                      color="primary"
                      class="mr-2"
                      download
                      matTooltipPosition="below"
                      matTooltip="View Attachment"
                    >
                      View Attachment
                    </a>
                  </div>
                </div>
              </div>
              <div class="p-3">
                <h4 class="mt-3">About This Requirement</h4>
                <div class="mt-2" [innerHTML]="reqDetailsConfig.data.description | safeHtml"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <ng-container *ngIf="user.email !== reqDetailsConfig.data.createdBy">
            <ng-container *ngTemplateOutlet="bidPosting"></ng-container>
          </ng-container>
          <ng-container *ngIf="user.email === reqDetailsConfig.data.createdBy">
            <ng-container *ngTemplateOutlet="allBids"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<input id="resumeUpload" class="d-none" #uploadAttachment type="file" (change)="uploadFile($event)" />

<ng-template #bidPosting>
  <div class="card my-4 m-0">
    <div class="card-header text-center">
      <h4 class="card-title">Post BID</h4>
    </div>
    <div class="card-body">
      <div class="row no-gutters animated fadeInUp">
        <div class="col-12 col-md-6">
          <div class="form-group text-left mr-2">
            <label class="form-label" for="cost">Cost <span class="text-danger pl-1 asterisk">*</span></label>
            <div class="input-group input-group-merge">
              <input
                id="cost"
                type="number"
                min="0"
                step="1"
                oninput="validity.valid||(value='');"
                [(ngModel)]="bidConfig.bid.cost"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-left">
            <label class="form-label" for="tat">TAT <span class="text-danger pl-1 asterisk">*</span></label>
            <div class="input-group input-group-merge">
              <input
                id="tat"
                type="number"
                min="0"
                step="1"
                oninput="validity.valid||(value='');"
                [(ngModel)]="bidConfig.bid.tat"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-left">
            <label class="form-label" for="Attachment">Attachment</label>
            <div class="input-group input-group-merge">
              <div
                *ngIf="bidConfig.bid.attachment === ''"
                class="p-2 d-flex align-items-center curPoint bg-primary-more-light"
                (click)="triggerUpload()"
              >
                <span class="material-icons pr-3">
                  attach_file
                </span>
                Add Attachment
              </div>
              <div *ngIf="bidConfig.bid.attachment !== ''" class="p-3 d-flex align-items-center curPoint bg-primary-light">
                <span class="material-icons pr-3">
                  attach_file
                </span>
                Attachment
                <span class="material-icons pl-3" (click)="(bidConfig.bid.attachment === '')">
                  close
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-left">
            <label class="form-label" for="negotiable"
              >Negotiable<span class="text-danger pl-1 asterisk">*</span></label
            >
            <mat-select
              id="negotiable"
              [(ngModel)]="bidConfig.bid.negotiable"
              [(value)]="bidConfig.bid.negotiable"
              class="form-control form-control-prepended"
            >
              <mat-option [value]="'Y'">
                Yes
              </mat-option>
              <mat-option [value]="'N'">
                No
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group text-left">
            <label class="form-label" for="description">Description <span class="text-danger pl-1 asterisk">*</span></label>
            <textarea
              name="description"
              [(ngModel)]="bidConfig.bid.description"
              class="form-control form-control-prepended"
              cols="30"
              rows="10"
              style="min-height: 100px; max-height: 100px;"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          mat-flat-button
          color="primary"
          [disabled]="checkBidValidation()"
          (click)="postBid()"
          class="rounded-pill ml-3"
        >
          <span class="material-icons pr-2">
            publish
          </span>
          Submit Bid
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #allBids>
  <div class="card my-4 m-0">
    <div class="card-header text-center">
      <h4 class="card-title">All BID</h4>
    </div>
    <div class="card-body"></div>
  </div>
</ng-template>
