<div class="about-us-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">About Us</li>
  </ol>
  <div class="sec-title">
    <div class="title">About Us</div>
  </div>
  <!--ABOUT AREA-->
  <section class="section-padding about-area bg-theme mb-4" id="about">
    <div class="container">
      <div class="row flex-v-center">
        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 animated fadeIn">
          <div class="about-content xs-mb50 wow fadeIn">
            <!-- <h3 class="xs-font20 mb30">About Us.</h3> -->
            <p>
              To upskill, network and connect the millions of unemployed African college graduates with the job
              opportunities they need, and provide companies with access and visibility to the high-skilled talent-pool
              needed to meet their business goals on the continent.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="video-promo-details wow fadeIn">
            <video width="100%" height="300" controls muted="" loop="" playsinline="">
              <source src="https://www.kuwaconsultinggroup.com/images/kuwa2.mp4" type="video/mp4" />
              <source src="https://www.kuwaconsultinggroup.com/images/kuwa2.mp4" type="video/ogg" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--ABOUT AREA END-->
  <div class="sec-title">
    <div class="title">Our Team</div>
  </div>
  <section class="mb-5">
    <div class="row">
      <div class="col-12 col-md-4 col-xl-4 col-sm-6">
        <div class="team-member animated fadeIn">
          <div class="row no-gutters border">
            <div class="col-12">
              <div class="team-img">
                <img src="../../../assets/images/team/habiub2.jpeg" alt="team member" class="img-responsive w100 shadow-lg" />
              </div>

            </div>
            <!-- <div class="col-6 text-center m-auto">
              <div class="">
                <div class="desk">
                  <h5 class="text-muted"><span>Founder &amp; CEO</span></h5>
                </div>
                <div class="s-link text-center">
                  <a><i class="fab fa-facebook fa-lg"></i></a>
                  <a><i class="fab fa-twitter fa-lg"></i></a>
                  <a><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
              </div>
            </div> -->
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4 class="text-muted">
                <span class="material-icons curPoint" (click)="openMyTeam('Habib Bangura', 1)">
                  remove_red_eye
                </span>
              </h4>
              <p>Habib Bangura</p>
            </div>
            <div class="s-link">
              <a><i class="fab fa-facebook"></i></a>
              <a><i class="fab fa-twitter"></i></a>
              <a><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-4 col-sm-6">
        <div class="team-member animated fadeIn">
          <div class="row no-gutters border">
            <div class="col-12">
              <div class="team-img">
                <img src="../../../assets/images/team/al.jpeg" alt="team member" class="img-responsive w100 shadow-lg" />
              </div>
            </div>
            <!-- <div class="col-6 text-center m-auto">
              <div>
                <div class="desk">
                  <h5 class="text-muted"><span>VP Product & Technology</span></h5>
                </div>
                <div class="s-link">
                  <a><i class="fab fa-facebook fa-lg"></i></a>
                  <a><i class="fab fa-twitter fa-lg"></i></a>
                  <a><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
              </div>
            </div> -->
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4 class="text-muted">
                <span class="material-icons curPoint" (click)="openMyTeam('Alhassan Kabia', 2)">
                  remove_red_eye
                </span>
              </h4>
              <p>Alhassan Kabia</p>
            </div>
            <div class="s-link">
              <a><i class="fab fa-facebook"></i></a>
              <a><i class="fab fa-twitter"></i></a>
              <a><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4 col-xl-4 col-sm-6">
        <div class="team-member animated fadeIn">
          <div class="row no-gutters border">
            <div class="col-12">
              <div class="team-img">
                <img src="../../../assets/images/team/max.jpeg" alt="team member" class="img-responsive w100 shadow-lg" />
              </div>
            </div>
            <!-- <div class="col-6 text-center m-auto">
              <div class="desk">
                <h5 class="text-muted"><span>Vice President of Finance & Operations</span></h5>
              </div>
              <div class="s-link">
                <a><i class="fab fa-facebook fa-lg"></i></a>
                <a><i class="fab fa-twitter fa-lg"></i></a>
                <a><i class="fab fa-linkedin fa-lg"></i></a>
              </div>
            </div> -->
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4 class="text-muted">
                <span class="material-icons curPoint" (click)="openMyTeam('Aloysius Max Kanu', 3)">
                  remove_red_eye
                </span>
              </h4>
              <p>Aloysius Max Kanu.</p>
            </div>
            <div class="s-link">
              <a><i class="fab fa-facebook"></i></a>
              <a><i class="fab fa-twitter"></i></a>
              <a><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
