<div class="about-us-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">About Us</li>
  </ol>
  <div class="sec-title">
    <div class="title">About Us</div>
  </div>
  <!--ABOUT AREA-->
  <section class="section-padding about-area bg-theme mb-4" id="about">
    <div class="container">
      <div class="row flex-v-center">
        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 animated fadeIn">
          <div class="about-content xs-mb50 wow fadeIn">
            <!-- <h3 class="xs-font20 mb30">About Us.</h3> -->
            <p>
              To upskill, network and connect the millions of unemployed African college graduates with the job
              opportunities they need, and provide companies with access and visibility to the high-skilled talent-pool
              needed to meet their business goals on the continent.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
          <div class="video-promo-details wow animated fadeIn">
            <div class="video-promo-content">
              <span data-video-id="j1S66liv1t8" class="video-area-popup mb30"><i class="fa fa-play"></i></span>
            </div>
            <img src="../../../assets/images/about/about.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--ABOUT AREA END-->
  <div class="sec-title">
    <div class="title">Our Team</div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img
                src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg"
                alt="team member"
                class="img-responsive"
              />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5 class="text-muted"><span>Founder &amp; CEO</span></h5>
                <!-- <p>I love to introduce myself as a hardcore Web Designer.</p> -->
              </div>
              <div class="s-link">
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Habib Bangura</h5>
            <p class="text-muted">
              holds graduate degrees from Harvard and Johns Hopkins University. As CEO, he shepherds the vision &
              strategic direction of the company, including sourcing clients & managing strategic growth partnerships.
              He's a senior level executive with expertise in designing & scaling high-impact education and human
              capital ventures in the U.S.. In the last 2 years, he's informed education policy & funding bills in 3
              states, while launching &scaling an education non-profit across 6 states, partnering with 50+ school
              districts, 140+ schools, directly impacting over 40 thousand students.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img
                src="https://image.freepik.com/free-photo/elegant-man-with-thumbs-up_1149-1595.jpg"
                alt="team member"
                class="img-responsive"
              />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5 class="text-muted"><span>VP Product & Technology</span></h5>
                <!-- <p>I love to introduce myself as a hardcore Web Designer.</p> -->
              </div>
              <div class="s-link">
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Alhassan Kabia</h5>
            <p class="text-muted">
              has deep experience in the African startup ecosystem, most recently helping to launch 2 successful tech
              startups on the continent. He's a FinTech expert with extensive experience advising firms bin the banking,
              healthcare, & auto industries in the U.S., Europe & Africa. As VP Product & Technology, he leads product
              development & directs the technology future of the company. Alhassan holds a BA in Political Science and
              Economics from the University of Windsor in Canada, a Master's in International Relations from Troy
              University as well as post-graduate certificates from Georgetown University, and Harvard Business School.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img
                src="https://image.freepik.com/free-photo/well-dressed-executive-with-crossed-arms_1098-3930.jpg"
                alt="team member"
                class="img-responsive"
              />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5 class="text-muted"><span>Marketing Manager</span></h5>
                <!-- <p>I love to introduce myself as a hardcore Web Designer.</p> -->
              </div>
              <div class="s-link">
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Aloysius Kanu</h5>
            <p class="text-muted">
              is a UVA trained Engineering & Operations Manager with the SEC (Securities & Exchange Commission) that
              possesses deep expertise in managing technology deployments & operations in large matrixed organizations.
              As VP Finance & Operations he stewards the company's finances & oversees operational effectiveness.
              Aloysius holds a Bachelors in Engineering and Business from UVA, along with an MSIT and MBA from the
              University of Maryland.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
