<div class="about-us-wrapper">
  <ng-container *ngTemplateOutlet="aboutus"></ng-container>
</div>
<ng-template #aboutus>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid w90" data-aos="fade-up">
      <section class="contact-page-section">
        <div class="mt-3">
          <div class="sec-title">
            <div class="title">About Us</div>
          </div>
        </div>
      </section>
      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Our Vision</h3>
            <h2>
              We want TaSA to be an appealing destination where people with shared identities, shared interests, and
              shared experiences can connect with each other, find desirable opportunities, and form communities of
              solidarity and trust.
            </h2>
            <!-- <h2>
              We understand what it feels like to work twice as hard, and produce twice as much, while receiving fewer
              advancement opportunities, or getting paid less for doing the same work as colleagues in similar roles.
            </h2>
            <h2>
              We’ve maintained various roles because of economic pressure and obligation, or because we were unsure
              about finding more desirable opportunities.
            </h2>
            <h2>
              This is the story of our founding team. Sadly, this is also the story of many people of color in the
              workplace. We’re talented, ambitious and driven but often feel undervalued, unwelcomed, invisible and
              shuttered from the opportunities we desire.
            </h2> -->
            <p>
              We created TaSA as an oasis of belonging and visibility for people of African, Latinx, Indigenous, and
              Southeast Asian descent.
            </p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/images/about.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">
    <div class="container-fluid w90" data-aos="fade-up">
      <header class="section-header">
        <h2>OUR OBJECTIVES</h2>
        <!-- <p>Odit est perspiciatis laborum et dicta</p> -->
      </header>

      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/images/values-1.png" class="img-fluid" alt="" />
            <h3>CULTIVATE</h3>
            <p>
              The largest single network of Black/African, Latinx, Southeast Asian & Indigenous talent in the world.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="assets/images/values-2.png" class="img-fluid" alt="" />
            <h3>ENHANCE</h3>
            <p>
              Our members’ employability through access to affordably-priced, in-demand online certificate courses from
              top Universities.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="assets/images/values-3.png" class="img-fluid" alt="" />
            <h3>CONNECT</h3>
            <p>
              Our global membership to employment and self-employment opportunities through our best-in-class job board
              and Freelance Platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Values Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" style="margin-top: 80px;" class="features pt-2 pb-2">
    <div class="container-fluid w90" data-aos="fade-up">
      <header class="section-header">
        <h2>FEATURES</h2>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <img src="assets/images/features.png" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Network</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Find Jobs</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Freelance</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Learn</h3>
              </div>
            </div>
            <!-- 
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Social Network</h3>
              </div>
            </div> -->

            <!-- <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3></h3>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="about" style="margin-top: 80px;" class="features pt-3">
    <div class="container-fluid w90" data-aos="fade-up">
      <header class="section-header">
        <h2>THE STORY OF US</h2>
      </header>
      <div class="row story">
        <div class="col-lg-6">
          <!-- Tab Content -->
          <div class="content">
            <div class="fade show">
              <h6 class="font400">
                We’ve spent our careers in the non-profit, and Financial Services industries fighting for visibility and
                inclusion in spaces that benefited from our labor and identity without acknowledging or appreciating the
                value of our contributions.
              </h6>
              <h6 class="font400">
                We understand what it feels like to work twice as hard, and produce twice as much, while receiving fewer
                advancement opportunities, or getting paid less for doing the same work as colleagues in similar roles.
              </h6>

              <h6 class="font400">
                We’ve maintained various roles because of economic pressure and obligation, or because we were unsure
                about finding more desirable opportunities.
              </h6>
              <h6 class="font400">
                This is the story of our founding team. Sadly, this is also the story of many people of color in the
                workplace. We’re talented, ambitious and driven but often feel undervalued, unwelcomed, invisible and
                shuttered from the opportunities we desire.
              </h6>
              <h6 class="font400">
                We created TaSA as an oasis of belonging and visibility for people of African, Latinx, Indigenous, and
                Southeast Asian descent.
              </h6>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img src="assets/images/features-2.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container-fluid w80" data-aos="fade-up">
      <header class="section-header pb-4">
        <h2>Team</h2>
      </header>

      <div class="row gy-4">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="./assets/images/team/habib.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-square"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Habib Bangura</h4>
              <span>Founder & Chief Executive Officer</span>
              <p>
                Habib is a senior level executive with 10+ years of experience and expertise in designing & scaling high
                impact education and human capital ventures in the US. In the past 2 years alone he has informed
                education policy & funding bills in 3 states while launching & scaling an education non-profit across 6
                different states, partnering with 50+ school districts; 140+ schools, directly impacting over 40
                thousand students.
              </p>
              <p class="text-info underline curPoint" (click)="openMyTeam('Habib Bangura', 1)">View More</p>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="./assets/images/team/al.jpeg" class="img-fluid" alt="" />
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-square"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Alhassan Kabia</h4>
              <span>Co-Founder & VP Product & Technology</span>
              <p>
                Alhassan has deep experience in the African Startup ecosystem, most recently helping to launch 2
                successful tech startup on the continent. He's a Financial Services technology professional with extensive experience advising firms
                in banking, healthcare, and auto industries across the continental US, Europe & Africa.
              </p>
              <p class="text-info underline curPoint" (click)="openMyTeam('Alhassan Kabia', 2)">View More</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mb-3">
    <div class="container-fluid w90" data-aos="fade-up">
      <header class="section-header">
        <h2>Contact</h2>
      </header>

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>15000 Potomac Town Place Suite 100554 Woodbridge, VA 22191</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>1-234-567-890<br />1-234-567-890</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@talentsourceafrica.com<br /></p>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday<br />9:00AM - 05:00PM</p>
              </div>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6">
          <form (ngSubmit)="submit()" [formGroup]="contactUsForm" id="contact-form" novalidate>
            <div>
              <span class="uppercase text-sm text-gray-600 font-bold pb-1"
                >Full Name <span class="text-danger pl-1 asterisk">*</span></span
              >
              <input formControlName="firstName" class="form-control mt-2" type="text" required placeholder="" />
              <small
                [hidden]="contactUsForm.controls.firstName.valid || contactUsForm.controls.firstName.untouched"
                class="text-danger"
                translate
              >
                Full Name is required
              </small>
            </div>
            <div class="mt-3">
              <span class="uppercase text-sm text-gray-600 font-bold"
                >Email <span class="text-danger pl-1 asterisk">*</span></span
              >
              <input formControlName="email" class="form-control mt-2" type="text" />
              <small
                [hidden]="contactUsForm.controls.email.valid || contactUsForm.controls.email.untouched"
                class="text-danger"
                translate
              >
                Email is required
              </small>
            </div>
            <div class="mt-3">
              <span class="uppercase text-sm text-gray-600 font-bold"
                >Contact Number <span class="text-danger pl-1 asterisk">*</span></span
              >
              <input
                formControlName="contactNumber"
                class="form-control mt-2"
                type="number"
                min="0"
                step="1"
                oninput="validity.valid||(value='');"
                placeholder=""
                required
              />
              <small
                [hidden]="contactUsForm.controls.contactNumber.valid || contactUsForm.controls.contactNumber.untouched"
                class="text-danger"
                translate
              >
                Contact Number is required
              </small>
            </div>
            <div class="mt-3">
              <span class="uppercase text-sm text-gray-600 font-bold"
                >Message <span class="text-danger pl-1 asterisk">*</span></span
              >
              <textarea formControlName="message" class="form-control mt-2"></textarea>
              <small
                [hidden]="contactUsForm.controls.message.valid || contactUsForm.controls.message.untouched"
                class="text-danger"
                translate
              >
                Message is required
              </small>
            </div>
            <div class="mt-4 text-center">
              <button
                mat-flat-button
                color="primary"
                [disabled]="checkDisable()"
                type="submit"
                class="rounded-pill ml-2 w50"
              >
                <i class="far fa-paper-plane fa-lg pr-2"></i>
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <section id="call-to-action" class="animated fadeInUp bg-primary-more-light">
    <div class="container text-center">
      <h3>
        Join us in building the largest community of Black/African, Latinx, Indigenous, and Southeast Asian talent in
        the world.
      </h3>
      <p class="text-center">
        <button mat-flat-button class="rounded-pill w30" color="primary" (click)="signup()">
          Sign Up
        </button>
      </p>
    </div>
  </section>
</ng-template>
