<div class="news-wrapper container mt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="newsConfig.fetchingNews">
      <img src="../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching News...</h5>
    </div>
    <div class="page__container animated fadeIn" *ngIf="!newsConfig.fetchingNews">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active"><a>News</a></li>
        <li class="breadcrumb-item active text-truncate">{{ newsConfig.data.description }}</li>
      </ol>
    </div>
    <div class="row" *ngIf="!newsConfig.fetchingNews">
      <div class="col-12">
        <div class="card mt-2 m-0">
          <div class="text-center" style="background: #ebe9ee; padding: 10px;">
            <img [src]="newsConfig.data.image" class="img-thumbnail" alt="course" />
            <p class="badge badge-warning p-2 position-absolute" style="font-size: 17px; right:5px;">
              <a>{{ newsConfig.data.createdOn | date: 'mediumDate' }} </a>
            </p>
          </div>
          <div class="card-body">
            <h2 class="underline">{{newsConfig.data.publishedBy}}</h2>
            <h5 class="font400">{{ newsConfig.data.description }}</h5>
            <hr />
            <div class="p-2 mt-2 list-group list-group-fit font300" style="font-size: 16px;">
              {{ newsConfig.data.fullArticle }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
