<div class="news-wrapper container mt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="newsConfig.fetchingNews">
      <img src="../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching News...</h5>
    </div>
    <div class="page__container animated fadeIn" *ngIf="!newsConfig.fetchingNews">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active"><a>News</a></li>
        <li class="breadcrumb-item active text-truncate">{{ newsConfig.data.description }}</li>
      </ol>
    </div>
    <div class="row" *ngIf="!newsConfig.fetchingNews">
      <div class="col-12">
        <div class="card mt-2 m-0">
          <div class="text-center" style="background: black; padding: 10px;">
            <img [src]="newsConfig.data.image" class="img-thumbnail" alt="course" />
          </div>
          <div class="card-body">
            <h5>{{ newsConfig.data.description }}</h5>
            <hr/>
            <div class="p-2 mt-2 list-group list-group-fit" style="font-size: 16px;">{{ newsConfig.data.fullArticle }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
