:root {
  --form-height: 600px;
  --form-width: 900px;
  --left-color: #523f6d;
  --right-color: #96dbe2;
}

.mat-dialog-container {
  overflow: hidden !important;
}

.signup-wrapper {
  .new-container {
    width: var(--form-width);
    height: var(--form-height);
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
    /* border-radius: 10px; */
  }
  /* 
  ----------------------
        Overlay
  ----------------------
  */
  .new-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to right, var(--left-color), var(--right-color));
    /* border-radius: 10px; */
    color: white;
    clip: rect(0, 420px, var(--form-height), 0);
  }

  .open-sign-up {
    animation: slideleft 1s linear forwards;
  }

  .open-sign-in {
    animation: slideright 1s linear forwards;
  }

  .new-overlay .sign-in,
  .new-overlay .sign-up {
    /*  Width is 420px - padding  */
    --padding: 4px;
    width: calc(420px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
  }

  .new-overlay .sign-in {
    float: left;
  }

  .overlay-text-left-animation {
    animation: text-slide-in-left 1s linear;
  }
  .overlay-text-left-animation-out {
    animation: text-slide-out-left 1s linear;
  }

  .new-overlay .sign-up {
    float: right;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }

  .overlay-text-right-animation {
    animation: text-slide-in-right 1s linear;
  }

  .overlay-text-right-animation-out {
    animation: text-slide-out-right 1s linear;
  }

  .new-overlay h1 {
    margin: 0px 5px;
    font-size: 2.1rem;
  }

  .new-overlay p {
    margin: 20px 0px 30px;
    font-weight: 200;
  }
  /* 
  ------------------------
        Buttons
  ------------------------
  */
  .switch-button,
  .control-button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-radius: 20px;
    color: white;
  }

  .switch-button {
    border: 2px solid;
  }

  .control-button {
    border: none;
    margin-top: 15px;
  }

  .switch-button:focus,
  .control-button:focus {
    outline: none;
  }

  .control-button.up {
    background-color: var(--left-color);
  }

  .control-button.in {
    background-color: var(--right-color);
  }

  /* 
  --------------------------
        Forms
  --------------------------
  */
  .form {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
  }

  .form .sign-in,
  .form .sign-up {
    --padding: 28px;
    position: absolute;
    /*  Width is 100% - 385px - padding  */
    width: calc(var(--form-width) - 385px - var(--padding) * 2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px var(--padding);
    text-align: center;
    height: 100%;
  }

  /* Sign in is initially not displayed */
  .form .sign-in {
    display: none;
    height: 100%;
  }

  .form .sign-in {
    left: 0;
  }

  .form .sign-up {
    right: 0;
  }

  .form-right-slide-in {
    animation: form-slide-in-right 1s;
  }

  .form-right-slide-out {
    animation: form-slide-out-right 1s;
  }

  .form-left-slide-in {
    animation: form-slide-in-left 1s;
  }

  .form-left-slide-out {
    animation: form-slide-out-left 1s;
  }

  .form .sign-in h1 {
    color: var(--right-color);
    margin: 0;
  }

  .form .sign-up h1 {
    color: var(--left-color);
    margin: 0;
  }

  .social-media-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
  }

  .social-media-buttons .icon {
    width: 40px;
    height: 40px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 7px;
  }

  .small {
    font-size: 13px;
    color: grey;
    font-weight: 200;
    margin: 5px;
  }

  .social-media-buttons .icon svg {
    width: 25px;
    height: 25px;
  }

  #sign-in-form input,
  #sign-up-form input {
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px;
  }

  #sign-in-form input::placeholder {
    letter-spacing: 1px;
  }

  .forgot-password {
    font-size: 12px;
    display: inline-block;
    border-bottom: 2px solid #efebeb;
    padding-bottom: 3px;
  }

  .forgot-password:hover {
    cursor: pointer;
  }

  /* 
  ---------------------------
      Animation
  ---------------------------
  */
  @keyframes slideright {
    0% {
      clip: rect(0, 450px, var(--form-height), 0);
    }
    30% {
      clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50% {
      clip: rect(
        0px,
        calc(var(--form-width) / 2 + 480px / 2),
        var(--form-height),
        calc(var(--form-width) / 2 - 480px / 2)
      );
    }
    80% {
      clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    100% {
      clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 450px));
    }
  }

  @keyframes slideleft {
    100% {
      clip: rect(0, 450px, var(--form-height), 0);
    }
    70% {
      clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50% {
      clip: rect(
        0px,
        calc(var(--form-width) / 2 + 480px / 2),
        var(--form-height),
        calc(var(--form-width) / 2 - 480px / 2)
      );
    }
    30% {
      clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    0% {
      clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 450px));
    }
  }

  @keyframes text-slide-in-left {
    0% {
      padding-left: 20px;
    }
    100% {
      padding-left: 50px;
    }
  }

  @keyframes text-slide-in-right {
    0% {
      padding-right: 20px;
    }
    100% {
      padding-right: 50px;
    }
  }

  @keyframes text-slide-out-left {
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 20px;
    }
  }

  @keyframes text-slide-out-right {
    0% {
      padding-right: 50px;
    }
    100% {
      padding-right: 20px;
    }
  }

  @keyframes form-slide-in-right {
    0% {
      padding-right: 100px;
    }
    100% {
      padding-right: 50px;
    }
  }

  @keyframes form-slide-in-left {
    0% {
      padding-left: 100px;
    }
    100% {
      padding-left: 50px;
    }
  }

  @keyframes form-slide-out-right {
    0% {
      padding-right: 50px;
    }
    100% {
      padding-right: 80px;
    }
  }

  @keyframes form-slide-out-left {
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 80px;
    }
  }

  .flip-card-pseudo {
    min-width: 25vw !important;
    max-width: 25vw !important;
    max-height: 20vh !important;
    min-height: 20vh !important;
  }

  .form-class {
    width: 50vw !important;
  }

  .h3-class {
    color: --left-color;
  }

  .w20 {
    min-width: 20vw !important;
  }

  .flip-card {
    width: 400px;
    // height: 300px;
    perspective: 1000px;
    transition: 2s;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    background-color: white;
  }

  .is-flipped {
    transform: rotateY(179deg);
  }

  #flip-card-front,
  #flip-card-back {
    width: 100%;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
  }

  #flip-card-front {
    color: black;
    background-color: white;
  }

  #flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }

  .btn-height {
    height: 42px !important;
  }
}
.terms-privacy-modal {
  .modal-content {
    left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    top: 5%;
  }
}
