<div class="signup-wrapper">
  <div class="new-container p-0 m-0">
    <div class="new-overlay" id="new-overlay">
      <div class="sign-in" id="sign-in">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login to TaSA.</p>
        <button class="switch-button" id="slide-right-button">Sign In</button>
      </div>
      <div class="sign-up" id="sign-up">
        <h4 *ngIf="popupData.case == 'student'" class="h3-class margin-btm text-center">
          Be visible, belong, and be you.
        </h4>
        <p>Sign Up, it's quick and easy.</p>
        <button class="switch-button" id="slide-left-button">Sign Up</button>
      </div>
    </div>
    <div class="form">
      <div class="sign-in" id="sign-in-info">
        <h1>Sign In</h1>
        <form [formGroup]="loginForm" novalidate class="form-class">
          <div class="flip-card-pseudo animated fadeInUp min-vertical-h-25 mt-3 w50 mx-auto">
            <div class="flip-card-inner-class p-2">
              <div id="flip-card-front-class" class="col-12 px-0">
                <div class="form-group d-block text-left">
                  <label class="form-label" for="email"
                    >Email Address <span class="text-danger pl-1 asterisk">*</span></label
                  >
                  <div class="input-group input-group-merge">
                    <input
                      id="email"
                      type="email"
                      formControlName="username"
                      class="form-control form-control-prepended"
                      placeholder="Enter your email address"
                    />
                    <!-- <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="far fa-envelope"></span>
                      </div>
                    </div> -->
                  </div>
                  <small
                    [hidden]="userDetailsForm.controls.email.valid || userDetailsForm.controls.email.untouched"
                    class="text-danger"
                    translate
                  >
                    Email is required
                  </small>
                </div>
                <div class="form-group d-block text-left">
                  <label class="form-label" for="password"
                    >Password <span class="text-danger pl-1 asterisk">*</span></label
                  >
                  <div class="input-group input-group-merge">
                    <input
                      id="password"
                      type="password"
                      formControlName="password"
                      class="form-control form-control-prepended"
                      placeholder="Enter your password"
                    />
                  </div>
                  <small
                    [hidden]="userDetailsForm.controls.password.valid || userDetailsForm.controls.password.untouched"
                    class="text-danger"
                    translate
                  >
                    Password is required
                  </small>
                </div>
              </div>
              <div id="flip-card-back" class=""></div>
            </div>
          </div>
          <div class="mt-4 text-center">
            <button mat-flat-button color="primary" (click)="login()" class="rounded-pill ml-2 w30">
              Sign In
            </button>
          </div>
        </form>
      </div>
      <div class="sign-up px-0" id="sign-up-info">
        <h1>Sign Up <span *ngIf="popupData.case == 'recruiter'" class="text-muted underline"> As Recruiter </span></h1>
        <ng-container *ngIf="popupData.case == 'student' || popupData.case == 'sign-in'">
          <form [formGroup]="userDetailsForm" novalidate class="form-class">
            <div class="flip-card animated fadeInUp min-vertical-h-35 mt-3 w20 mx-auto">
              <div class="flip-card-inner animated fadeInUp" *ngIf="signupSteps[0].isActive">
                <div id="flip-card-front" class="col-12 px-0 text-left">
                  <div class="form-group d-block">
                    <label class="form-label" for="email"
                      >Email Address <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="form-control form-control-prepended"
                        placeholder="Enter your email address"
                        (blur)="checkEmail()"
                        [ngClass]="{ 'ng-invalid ng-touched': !isEmailAvailable }"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.email.valid || userDetailsForm.controls.email.untouched"
                      class="text-danger"
                      translate
                    >
                      Email is required
                    </small>
                    <small [hidden]="isEmailAvailable" class="text-danger" translate>
                      Email Address already exists
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="password"
                      >Password <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="password"
                        type="password"
                        formControlName="password"
                        class="form-control form-control-prepended"
                        placeholder="Enter your password"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.password.valid || userDetailsForm.controls.password.untouched"
                      class="text-danger"
                      translate
                    >
                      Password is required
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="name"
                      >First Name <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="name"
                        type="text"
                        formControlName="firstName"
                        class="form-control form-control-prepended"
                        placeholder="Enter your first name"
                      />
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.firstName.valid ||
                        userDetailsForm.controls.firstName.untouched ||
                        !userDetailsForm.controls.firstName.errors.required
                      "
                      class="text-danger"
                      translate
                    >
                      First Name is required
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="name"
                      >Last Name <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="name"
                        type="text"
                        formControlName="lastName"
                        class="form-control form-control-prepended"
                        placeholder="Enter your last name"
                      />
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.lastName.valid ||
                        userDetailsForm.controls.lastName.untouched ||
                        !userDetailsForm.controls.lastName.errors.required
                      "
                      class="text-danger"
                      translate
                    >
                      Last Name is required
                    </small>
                  </div>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  [disabled]="
                    getForm().password.status != 'VALID' ||
                    getForm().email.status != 'VALID' ||
                    getForm().firstName.status != 'VALID' ||
                    getForm().lastName.status != 'VALID'
                  "
                  (click)="signupStepsClick(0, true)"
                  class="rounded-pill ml-2 w30"
                >
                  NEXT
                </button>
                <!-- <div id="flip-card-back" class="">
                  <h6 class="text-center">Before you proceed...</h6>

                  <div class="custom-control custom-checkbox mb-2 pt-2">
                    <mat-checkbox
                      id="terms"
                      class="custom-control-input"
                      formControlName="termsCond"
                      required
                    ></mat-checkbox>
                    <input
                      id="terms"
                      type="checkbox"
                      class="custom-control-input"
                      formControlName="termsCond"
                      required=""
                    />
                    <label for="terms" class="custom-control-label text-black-70"
                      >I agree to the
                      <a class="text-black-70 curPoint" (click)="openDoc('term')" style="text-decoration: underline;"
                        >Terms and Condition</a
                      >
                      And
                      <a class="text-black-70 curPoint" (click)="openDoc('privacy')" style="text-decoration: underline;"
                        >Privacy & Policy.</a
                      ></label
                    >
                  </div>
                </div> -->
              </div>
              <div class="flip-card-inner animated fadeInUp" *ngIf="signupSteps[1].isActive">
                <div id="flip-card-front" class="col-12 px-0 text-left mb-4 mt-4">
                  <div class="text-center">
                    <h4 class="text-shadow-theme animated fadeInUp transition-1 text-info">
                      Representation matters! We want companies to know you’re here
                    </h4>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="name"
                      >Race / Enthinicity<span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <mat-select
                        formControlName="raceEthnicity"
                        placeholder="Select"
                        class="form-control form-control-prepended"
                      >
                        <mat-option *ngFor="let item of raceData" [value]="item.code">
                          {{ item.code }}
                        </mat-option>
                      </mat-select>
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.raceEthnicity.valid ||
                        userDetailsForm.controls.raceEthnicity.untouched ||
                        !userDetailsForm.controls.raceEthnicity.errors.required
                      "
                      class="text-danger"
                      translate
                    >
                      Race / Enthinicity is required
                    </small>
                  </div>
                  <ng-container *ngIf="userDetailsForm.controls.raceEthnicity.value === 'Native American'">
                    <div class="form-group d-block">
                      <label class="form-label" for="name"
                        >Tribe <span class="text-danger pl-1 asterisk">*</span></label
                      >
                      <div class="input-group input-group-merge">
                        <mat-select
                          formControlName="tribe"
                          placeholder="Select"
                          class="form-control form-control-prepended"
                        >
                          <mat-option *ngFor="let item of tribeData" [value]="item.tribe">
                            {{ item.tribe }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <small
                        [hidden]="
                          userDetailsForm.controls.tribe.valid ||
                          userDetailsForm.controls.tribe.untouched ||
                          !userDetailsForm.controls.tribe.errors.required
                        "
                        class="text-danger"
                        translate
                      >
                        Tribe is required
                      </small>
                    </div>
                    <div class="form-group d-block">
                      <label class="form-label" for="name"
                        >Tribally Enrolled<span class="text-danger pl-1 asterisk">*</span></label
                      >
                      <div class="input-group input-group-merge">
                        <mat-radio-group aria-label="Select an option" formControlName="tribeEnrolled">
                          <mat-radio-button value="Y">YES</mat-radio-button>
                          <mat-radio-button value="N" class="pl-4">NO</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  (click)="signupStepsClick(1, false)"
                  class="rounded-pill ml-2 w30"
                >
                  BACK
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  (click)="signupStepsClick(1, true)"
                  [disabled]="
                    getForm().raceEthnicity.status != 'VALID' ||
                    (userDetailsForm.controls.raceEthnicity.value === 'Native American' &&
                      getForm().tribe.status != 'VALID')
                  "
                  class="rounded-pill ml-2 w30"
                >
                  NEXT
                </button>
              </div>
              <div class="flip-card-inner animated fadeInUp" *ngIf="signupSteps[2].isActive">
                <div id="flip-card-front" class="col-12 px-0 text-left mb-4 mt-4">
                  <div class="text-center">
                    <h4 class="text-shadow-theme animated fadeInUp transition-1 text-warning">
                      Discover opportunities and engage with people near you.
                    </h4>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="name">Country<span class="text-danger pl-1 asterisk">*</span></label>
                    <div class="input-group input-group-merge">
                      <mat-select
                        formControlName="country"
                        placeholder="Select"
                        class="form-control form-control-prepended"
                      >
                        <mat-option *ngFor="let country of countries" [value]="country.title">
                          {{ country.title }}
                        </mat-option>
                      </mat-select>
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.country.valid ||
                        userDetailsForm.controls.country.untouched ||
                        !userDetailsForm.controls.country.errors.required
                      "
                      class="text-danger"
                      translate
                    >
                      Country is required
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="postalCode"
                      >Postal Code <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="postalCode"
                        type="text"
                        formControlName="postalCode"
                        class="form-control form-control-prepended"
                        placeholder="Enter your postal code"
                      />
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.postalCode.valid || userDetailsForm.controls.postalCode.untouched
                      "
                      class="text-danger"
                      translate
                    >
                      Postal Code is required
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="city">City <span class="text-danger pl-1 asterisk">*</span></label>
                    <div class="input-group input-group-merge">
                      <input
                        id="city"
                        type="text"
                        formControlName="city"
                        class="form-control form-control-prepended"
                        placeholder="Enter your city"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.city.valid || userDetailsForm.controls.city.untouched"
                      class="text-danger"
                      translate
                    >
                      City is required
                    </small>
                  </div>
                  <div class="form-group d-block">
                    <label class="form-label" for="state">State <span class="text-danger pl-1 asterisk">*</span></label>
                    <div class="input-group input-group-merge">
                      <input
                        id="state"
                        type="text"
                        formControlName="state"
                        class="form-control form-control-prepended"
                        placeholder="Enter your state"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.state.valid || userDetailsForm.controls.state.untouched"
                      class="text-danger"
                      translate
                    >
                      State is required
                    </small>
                  </div>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  (click)="signupStepsClick(2, false)"
                  class="rounded-pill ml-2 w30"
                >
                  BACK
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  (click)="onSubmit()"
                  class="rounded-pill ml-2 w30"
                >
                  SUBMIT
                </button>
              </div>
            </div>
            <div class="text-center">
              <!-- <button
                mat-flat-button
                color="primary"
                *ngIf="show"
                [disabled]="getForm().firstName.status != 'VALID' || getForm().lastName.status != 'VALID'"
                (click)="flipOnClick('submit')"
                class="rounded-pill ml-2 w30"
              >
                Alright! Let's Go!
              </button> -->
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="popupData.case == 'recruiter'">
          <form [formGroup]="userDetailsForm" novalidate class="form-class">
            <div class="flip-card animated fadeInUp min-vertical-h-35 mt-3 w20 mx-auto">
              <div class="flip-card-inner animated fadeInUp p-2" *ngIf="signupSteps[0].isActive">
                <div id="flip-card-front" class="col-12 px-0">
                  <div class="form-group text-left">
                    <label class="form-label" for="email"
                      >Email address <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="form-control form-control-prepended"
                        placeholder="Your email address"
                        (blur)="checkEmail()"
                        [ngClass]="{ 'ng-invalid ng-touched': !isEmailAvailable }"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.email.valid || userDetailsForm.controls.email.untouched"
                      class="text-danger"
                      translate
                    >
                      Email is required
                    </small>
                    <small [hidden]="isEmailAvailable" class="text-danger" translate>
                      Email Address already exists
                    </small>
                  </div>
                  <div class="form-group text-left">
                    <label class="form-label" for="password"
                      >Password <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="password"
                        type="password"
                        formControlName="password"
                        class="form-control form-control-prepended"
                        placeholder="Choose a password"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.password.valid || userDetailsForm.controls.password.untouched"
                      class="text-danger"
                      translate
                    >
                      Password is required
                    </small>
                  </div>
                  <div class="form-group text-left">
                    <label class="form-label" for="password"
                      >Confirm Password <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="confirmPassword"
                        type="password"
                        formControlName="confirmPassword"
                        class="form-control form-control-prepended"
                        placeholder="Type password"
                      />
                    </div>
                    <small
                      *ngIf="
                        !userDetailsForm.controls.confirmPassword.untouched &&
                        userDetailsForm.controls.confirmPassword.errors?.required
                      "
                      class="text-danger"
                      translate
                    >
                      Confirm Password is required
                    </small>
                    <small
                      *ngIf="userDetailsForm.controls.confirmPassword.errors?.mustMatch"
                      class="text-danger"
                      translate
                    >
                      Confirm Password must match
                    </small>
                  </div>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  *ngIf="!show"
                  [disabled]="
                    getForm().confirmPassword.status != 'VALID' ||
                    getForm().password.status != 'VALID' ||
                    getForm().email.status != 'VALID'
                  "
                  (click)="signupStepsClick(0, true)"
                  class="rounded-pill ml-2 w30"
                >
                  NEXT
                </button>
              </div>
              <div class="flip-card-inner p-2 animated fadeInUp" *ngIf="signupSteps[1].isActive">
                <div id="flip-card-front" class="col-12 px-0">
                  <h6 class="text-center">Before you proceed...</h6>
                  <div class="form-group text-left">
                    <label class="form-label" for="name"
                      >First Name <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="name"
                        type="text"
                        formControlName="firstName"
                        class="form-control form-control-prepended"
                        placeholder="Your first name"
                      />
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.firstName.valid || userDetailsForm.controls.firstName.untouched
                      "
                      class="text-danger"
                      translate
                    >
                      First Name is required
                    </small>
                  </div>
                  <div class="form-group text-left">
                    <label class="form-label" for="name"
                      >Last Name <span class="text-danger pl-1 asterisk">*</span></label
                    >
                    <div class="input-group input-group-merge">
                      <input
                        id="name"
                        type="text"
                        formControlName="lastName"
                        class="form-control form-control-prepended"
                        placeholder="Your last name"
                      />
                    </div>
                    <small
                      [hidden]="userDetailsForm.controls.lastName.valid || userDetailsForm.controls.lastName.untouched"
                      class="text-danger"
                      translate
                    >
                      Last Name is required
                    </small>
                  </div>
                  <div class="form-group text-left">
                    <label class="form-label" for="name"
                      >Organization Name <span class="text-danger pl-1 asterisk">*</span>&nbsp;&nbsp;<i
                        class="underline curPoint text-primary"
                        (click)="createOrganization()"
                        >Add Organization</i
                      ></label
                    >
                    <div class="input-group input-group-merge">
                      <mat-select
                        formControlName="organizationName"
                        placeholder="Your Organization"
                        required
                        class="form-control form-control-prepended"
                      >
                        <mat-option
                          *ngFor="let item of organisationList"
                          (click)="setOrgId(item)"
                          [value]="item.orgName"
                        >
                          {{ item.orgName }}
                        </mat-option>
                      </mat-select>
                    </div>
                    <small
                      [hidden]="
                        userDetailsForm.controls.organizationName.valid ||
                        userDetailsForm.controls.organizationName.untouched
                      "
                      class="text-danger"
                      translate
                    >
                      Organization Name is required
                    </small>
                  </div>
                  <div class="custom-control custom-checkbox mb-2 pt-2">
                    <mat-checkbox
                      id="terms"
                      class="custom-control-input"
                      formControlName="termsCond"
                      required
                    ></mat-checkbox>
                    <input
                      id="terms"
                      type="checkbox"
                      class="custom-control-input"
                      formControlName="termsCond"
                      required=""
                    />
                    <label for="terms" class="custom-control-label text-black-70 pb-2"
                      >I agree to the
                      <a class="text-black-70 curPoint" (click)="openDoc('term')" style="text-decoration: underline;"
                        >Terms and Condition</a
                      >
                      And
                      <a class="text-black-70 curPoint" (click)="openDoc('privacy')" style="text-decoration: underline;"
                        >Privacy & Policy.</a
                      ></label
                    >
                  </div>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="signupStepsClick(1, true)"
                  class="rounded-pill ml-2 w30"
                >
                  BACK
                </button>
                <button mat-flat-button color="primary" (click)="flipOnClick('submit')" class="rounded-pill ml-2 w30">
                  Sign Up
                </button>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="terms-privacy-modal">
  <div id="myModal" class="modal" [ngClass]="{ 'd-block': doc != '' }">
    <div class="modal-content">
      <div class="text-center p-3">
        <button mat-flat-button color="primary" (click)="doc = ''" class="rounded-pill ml-2">
          Close
        </button>
      </div>
      <ngx-doc-viewer [url]="doc" viewer="url" style="width: 100%; height: 100%;"></ngx-doc-viewer>
    </div>
  </div>
</div>
