<div class="d-flex align-items-center no-gutters">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <div class="card-header text-center mb-4">
      <h4 class="card-title">
        Applying For - <strong class="text-primary">{{ popupData.applyingForJob.title }}</strong>
      </h4>
    </div>
    <div class="p-4 card w50 m-auto">
      <div class="text-center">
        <mat-form-field class="d-block mx-auto pb-2 w80">
          <mat-label>Name</mat-label>
          <input matInput [value]="popupData.user.firstName + ' ' + popupData.user.lastName" readonly />
        </mat-form-field>
        <mat-form-field class="d-block mx-auto pb-2 w80">
          <mat-label>E-Mail</mat-label>
          <input matInput [value]="popupData.user.email" readonly />
        </mat-form-field>
        <div *ngIf="resumeLink != ''" class="mb-2">
          <a [href]="resumeLink" class="pr-2" target="_blank" readonly>
            <i class="fas fa-file-alt fa-5x text-primary"></i
          ></a>
        </div>
        <div class="row d-block text-center">
          <button
            mat-flat-button
            color="primary"
            (click)="triggerUpload()"
            matTooltipPosition="below"
            matTooltip="Upload Resume / CV"
            class="align-middle rounded-pill ml-2"
          >
            <span class="material-icons pb-1 pr-2">
              cloud_upload
            </span>
            Upload Resume / CV
          </button>
        </div>
      </div>
      <input id="resumeUpload" class="d-none" #uploadResume type="file" (change)="uploadFile($event)" />
    </div>
    <div class="card-footer mt-4">
      <div class="col-12 text-center mt-3">
        <button
          [disabled]="resumeLink == ''"
          mat-flat-button
          color="primary"
          class="rounded-pill ml-2"
          (click)="applyForJob()"
        >
          Apply
        </button>
        <button mat-flat-button color="primary" mat-dialog-close class="rounded-pill ml-2">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
