<div class="user-details-wrapper">
  <div class="d-flex align-items-center no-gutters">
    <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
      <div class="navbar-shadow">
        <div class="p-3 text-center">
          <div class="row no-gutters">
            <div class="col-sm-10 col-md-11">
              <h2 class="pt-2 text-muted caps">
                WELCOME
                <span class="text-shadow-theme animated fadeInUp transition-1 text-primary"
                  >{{ user.firstName }} {{ user.lastName }}
                </span>
              </h2>
            </div>
            <div class="col-sm-2 col-md-1">
              <button mat-flat-button color="warn" (click)="skip()" class="rounded-pill ml-2 caps">
                SKIP
              </button>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="user">
          <ng-container *ngTemplateOutlet="afterLoginTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #afterLoginTemplate>
    <div class="animated fadeInUp" *ngIf="steps[0].isActive">
      <div class="user-upload-avatar p-5 text-center">
        <img
          class="user-img curPoint mr-1"
          src="{{
            user.image !== ''
              ? user.image
              : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
          }}"
        />
        <div>
          <button mat-flat-button color="primary" class="rounded-pill mt-4" (click)="callUpload($event)">
            Change Avatar
          </button>
        </div>
      </div>
      <div class="m-auto text-center">
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          [disabled]="true"
          matTooltipPosition="below"
          matTooltip="Previous"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(0, true)"
          matTooltipPosition="below"
          matTooltip="Next"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="animated fadeInUp" *ngIf="steps[1].isActive">
      <div class="m-auto text-center">
        <label class="form-label text-left" for="headline">Headline</label>
        <textarea
          name=""
          id="headline"
          [(ngModel)]="user.profileSummary"
          class="form-control form-control-prepended"
          cols="30"
          rows="3"
          maxlength="120"
        ></textarea>
        <div>
          <button mat-flat-button color="primary" class="rounded-pill mt-4" (click)="submit('headline')">
            Save Headline
          </button>
        </div>
        <div class="mt-4">
          <button
            mat-mini-fab
            color="primary"
            style="z-index: 9;"
            class="mr-2"
            (click)="stepsClick(1, false)"
            matTooltipPosition="below"
            matTooltip="Previous"
          >
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            style="z-index: 9;"
            class="mr-2"
            (click)="stepsClick(1, true)"
            matTooltipPosition="below"
            matTooltip="Next"
          >
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="animated fadeInUp" *ngIf="steps[2].isActive">
      <div class="user-experience p-2 text-center">
        <h4 class="text-shadow-theme animated fadeInUp transition-1 text-info mb-1">
          Connect with new people and exciting opportunities.
        </h4>
        <h5 class="text-shadow-theme animated fadeInUp transition-1 text-info">
          Help us recommend the right jobs, people, and courses.
        </h5>
        <ng-container *ngTemplateOutlet="experience"></ng-container>
      </div>
      <div class="m-auto text-center mt-2">
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(2, false)"
          matTooltipPosition="below"
          matTooltip="Previous"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(2, true)"
          matTooltipPosition="below"
          matTooltip="Next"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="animated fadeInUp" *ngIf="steps[3].isActive">
      <div class="user-education p-2 text-center">
        <h4 class="text-shadow-theme animated fadeInUp transition-1 text-warning mb-1">
          Connect with new people and exciting opportunities.
        </h4>
        <h5 class="text-shadow-theme animated fadeInUp transition-1 text-warning">
          Help us recommend the right jobs, people, and courses.
        </h5>
        <ng-container *ngTemplateOutlet="education"></ng-container>
      </div>
      <div class="m-auto text-center mt-2">
        <button
          mat-mini-fab
          color="primary"
          class="mr-2"
          (click)="stepsClick(3, false)"
          matTooltipPosition="below"
          matTooltip="Previous"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-flat-button color="primary" (click)="navigateInside()" class="rounded-pill caps">
          FINISH
        </button>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #experience>
  <div class="form-group col-12" style="display: grid;" *ngFor="let item of user.experience; let i = index">
    <div class="pt-2 w80 m-auto p-2 min-vertical-h-50 max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden">
      <div class="row no-gutters w100">
        <div class="col-12">
          <div class="form-group text-left">
            <label class="form-label" for="currentRole"
              >Most recent job Title <span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <input
                id="currentRole{{ i }}"
                type="text"
                [(ngModel)]="item.currentRole[0]"
                class="form-control form-control-prepended"
                placeholder="Your job title"
              />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group text-left">
            <label class="form-label" for="organization">Name of most recent of employer</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="organization{{ i }}"
                [(ngModel)]="item.organization"
                class="form-control form-control-prepended"
                placeholder="Your organization"
              />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group text-left">
            <label class="form-label" for="industry">Industry</label>
            <mat-select
              id="industry"
              [(ngModel)]="item.industry"
              placeholder="Your Industry"
              multiple
              required
              [(value)]="item.industry"
              class="form-control form-control-prepended"
              placeholder="Your industry"
            >
              <mat-option *ngFor="let item of industryData" [value]="item.code">
                {{ item.code }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row no-gutters w100">
          <div class="col-12 form-group text-left w100">
            <label class="form-label" for="professionalInterests">Professional Interests</label>
            <div class="input-group input-group-merge w100">
              <mat-chip-list #chipList aria-label="Fruit selection" class="w100">
                <mat-chip
                  *ngFor="let item of user.preferredRole"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item)"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Your professional interests"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                  class="form-control form-control-prepended"
                />
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters text-center">
        <div class="col-sm-12 col-md-4">
          <div class="form-group text-left">
            <label class="form-label" for="experienceFrom">Job Start Date</label>
            <div class="input-group input-group-merge">
              <input
                matInput
                class="form-control form-control-prepended"
                [matDatepicker]="picker1"
                readonly
                [(ngModel)]="item.experienceFrom"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary"></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4"  *ngIf="item.experience === 'false'">
          <div class="form-group pl-2 w45 text-left">
            <label class="form-label" for="experienceTo">Job End Date</label>
            <div class="input-group input-group-merge">
              <input
                matInput
                class="form-control form-control-prepended"
                [matDatepicker]="picker2"
                readonly
                [(ngModel)]="item.experienceTo"
              />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="d-flex pt-4">
            <div class="input-group input-group-merge justify-content-center">
              <div class="f-color d-flex">
                <mat-slide-toggle
                  class="example-margin text-primary"
                  checked="{{ item.experience === 'true' ? true : false }}"
                  (change)="item.experience === 'true' ? (item.experience = 'false') : (item.experience = 'true')"
                >
                  Current Job
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        [disabled]="item.currentRole[0] === ''"
        class="rounded-pill mt-4"
        (click)="submit('experience')"
      >
        Save Experience
      </button>
    </div>
  </div>
</ng-template>

<ng-template #education>
  <div class="form-group col-12" style="display: grid;" *ngFor="let item of user.education; let i = index">
    <div class="pt-2 m-auto p-2 w80 min-vertical-h-50 max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="form-group text-left">
            <label class="form-label" for="currentRole"
              >Highest degree attained <span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <mat-select
                id="highestDegree{{ i }}"
                [(ngModel)]="item.highestDegree"
                [(value)]="item.highestDegree"
                class="form-control form-control-prepended"
                placeholder="Your degree"
              >
                <mat-option *ngFor="let item of highestDegreeData" [value]="item.code">
                  {{ item.code }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row no-gutters">
            <div class="col-6 pr-2">
              <div class="form-group text-left">
                <label class="form-label" for="organization">School/College</label>
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="college{{ i }}"
                    [(ngModel)]="item.college[0]"
                    placeholder="Your school/college"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group text-left">
                <label class="form-label" for="description">University</label>
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="university{{ i }}"
                    [(ngModel)]="item.university[0]"
                    class="form-control form-control-prepended"
                    placeholder="Your university"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-left">
        <label class="form-label" for="description">Major</label>
        <div class="input-group input-group-merge">
          <input
            type="text"
            id="major{{ i }}"
            [(ngModel)]="item.major"
            class="form-control form-control-prepended"
            placeholder="Your major"
          />
        </div>
      </div>
      <div class="form-group text-left">
        <label class="form-label" for="description">Minor</label>
        <div class="input-group input-group-merge">
          <mat-chip-list #chipList aria-label="Fruit selection" class="w100">
            <mat-chip
              *ngFor="let item of item.minor"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(item, 'minor')"
            >
              {{ item }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Your minor"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event, 'minor')"
              class="form-control form-control-prepended"
            />
          </mat-chip-list>
        </div>
      </div>
      <!-- <div class="d-flex">
        <div class="form-group w45">
          <label class="form-label" for="degreeFromDate"
            >Degree Start Date<span class="text-danger pl-1 asterisk">*</span></label
          >
          <div class="input-group input-group-merge">
            <input
              matInput
              class="form-control form-control-prepended"
              [matDatepicker]="picker1"
              readonly
              [(ngModel)]="item.degreeFromDate"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </div>
        </div>
        <div class="form-group pl-2 w45">
          <label class="form-label" for="degreeToDate"
            >Degree End Date<span class="text-danger pl-1 asterisk">*</span></label
          >
          <div class="input-group input-group-merge">
            <input
              matInput
              class="form-control form-control-prepended"
              [matDatepicker]="picker2"
              readonly
              [(ngModel)]="item.degreeToDate"
            />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </div>
        </div>
      </div> -->
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        class="rounded-pill"
        [disabled]="item.highestDegree === ''"
        (click)="submit('education')"
      >
        Save Education
      </button>
    </div>
  </div>
</ng-template>

<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />
