<div class="user-details-wrapper">
  <div class="d-flex align-items-center no-gutters">
    <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
      <div class="navbar-shadow">
        <div class="p-3 text-center">
          <div class="row no-gutters">
            <div class="col-11">
              <h2 class="pt-2 text-muted caps">
                WELCOME
                <span class="text-shadow-theme animated fadeInUp transition-1 text-primary"
                  >{{ user.firstName }} {{ user.lastName }}
                </span>
              </h2>
            </div>
            <div class="col-1">
              <button mat-flat-button color="warn" (click)="skip()" class="rounded-pill ml-2 w30">
                SKIP
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ng-container *ngTemplateOutlet="afterLoginTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #afterLoginTemplate>
    <div class="animated fadeInUp" *ngIf="steps[0].isActive">
      <div class="user-upload-avatar p-5 text-center">
        <img
          class="user-img curPoint mr-1"
          src="{{
            user.image !== ''
              ? user.image
              : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
          }}"
        />
        <div>
          <button mat-flat-button color="primary" class="rounded-pill mt-4 w25" (click)="callUpload($event)">
            Upload Avatar
          </button>
        </div>
      </div>
      <div class="bg-theme-light m-auto text-center">
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          [disabled]="true"
          matTooltipPosition="below"
          matTooltip="Previous"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(0, true)"
          matTooltipPosition="below"
          matTooltip="Next"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="animated fadeInUp" *ngIf="steps[1].isActive">
      <div class="user-experience p-2 text-center">
        <h4 class="text-shadow-theme animated fadeInUp transition-1 text-info">
          Connect with new people and exciting opportunities.
        </h4>
        <h6 class="text-shadow-theme animated fadeInUp transition-1 text-info">
          Help us recommend the right jobs, people, and courses.
        </h6>
        <ng-container *ngTemplateOutlet="experience"></ng-container>
        <div>
          <button mat-flat-button color="primary" class="rounded-pill mt-4 w25" (click)="submit()">
            Save Experience
          </button>
        </div>
      </div>
      <div class="bg-theme-light m-auto text-center">
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(1, false)"
          matTooltipPosition="below"
          matTooltip="Previous"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-2"
          (click)="stepsClick(1, true)"
          matTooltipPosition="below"
          matTooltip="Next"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #experience>

  <div class="form-group col-12" *ngFor="let item of user.experience; let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mb-1" [expanded]="i == 0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-primary">
            <strong>Experience {{ i + 1 }}</strong>
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <div class="text-right" *ngIf="i > 0">
              <mat-icon matTooltipPosition="below" matTooltip="Remove Experience" (click)="removeExp(i)"
                >remove_circle_outline</mat-icon
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pt-2">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="form-group text-left">
                <label class="form-label" for="currentRole"
                  >Title</label
                >
                <div class="input-group input-group-merge">
                  <input
                    id="currentRole{{ i }}"
                    type="text"
                    [(ngModel)]="item.currentRole[0]"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pl-2 text-left">
                <label class="form-label" for="organization"
                  >Organization</label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="organization{{ i }}"
                    [(ngModel)]="item.organization"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group text-left">
            <label class="form-label" for="description"
              >Job Description</label
            >
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="description{{ i }}"
                [(ngModel)]="item.description[0]"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
          <div class="d-flex">
            <div class="form-group w45 text-left">
              <label class="form-label" for="experienceFrom"
                >Job Start Date</label
              >
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker1"
                  readonly
                  [(ngModel)]="item.experienceFrom"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </div>
            </div>
            <div class="form-group pl-2 w45 text-left" *ngIf="item.experience === 'false'">
              <label class="form-label" for="experienceTo"
                >Job End Date</label
              >
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker2"
                  readonly
                  [(ngModel)]="item.experienceTo"
                />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </div>
            </div>
            <div class="form-group pl-2 w45 d-flex align-items-center">
              <div class="input-group input-group-merge">
                <div class="f-color d-flex">
                  <mat-slide-toggle
                    class="example-margin text-primary"
                    checked="{{ item.experience === 'true' ? true : false }}"
                    (change)="item.experience === 'true' ? (item.experience = 'false') : (item.experience = 'true')"
                  >
                    Current Job
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-12 text-right">
    <button
      mat-mini-fab
      color="primary"
      matTooltipPosition="below"
      matTooltip="Add More Experience"
      (click)="addExp()"
      class="ml-2 rounded-pill mb-2"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>
<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />
