<div class="course-wrapper container mt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="courseConfig.fetchingCourse">
      <img src="../../../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching Courses...</h5>
    </div>
    <div class="page__container animated fadeIn" *ngIf="!courseConfig.fetchingCourse">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/all-course']">All Courses</a></li>
        <li class="breadcrumb-item active text-truncate">{{ courseConfig.course.title }}</li>
      </ol>
      <h1 class="h2">{{ courseConfig.course.title }}</h1>
      <div class="row pb-4">
        <div class="col-md-8">
          <div class="card m-0 mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <img [src]="courseConfig.course.image_url" class="embed-responsive-item" alt="course" />
            </div>
            <div class="card-body">
              <h5>{{ courseConfig.course.subjects[0].name }}</h5>
              <div [innerHTML]="courseConfig.course.short_description"></div>
            </div>
          </div>
          <!-- Lessons -->
          <div class="card m-0 p-2 mt-3 list-group list-group-fit" [innerHTML]="courseConfig.course.full_description"></div>
          <div class="card m-0 mt-3" *ngIf="courseConfig.course?.prerequisites_raw != ''">
            <div class="card-header">
              <h4 class="card-title">Prerequisites</h4>
            </div>
            <div class="card-body">
              <div [innerHTML]="courseConfig.course?.prerequisites_raw"></div>
            </div>
          </div>
          <div
            class="card m-0 p-2 mt-3 list-group list-group-fit"
            *ngIf="courseConfig.course.syllabus_raw != ''"
            [innerHTML]="courseConfig.course.syllabus_raw"
          ></div>
        </div>
        <div class="col-md-4">
          <div class="card m-0 mt-3">
            <div class="card-body text-center">
              <div *ngIf="!isCourseAlreadyPurchased">
                <button mat-flat-button color="primary" (click)="addToCart('buy')" class="rounded-pill ml-2">
                  Buy Course
                  <strong
                    ><span>{{ courseConfig.course?.offerPrice | currency: 'USD' }}</span></strong
                  >
                </button>
                <hr />
                <button mat-flat-button color="primary" (click)="addToCart('enroll')" class="rounded-pill ml-2">
                  Enroll Course
                  <strong
                    ><span>{{ courseConfig.course?.offerPrice | currency: 'USD' }}</span></strong
                  >
                </button>
              </div>
              <ng-template *ngIf="isCourseAlreadyPurchased" [ngTemplateOutlet]="enrolledCourse"></ng-template>
            </div>
          </div>
          <div class="card m-0 mt-3">
            <div class="card-header">
              <div class="media align-items-center">
                <div class="media-left">
                  <a [href]="courseConfig.course.owners[0].marketing_url" target="_blank">
                    <img
                      [src]="courseConfig.course.owners[0].logo_image_url"
                      [alt]="courseConfig.course.owners[0].name"
                      class="rounded-circle"
                    />
                  </a>
                </div>
                <!-- <div class="media-body">
                  <h4 class="card-title"><a></a></h4>
                  <p class="card-subtitle">{{ courseConfig.course.owners[0].name }}</p>
                </div> -->
              </div>
            </div>
            <div class="card-body p-2">
              <p
                class="min-vertical-h-50 max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden p-2"
                [innerHTML]="courseConfig.course.owners[0].description"
              ></p>
              <div class="border-top pt-2 text-center">
                <a href="" class="btn btn-light"><i class="fab fa-facebook"></i></a>
                <a href="" class="btn btn-light"><i class="fab fa-twitter"></i></a>
                <a href="" class="btn btn-light"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="card m-0 mt-3">
            <ul class="list-group list-group-fit">
              <li class="list-group-item">
                <div class="media align-items-center">
                  <div class="media-left">
                    <i class="material-icons text-muted-light text-primary">assessment</i>
                  </div>
                  <div class="media-body ml-2">
                    {{ courseConfig.course.level_type }}
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media align-items-center">
                  <div class="media-left">
                    <i class="material-icons text-muted-light text-primary">schedule</i>
                  </div>
                  <div class="media-body ml-2">
                    <div>
                      <span>
                        {{ courseConfig.course.courseRuns[0].estimated_hours }}
                        hrs</span
                      >
                    </div>
                    <div>
                      <span>
                        {{ courseConfig.course.courseRuns[0].weeks_to_complete }}
                        Weeks</span
                      >
                    </div>
                    <div>
                      <span>
                        {{ courseConfig.course.courseRuns[0].pacing_type }}
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- <div class="card m-0 mt-3">
            <div class="card-header">
              <h4 class="card-title">Ratings</h4>
            </div>
            <div class="card-body">
              <div class="rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
              </div>
              <small class="text-muted">20 ratings</small>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #enrolledCourse>
  <div class="text-center m-auto animated fadeInUp">
    <div>
      <h1>😊</h1>
      <h6 class="text-muted">You Have Enrolled For This Course.</h6>
    </div>
  </div>
</ng-template>
