<div class="my-job-applications-wrapper">
  <div class="row no-gutters">
    <div class="col-md-3 bg-white" *ngIf="!sharedService.deviceDetectorService.isMobile()">
      <app-left-side></app-left-side>
    </div>
    <div class="col-md-7 min-vertical-h-150">
      <div class="w100">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item active"><a>My Job Applications</a></li>
        </ol>
        <div class="sec-title">
          <div class="title">My Applied Jobs</div>
        </div>
        <ng-container *ngIf="isLoading">
          <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
            <div class="card ml-0 mr-0 my-4" style="height: 100px !important;">
              <div class="card-img skeleton"></div>
            </div>
          </div>
        </ng-container>
        <mat-tab-group *ngIf="!isLoading && jobApplications.length" class="pt-1">
          <mat-tab *ngFor="let status of jobStatus; let index = i" label="{{ status[0] }}">
            <section class="my-job-applications-page-section">
              <div class="row no-gutters">
                <div class="max-vertical-h-70 stylishSlimScroll flow-y-auto flow-x-hidden mt-2" id="jobsArea">
                  <mat-accordion>
                    <div
                      class="col-12 animated fadeIn w100 mt-4 mb-1"
                      id="my-job-applications-panel-{{ j }}"
                      *ngFor="
                        let job of status[1] == 'all'
                          ? all
                          : status[1] == 'underReview'
                          ? underReview
                          : status[1] == 'accepted'
                          ? accepted
                          : rejected;
                        let j = index
                      "
                    >
                      <ng-container>
                        <mat-expansion-panel
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          class="my-job-applications-panel"
                        >
                          <mat-expansion-panel-header class="d-flex align-items-center">
                            <mat-panel-title class="pt-3">
                              <h6 class="text-primary mt-2 pb-2">{{ job.title }}</h6>
                              &nbsp; &nbsp;
                              <span
                                class="badge pt-2 mt-1 badge-pill"
                                style="height: 28px;"
                                [ngClass]="{
                                  'badge-warning text-white': checkStatus(job) == 'Applied',
                                  'badge-danger': checkStatus(job) == 'Rejected',
                                  'badge-success': checkStatus(job) == 'Accepted',
                                  'badge-dark': checkStatus(job) == 'Under Review',
                                  'badge-secondary': checkStatus(job) == 'Withdrawn'
                                }"
                                >{{ checkStatus(job) }}</span
                              >
                            </mat-panel-title>
                            <mat-panel-description>
                              <div class="text-right w100 mr-2 pt-4">
                                <span class="pr-1 p-1" *ngFor="let item of job.tags"
                                  ><badge class="badge badge-info">{{ item }}</badge></span
                                >
                              </div>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="mt-4">
                            <div class="row">
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Title :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.title }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Experience :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.experienceFrom }} - {{ job.experienceTo }} Year
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Description :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.description }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Created By :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.createdBy }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Job Location :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.location }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Job Status :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    {{ job.status }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 p-2">
                                <div class="row">
                                  <div class="col-6 col-md-3 text-primary text-bold caps">
                                    Tags :
                                  </div>
                                  <div class="col-6 col-md-9 h6">
                                    <span class="card-intro pr-1 p-1" *ngFor="let item of job.tags"
                                      ><badge class="badge badge-info">{{ item }}</badge></span
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-center mt-2">
                              <button
                                mat-flat-button
                                color="primary"
                                *ngIf="checkStatus(job) != 'Withdrawn' && checkStatus(job) != 'Rejected'"
                                matTooltipPosition="below"
                                matTooltip="Withdraw from this job"
                                class="rounded-pill ml-2"
                                (click)="withdraw(job, j)"
                              >
                                <span>Withdraw</span>
                              </button>
                              <button
                                mat-flat-button
                                color="primary"
                                *ngIf="checkStatus(job) == 'Withdrawn' || checkStatus(job) == 'Rejected'"
                                matTooltipPosition="below"
                                matTooltip="Apply For this Job"
                                class="rounded-pill ml-2"
                                (click)="applyTo(job, j)"
                              >
                                <span>Apply</span>
                              </button>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </ng-container>
                      <!-- <ng-container *ngIf="job.length == 0">
                        <div class="text-center m-auto animated fadeIn">
                          <div class="col-12 text-center">
                            <img src="../../../assets/images/no-record.gif" style="height: 170px;" class="d-block m-auto" />
                            <h6 class="text-primary">No Jobs ...!</h6>
                            <button
                              mat-flat-button
                              color="primary"
                              *ngIf="!isAdmin"
                              [routerLink]="['/jobs/listings']"
                              class="rounded-pill ml-2"
                            >
                              Go To All Jobs
                            </button>
                          </div>
                        </div>
                      </ng-container> -->
                    </div>
                  </mat-accordion>
                </div>
              </div>
            </section>
          </mat-tab>
        </mat-tab-group>
        <div class="text-center m-auto animated fadeIn" *ngIf="jobApplications.length == 0">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
            <h6 class="text-primary">You Haven't Applied To Any Jobs Yet...!</h6>
            <button mat-flat-button color="primary" [routerLink]="['/jobs/listings']" class="rounded-pill ml-2">
              Go To All Jobs
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12" *ngIf="!sharedService.deviceDetectorService.isMobile()">
      <app-right-side></app-right-side>
    </div>
  </div>
</div>
