<div class="d-flex align-items-center no-gutters">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <!-- <div class="text-center mt-5 mb-1">
      <div class="avatar avatar-lg">
        <img src="assets/images/logo/primary.svg" class="avatar-img rounded-circle" alt="LearnPlus" />
      </div>
    </div> -->
    <div class="card navbar-shadow">
      <div class="card-header text-center">
        <h4 class="card-title">Sign Up As</h4>
        <p class="card-subtitle">
          <mat-form-field appearance="fill">
            <mat-select (selectionChange)="signupTypeChange()" [(ngModel)]="userType.value" ngDefaultControl>
              <mat-option *ngFor="let item of signupType" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
      <div class="card-body">
        <!-- <a href="student-dashboard.html" class="btn btn-light btn-block">
          <span class="fab fa-google mr-2"></span>
          Continue with Google
        </a>

        <div class="page-separator">
          <div class="page-separator__text">or</div>
        </div> -->
        <div *ngIf="userType.value == 0 || userType.value == 1">
          <ng-container *ngTemplateOutlet="normalForm"></ng-container>
        </div>
        <div *ngIf="userType.value == 2">
          <ng-container *ngTemplateOutlet="recuiterForm"></ng-container>
        </div>
      </div>
      <div class="card-footer text-center text-black-50">
        Already signed up?
        <a class="text-black-70 pointer" style="text-decoration: underline;" (click)="login()">Login</a>
      </div>
    </div>
  </div>
</div>

<ng-template #normalForm>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="min-vertical-h-50 max-vertical-h-50 stylishScroll flow-y-auto flow-x-hidden p-2">
      <div class="form-group">
        <label class="form-label" for="name">First Name:</label>
        <div class="input-group input-group-merge">
          <input
            id="name"
            type="text"
            formControlName="firstName"
            class="form-control form-control-prepended"
            placeholder="Your first name"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-user"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.firstName.valid || signupForm.controls.firstName.untouched"
          class="text-danger"
          translate
        >
          First Name is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="name">Last Name:</label>
        <div class="input-group input-group-merge">
          <input
            id="name"
            type="text"
            formControlName="lastName"
            class="form-control form-control-prepended"
            placeholder="Your last name"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-user"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.lastName.valid || signupForm.controls.lastName.untouched"
          class="text-danger"
          translate
        >
          Last Name is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="name">Username:</label>
        <div class="input-group input-group-merge">
          <input
            id="name"
            type="text"
            formControlName="username"
            class="form-control form-control-prepended"
            placeholder="Your username"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-user"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.username.valid || signupForm.controls.username.untouched"
          class="text-danger"
          translate
        >
          Username is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Email address:</label>
        <div class="input-group input-group-merge">
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control form-control-prepended"
            placeholder="Your email address"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-envelope"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.email.valid || signupForm.controls.email.untouched"
          class="text-danger"
          translate
        >
          Email is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password:</label>
        <div class="input-group input-group-merge">
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control form-control-prepended"
            placeholder="Choose a password"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.password.valid || signupForm.controls.password.untouched"
          class="text-danger"
          translate
        >
          Password is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Confirm Password:</label>
        <div class="input-group input-group-merge">
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control form-control-prepended"
            placeholder="Type password"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
        <small
          *ngIf="!signupForm.controls.password.untouched && signupForm.controls.confirmPassword.errors?.required"
          class="text-danger"
          translate
        >
          Confirm Password is required
        </small>
        <small *ngIf="signupForm.controls.confirmPassword.errors?.mustMatch" class="text-danger" translate>
          Confirm Password must match
        </small>
      </div>
    </div>

    <div class="form-group text-center mb-0">
      <div class="custom-control custom-checkbox mb-2">
        <input id="terms" type="checkbox" class="custom-control-input" formControlName="termsCond" required="" />
        <label for="terms" class="custom-control-label text-black-70"
          >I agree to the <a class="text-black-70" style="text-decoration: underline;">Terms and Condition</a></label
        >
      </div>
    </div>
    <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary btn-block">Sign Up</button>
  </form>
</ng-template>

<ng-template #recuiterForm>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="min-vertical-h-50 max-vertical-h-50 stylishScroll flow-y-auto flow-x-hidden p-2">
      <div class="form-group">
        <label class="form-label" for="name">Organization Name:</label>
        <div class="input-group input-group-merge">
          <input
            id="name"
            type="text"
            formControlName="organizationName"
            class="form-control form-control-prepended"
            placeholder="Your organization name"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-user"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.organizationName.valid || signupForm.controls.organizationName.untouched"
          class="text-danger"
          translate
        >
          OrganizationmName is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="name">Username:</label>
        <div class="input-group input-group-merge">
          <input
            id="name"
            type="text"
            formControlName="username"
            class="form-control form-control-prepended"
            placeholder="Your username"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-user"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.username.valid || signupForm.controls.username.untouched"
          class="text-danger"
          translate
        >
          Username is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Email address:</label>
        <div class="input-group input-group-merge">
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control form-control-prepended"
            placeholder="Your email address"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="far fa-envelope"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.email.valid || signupForm.controls.email.untouched"
          class="text-danger"
          translate
        >
          Email is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password:</label>
        <div class="input-group input-group-merge">
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control form-control-prepended"
            placeholder="Choose a password"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
        <small
          [hidden]="signupForm.controls.password.valid || signupForm.controls.password.untouched"
          class="text-danger"
          translate
        >
          Password is required
        </small>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Confirm Password:</label>
        <div class="input-group input-group-merge">
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control form-control-prepended"
            placeholder="Type password"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
        <small
          *ngIf="!signupForm.controls.password.untouched && signupForm.controls.confirmPassword.errors?.required"
          class="text-danger"
          translate
        >
          Confirm Password is required
        </small>
        <small *ngIf="signupForm.controls.confirmPassword.errors?.mustMatch" class="text-danger" translate>
          Confirm Password must match
        </small>
      </div>
    </div>

    <div class="form-group text-center mb-0">
      <div class="custom-control custom-checkbox mb-2">
        <input id="terms" type="checkbox" class="custom-control-input" formControlName="termsCond" required="" />
        <label for="terms" class="custom-control-label text-black-70"
          >I agree to the <a class="text-black-70" style="text-decoration: underline;">Terms and Condition</a></label
        >
      </div>
    </div>
    <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary btn-block">Sign Up</button>
  </form>
</ng-template>
