.req-view-wrapper {
  .card-img {
    min-height: 150px;
    background: #74c7d41f
  }
  .text-css {
    color: mix(#fff, #28bed6, 40%);
    font-size: 15px;
    font-size: 50px;
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, #28bed6, 94%), 0.005em 0.005em 0 mix(#fff, #28bed6, 60%),
      0.01em 0.01em 0 mix(#fff, #28bed6, 62%), 0.015em 0.015em mix(#fff, #28bed6, 64%),
      0.02em 0.02em 0 mix(#fff, #28bed6, 66%), 0.025em 0.025em 0 mix(#fff, #28bed6, 68%),
      0.03em 0.03em 0 mix(#fff, #28bed6, 70%), 0.035em 0.035em 0 mix(#fff, #28bed6, 72%);
  }
}
