<div class="user-course-wrapper">
  <div class="row no-gutters">
    <div class="col-md-3 col-sm-12 bg-white">
      <app-left-side></app-left-side>
    </div>
    <div class="col-md-7 col-sm-12 min-vertical-h-150">
      <div class="w100">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item active"><a>Courses</a></li>
          <li class="breadcrumb-item active">My Course</li>
        </ol>
        <div class="sec-title">
          <div class="title">My Enrolled or Purchased Courses</div>
        </div>

        <ng-container *ngIf="myCourses.length === 0">
          <app-no-subscription [isComingFrom]="'course'" [message]="'Trust Us ! We offer best Course'"></app-no-subscription>
        </ng-container>
        <ng-container *ngIf="myCourses.length">
          <div class="row w100 max-vertical-h-80 stylishSlimScroll flow-y-auto flow-x-hidden">
            <div
              class="col-md-4 col-lg-4 col-sm-6 animated fadeIn "
              (click)="courseView(item.course)"
              *ngFor="let item of myCourses"
            >
              <div class="card m-0 mb-4 curPoint">
                <div class="card-img">
                  <img [src]="item.course.image_url" />
                </div>
                <div class="card-body pl-3 pr-3">
                  <h5 class="card-title">
                    {{ item.course.title }}
                  </h5>
                  <p class="card-intro">
                    {{ item.course.subject }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-2 col-sm-12">
      <app-right-side></app-right-side>
    </div>
  </div>
</div>
