<div class="freelance-all-req-wrapper">
  <div class="container">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active"><a>All Requirements</a></li>
    </ol>
    <section>
      <ng-container *ngIf="!reqConfig.isLoading">
        <ng-container *ngTemplateOutlet="allRequirements"></ng-container>
      </ng-container>
      <ng-container *ngIf="reqConfig.isLoading">
        <ng-container *ngTemplateOutlet="loader"></ng-container>
      </ng-container>
    </section>
  </div>
</div>

<ng-template #allRequirements>
  <mat-paginator
    class="col-12"
    [length]="reqConfig.data.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = pagination($event)"
  >
  </mat-paginator>
  <div class="row w100 no-gutters animated fadeIn">
    <div class="col-12 mt-4">
      <div class="text-center">
        <mat-form-field class="example-form-field w40 m-auto" *ngIf="!reqConfig.isLoading" style="font-size: 16px;">
          <mat-label>Search Requirements</mat-label>
          <input matInput type="text" (keyup)="onSearchReq()" [(ngModel)]="reqConfig.searchText" />
          <button
            mat-button
            *ngIf="reqConfig.searchText"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            placehoder="Min 3 Char..."
            (click)="reqConfig.searchText = ''; fetchAllReq(1)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-4" *ngFor="let item of reqConfig.data">
      <div class="m-2">
        <div class="card m-0 mt-4 curPoint">
          <div class="card-img pb-1 d-flex align-items-center justify-content-center">
            <h5 class="text-css m-auto">{{ item.category }}</h5>
          </div>
          <div class="card-body pl-3 pr-3">
            <div class="d-flex align-items-center justify-content-center mb-4">
              <img
                src="{{
                  item.postedByImage !== ''
                    ? item.postedByImage
                    : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                }} "
                [routerLink]="['/social-network/profile/', item.postedByTasaId]"
                routerLinkActive="router-link-active"
                class="user-img"
                alt=""
              />
              <div class="font400 pl-0 text-truncate" [title]="">{{ item.postedByName }}</div>
            </div>
            <div class="row no-gutters">
              <div class="col-12 col-md-6">
                <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Experience</h6>
                <div>{{ item.experienceFrom }} - {{ item.experienceTo }} Years</div>
              </div>
              <div class="col-12 col-md-6">
                <h6 class="mb-1"><i class="fas fa-money-bill-wave pr-2 text-muted"></i>Budget</h6>
                <div>{{ item.budgetFrom | currency }} - {{ item.budgetTo | currency }}</div>
              </div>
              <div class="col-12 col-md-6 mt-4">
                <h6 class="mb-1"><i class="fas fa-calendar-week pr-2 text-muted"></i>Open Till</h6>
                <div>{{ item.openTill | date: 'mediumDate' }}</div>
              </div>
              <div class="col-12 col-md-6 mt-4">
                <div *ngIf="item.attachment !== ''" class="p-2 d-flex align-items-center curPoint bg-primary-light">
                  <span class="material-icons pr-1">
                    attach_file
                  </span>
                  <a
                    [href]="item.attachment"
                    target="_blank"
                    color="primary"
                    class="mr-2"
                    download
                    matTooltipPosition="below"
                    matTooltip="View Attachment"
                  >
                    Attachment
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="w100">
              <div class="text-center">
                <button
                  mat-mini-fab
                  color="primary"
                  [routerLink]="['/freelance/requirement/', item.id]"
                  routerLinkActive="router-link-active"
                  matTooltipPosition="below"
                  matTooltip="View Requirement"
                >
                  <mat-icon class="mb-1">remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!reqConfig.isLoading && reqConfig.data.length == 0">
      <div class="text-center m-auto animated fadeIn">
        <div class="col-12 text-center">
          <img src="../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
          <h6 class="text-primary">No Requirements Found...!</h6>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #loader>
  <ng-container>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-6 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <div class="card m-0 mb-4">
          <div class="card-img skeleton">
            <!-- waiting for img to load from javascript -->
          </div>
          <div class="card-body">
            <h2 class="card-title skeleton">
              <!-- wating for title to load from javascript -->
            </h2>
            <p class="card-intro skeleton">
              <!-- waiting for intro to load from Javascript -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
