<div class="box">
  <div>
    <h6 class="text-primary text-center pt-1 alert alert-default bg-primary-light">Connected Users</h6>
    <div class="pages max-vertical-h-40 mb-3 stylishSlimScroll flow-y-auto flow-x-hidden">
      <ng-container *ngIf="isLoading">
        <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <div class="card ml-0 mr-0" style="height: 50px !important;">
            <div class="card-img skeleton"></div>
          </div>
        </div>
      </ng-container>
      <div class="user animated fadeIn" [ngClass]="{'shadow-sm': user.mouseOvered}" (mouseover)="user.mouseOvered=true"
      (mouseout)="user.mouseOvered=false" *ngFor="let user of allUsers">
        <div class="w90 d-flex align-items-center">
          <img
            *ngIf="!user.image || user.image == 'string'"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            class="user-img"
            alt="{{ user.firstName }} {{ user.lastName }}"
          />
          <img
            *ngIf="user.image && user.image != 'string'"
            [src]="user.image"
            alt="{{ user.firstName }} {{ user.lastName }}"
            class="user-img"
          />
          <div class="username text-truncate" title="{{ user.firstName }} {{ user.lastName }}">
            {{ user.firstName }} {{ user.lastName }}
          </div>
        </div>
        <div class="w10">
          <span class="material-icons curPoint" matTooltipPosition="below" matTooltip="Menu" [matMenuTriggerFor]="menu">
            more_vert
          </span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showProfile(user.tasaId)">
              View Profile
            </button>
            <button mat-menu-item>
              Message
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6 class="text-primary text-center pt-1 alert alert-default bg-primary-light">Recommended Users</h6>
    <div class="border-bottom pages">
      <ng-container *ngIf="isLoading">
        <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <div class="card ml-0 mr-0" style="height: 50px !important;">
            <div class="card-img skeleton"></div>
          </div>
        </div>
      </ng-container>
      <div class="user animated fadeIn" *ngFor="let user of allUsers">
        <div class="w90 d-flex align-items-center">
          <img
            *ngIf="!user.image || user.image == 'string'"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            class="user-img"
            alt="{{ user.firstName }} {{ user.lastName }}"
          />
          <img
            *ngIf="user.image && user.image != 'string'"
            [src]="user.image"
            alt="{{ user.firstName }} {{ user.lastName }}"
            class="user-img"
          />
          <div class="username text-truncate" title="{{ user.firstName }} {{ user.lastName }}">
            {{ user.firstName }} {{ user.lastName }}
          </div>
        </div>
        <div class="w10">
          <span class="material-icons curPoint" matTooltipPosition="below" matTooltip="Menu" [matMenuTriggerFor]="menu">
            more_vert
          </span>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showProfile(user.tasaId)">
              View Profile
            </button>
            <button mat-menu-item>
              Message
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
