<div class="d-flex align-items-center no-gutters signup-wrapper">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <div class="navbar-shadow">
      <div class="card-header text-center">
        <h4 class="card-title">Edit Course</h4>
      </div>
      <div class="row p-4 no-gutters max-vertical-h-80 stylishScroll flow-y-auto flow-x-hidden">
        <ng-container *ngTemplateOutlet="selectedCourse"></ng-container>
      </div>
      <div class="card-footer">
        <div class="col-12 text-center mt-3">
          <button mat-flat-button color="primary" (click)="submit()" class="rounded-pill ml-2">
            Edit
          </button>
          <button mat-flat-button color="primary" mat-dialog-close="true" class="rounded-pill ml-2">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #selectedCourse>
  <ng-container *ngIf="popupData.courses.length">
    <div class="col-md-4 col-xl-3 col-sm-6 animated fadeIn" *ngFor="let course of popupData.courses">
      <div class="card curPoint">
        <div class="card-img max-vertical-h-5">
          <img [src]="course.image_url" />
        </div>
        <div class="card-body pl-3 pr-3">
          <h5 class="card-title">
            {{ course.title }}
          </h5>
          <!-- <p class="card-intro">
            {{ course.subjects[0].name }}
          </p> -->
          <p class="card-intro small">
            <strong>edx price : </strong>{{ (course?.entitlements)[0]?.price | currency: 'USD' }} &nbsp;
            <strong>TaSA price : </strong> {{ course.offerPrice | currency: 'USD' }}
          </p>
          <div class="row mt-4">
            <div class="col-12">
              <mat-form-field class="pb-2 w100">
                <mat-label>Tier</mat-label>
                <mat-select [(ngModel)]="course.tier_name" [value]="course.tier_name" ngDefaultControl>
                  <mat-option value="">None</mat-option>
                  <mat-option [value]="item.name" *ngFor="let item of popupData.tiers">{{ item.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="pb-2 w100">
                <mat-label>Discount Percentage</mat-label>
                <input
                  matInput
                  placeholder="Ex. 10"
                  value=""
                  type="number"
                  min="0"
                  [(ngModel)]="course.discountPercentage"
                  (keyup)="onDiscountChange($event, course)"
                />
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w100">
                <mat-label>Category</mat-label>
                <mat-select multiple [(value)]="course.categories">
                  <mat-option *ngFor="let item of popupData.categoryList" [value]="item.code">{{
                    item.code
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
