.jobs-admin-wrapper {
  .card-img {
    padding-bottom: 56.25%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
    }
  }
  .card-body {
    background: #fff;
    z-index: 1;
  }
  .job-description {
    height: 23px;
    padding-top: 8px;
  }
  .webui-popover {
    .webui-popover-title {
      margin-bottom: 0 !important;
    }
    .webui-popover-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }
  #toggleBar button.current {
    background-color: #523f6d;
    border-color: #523f6d;
    color: #fff !important;
  }
  .skeleton {
    background-color: #e2e5e7;
    // The shine that's going to move across the skeleton:
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
  }

  @keyframes shine {
    to {
      // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
      background-position: right -40px top 0;
    }
  }
}
