<div class="my-network-wrapper">
  <div class="container">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item curPoint"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item active"><a>My Network</a></li>
    </ol>
    <div class="sec-title">
      <div class="title">Coonections Request</div>
    </div>
    <ng-container *ngIf="networkConfig.isLoading">
      <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
        <div class="card ml-0 mr-0 my-4" style="height: 100px !important;">
          <div class="card-img skeleton"></div>
        </div>
      </div>
    </ng-container>
    <!-- <div class="text-center m-auto animated fadeIn" *ngIf="jobApplications.length == 0">
        <div class="col-12 text-center">
          <img src="../../../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
          <h6 class="text-primary">You Haven't Applied To Any Jobs Yet...!</h6>
          <button mat-flat-button color="primary" [routerLink]="['/jobs/listings']" class="rounded-pill ml-2">
            Go To All Jobs
          </button>
        </div>
      </div> -->
  </div>
</div>
