<div class="my-network-wrapper">
  <div class="row no-gutters">
    <div class="col-md-3 col-sm-12 bg-white" *ngIf="!sharedService.deviceDetectorService.isMobile()">
      <app-left-side></app-left-side>
    </div>
    <div class="col-md-7 col-sm-12 min-vertical-h-150">
      <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item curPoint"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active"><a>My Network</a></li>
      </ol>
      <div class="sec-title">
        <div class="title">Connections Request</div>
      </div>
      <ng-container *ngIf="networkConfig.isLoading">
        <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <div class="card ml-0 mr-0 my-4" style="height: 100px !important;">
            <div class="card-img skeleton"></div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <ng-template *ngTemplateOutlet="network"></ng-template>
      </ng-container>
    </div>
    <div class="col-md-2 col-sm-12" *ngIf="!sharedService.deviceDetectorService.isMobile()">
      <app-right-side></app-right-side>
    </div>
  </div>
</div>

<ng-template #network>
  <mat-tab-group>
    <mat-tab label="Connected Users">
      <div class="d-flex align-items-center mt-4">
        <mat-form-field
          class="example-form-field w40 m-auto"
          *ngIf="connectedUserConfig.data.length"
          style="font-size: 16px;"
        >
          <mat-label>Search Users</mat-label>
          <input matInput type="text" [(ngModel)]="searchedName" />
          <button
            mat-button
            *ngIf="searchedName"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchedName = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div
        *ngIf="connectedUserConfig.data.length"
        class="row no-gutters mt-3 max-vertical-h-70 stylishSlimScroll flow-y-auto flow-x-hidden"
      >
        <div class="col-md-4 col-sm-12" *ngFor="let item of connectedUserConfig.data | nameFilter: searchedName">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <p>
                <img
                  [routerLink]="['/social-network/profile/', item.fromTasaId]"
                  routerLinkActive="router-link-active"
                  class="img-fluid shadow-lg"
                  src="{{
                    item.imageUrl
                      ? item.imageUrl
                      : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                  }}"
                  alt="User picture"
                />
              </p>

              <h4
                class="card-title"
                [routerLink]="['/social-network/profile/', item.tasaId]"
                routerLinkActive="router-link-active"
              >
                {{ item.firstName }} {{ item.lastName }}
              </h4>
              <p class="card-text">{{ item.message }}</p>
              <button
                mat-mini-fab
                color="warn"
                matTooltipPosition="below"
                matTooltip="Send Message"
                (click)="message(item.id)"
              >
                <mat-icon>message</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!connectedUserConfig.isLoading && connectedUserConfig.data.length == 0">
        <div class="text-center m-auto animated fadeIn">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
            <h6 class="text-primary">No Connections...!</h6>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Pending Request">
      <div class="d-flex align-items-center mt-4">
        <mat-form-field class="example-form-field w40 m-auto" *ngIf="!networkConfig.isLoading" style="font-size: 16px;">
          <mat-label>Search Users / Groups</mat-label>
          <input matInput type="text" (keyup)="onSearchPendReq()" [(ngModel)]="pendindReqSearchedName" />
          <button
            mat-button
            *ngIf="pendindReqSearchedName"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="pendindReqSearchedName = ''; onSearchPendReq()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div
        *ngIf="networkConfig.data.length"
        class="row no-gutters mt-3 max-vertical-h-70 stylishSlimScroll flow-y-auto flow-x-hidden network-section"
      >
        <div class="col-md-4 col-sm-12" *ngFor="let item of networkConfig.data; let i = index">
          <div class="card shadow-sm">
            <div class="p-1 w100 text-center d-flex align-items-center m-auto bg-primary-light" style="min-height: 50px;" >
              <ng-container *ngIf="item?.groupId">
                <img class="user-img shadow-sm" src="{{ item.fromImage }}" alt="User picture" />
                {{ item.fromName }}</ng-container
              >
            </div>
            <div class="card-body text-center">
              <p>
                <img
                  *ngIf="!item?.groupId"
                  [routerLink]="['/social-network/profile/', item.fromTasaId]"
                  routerLinkActive="router-link-active"
                  class="img-fluid shadow-lg"
                  src="{{
                    item.fromImage
                      ? item.fromImage
                      : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                  }}"
                  alt="User picture"
                />
                <img
                  *ngIf="item?.groupId"
                  [routerLink]="['/social-network/profile/', item.fromTasaId]"
                  routerLinkActive="router-link-active"
                  class="img-fluid"
                  src="{{ item.groupImageUrl }}"
                  alt="User picture"
                />
              </p>

              <h4
                class="card-title mb-1"
                *ngIf="!item?.groupId"
                [routerLink]="['/social-network/profile/', item.fromTasaId]"
                routerLinkActive="router-link-active"
              >
                {{ item.fromName }}
              </h4>
              <h4 class="card-title mb-1" *ngIf="item?.groupId">Group - {{ item.groupTitle }}</h4>
              <p class="card-text">{{ item.message }}</p>
              <button mat-flat-button color="primary" (click)="approve(item.id, i)" class="rounded-pill mt-3">
                <span *ngIf="item?.groupId">Join</span>
                <span *ngIf="!item?.groupId">Add</span>
              </button>
              <button mat-flat-button color="accent" (click)="reject(item.id, i)" class="rounded-pill ml-3 mt-2">
                Ignore
              </button>
            </div>
          </div>
          <!-- <div class="card m-1">
            <div class="bg-primary-more-light p-1 text-center mb-1" *ngIf="item?.groupId">
              <img
                [routerLink]="['/social-network/profile/', item.fromTasaId]"
                routerLinkActive="router-link-active"
                class="user-img mr-2 img-responsive img-thumbnail curPoint"
                src="{{
                  item.fromImage
                    ? item.fromImage
                    : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                }}"
                alt="User picture"
              />
              {{ item.fromName }}
            </div>
            <div class="d-flex align-items-center p-2">
              <div class="row no-gutters">
                <div class="col-2">
                  <img
                    *ngIf="!item?.groupId"
                    [routerLink]="['/social-network/profile/', item.fromTasaId]"
                    routerLinkActive="router-link-active"
                    class="status-img img-responsive img-thumbnail curPoint"
                    src="{{
                      item.fromImage
                        ? item.fromImage
                        : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                    }}"
                    alt="User picture"
                  />
                  <img
                    *ngIf="item?.groupId"
                    class="status-img img-responsive img-thumbnail"
                    src="{{ item.groupImageUrl }}"
                    alt="Group picture"
                  />
                </div>
                <div class="col-10 pl-3">
                  <h6 class="mb-0">
                    <a
                      *ngIf="!item?.groupId"
                      [routerLink]="['/social-network/profile/', item.fromTasaId]"
                      routerLinkActive="router-link-active"
                      >{{ item.fromName }}</a
                    >
                    <a *ngIf="item?.groupId">Group - {{ item.groupTitle }}</a>
                  </h6>
                  <h6
                    class="text-muted text-truncate"
                    *ngIf="!item?.groupId"
                    [title]="item.fromSummary"
                  >
                    {{ item.fromSummary }}
                  </h6>
                  <h6
                    class="text-muted text-truncate"
                    *ngIf="item?.groupId"
                    [title]="item.groupDescription"
                  >
                    {{ item.groupDescription }}
                  </h6>
                  <div class="d-flex w100 justify-content-end">
                    <button mat-flat-button color="primary" (click)="approve(item.id, i)" class="rounded-pill">
                      Approve
                    </button>
                    <button mat-flat-button color="accent" (click)="reject(item.id, i)" class="rounded-pill ml-3">
                      Ignore
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <ng-container *ngIf="!networkConfig.isLoading && networkConfig.data.length == 0">
        <div class="text-center m-auto animated fadeIn">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
            <h6 class="text-primary">No Request is Pending...!</h6>
          </div>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>
