<div class="d-flex align-items-center no-gutters edit-profile-wrapper">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <div class="navbar-shadow">
      <div class="card-header text-center">
        <div class="row no-gutters">
          <div class="col-11">
            <h5 class="card-title">
              Edit <strong class="text-primary">{{ popupData.userConfigToUpdate.type }}</strong>
            </h5>
          </div>
          <div class="col-1">
            <button
              mat-mini-fab
              color="primary"
              style="z-index: 9;"
              class="mr-2"
              matTooltipPosition="below"
              matTooltip="Close"
              mat-dialog-close
            >
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="alert alert-warning text-center" role="alert">
        <i class="far fa-hand-point-right pr-2 text-primary"></i>All the
        <span class="text-danger pl-1 asterisk">* </span>&nbsp;fields are compulsory
      </div>
      <div
        class="pb-2 pl-4 pr-4 no-gutters max-vertical-h-60 stylishSlimScroll flow-y-auto flow-x-hidden animated fadeInUp"
      >
        <ng-container *ngTemplateOutlet="userProfile"></ng-container>
      </div>
      <div class="card-footer">
        <div class="col-12 text-center mt-3">
          <button mat-flat-button color="primary" (click)="submit()" class="rounded-pill ml-2">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #userProfile>
  <div class="row w100 no-gutters">
    <ng-container *ngIf="popupData.userConfigToUpdate.type !== 'Experience'">
      <div class="form-group col-12" *ngFor="let item of popupData.userConfigToUpdate.data">
        <label class="form-label" for="name"
          >{{ item.label }}<span *ngIf="item.isRequired" class="text-danger pl-1 asterisk">*</span></label
        >
        <div class="input-group input-group-merge">
          <input
            [id]="item.label"
            type="text"
            *ngIf="!item?.textarea && !item?.isDropdown && !item?.isDateTime && !item?.isArray && !item?.isChips"
            [(ngModel)]="user[item.key]"
            class="form-control form-control-prepended"
            placeholder="Your {{ item.label }}"
          />
          <textarea
            [id]="item.label"
            cols="30"
            *ngIf="item?.textarea && !item?.isDropdown && !item?.isDateTime && !item?.isArray && !item?.isChips"
            rows="10"
            [(ngModel)]="user[item.key]"
            class="form-control form-control-prepended"
            placeholder="Your {{ item.label }}"
          ></textarea>

          <ng-container *ngIf="item?.isArray && !item?.isDateTime">
            <input
              [id]="item.label"
              type="text"
              [(ngModel)]="user[item.key][0]"
              class="form-control form-control-prepended"
              placeholder="Your {{ item.label }}"
            />
          </ng-container>

          <ng-container *ngIf="item?.isDateTime && !item?.isArray">
            <input
              matInput
              class="form-control form-control-prepended"
              [matDatepicker]="picker1"
              readonly
              [(ngModel)]="user[item.key]"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </ng-container>
          <ng-container *ngIf="item?.isChips">
            <mat-chip-list #chipList aria-label="Fruit selection" class="w100">
              <mat-chip
                *ngFor="let item of user[item.key]"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(item, 'pi')"
              >
                {{ item }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Your professional interests"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event, 'pi')"
                class="form-control form-control-prepended"
              />
            </mat-chip-list>
          </ng-container>
          <ng-container *ngIf="item?.isDropdown">
            <ng-template [ngTemplateOutlet]="country" [ngTemplateOutletContext]="{ data: item }"> </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="popupData.userConfigToUpdate.type === 'Experience' && user">
      <ng-container *ngTemplateOutlet="experience"></ng-container>
    </ng-container>
    <ng-container *ngIf="popupData.userConfigToUpdate.type === 'Education' && user">
      <ng-container *ngTemplateOutlet="education"></ng-container>
    </ng-container>
    <ng-container *ngIf="popupData.userConfigToUpdate.type === 'Certificate' && user">
      <ng-container *ngTemplateOutlet="certificate"></ng-container>
    </ng-container>
    <ng-container *ngIf="popupData.userConfigToUpdate.type === 'Freelancer' && user">
      <ng-container *ngTemplateOutlet="freelancer"></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #experience>
  <div class="col-12 text-right">
    <button
      mat-mini-fab
      color="primary"
      matTooltipPosition="below"
      matTooltip="Add More Experience"
      (click)="addExp()"
      class="ml-2 rounded-pill mb-2"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="form-group col-12" *ngFor="let item of user.experience; let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mb-1" [expanded]="i == 0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-primary">
            <strong>Experience {{ i + 1 }}</strong>
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <div class="text-right">
              <mat-icon matTooltipPosition="below" matTooltip="Remove Experience" (click)="removeExp(i)"
                >remove_circle_outline</mat-icon
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pt-2">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="currentRole"
                  >Title<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    id="currentRole{{ i }}"
                    type="text"
                    [(ngModel)]="item.currentRole[0]"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pl-2">
                <label class="form-label" for="organization"
                  >Organization<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="organization{{ i }}"
                    [(ngModel)]="item.organization"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="description"
              >Job Description<span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="description{{ i }}"
                [(ngModel)]="item.description[0]"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
          <div class="d-flex">
            <div class="form-group w45">
              <label class="form-label" for="experienceFrom"
                >Job Start Date<span class="text-danger pl-1 asterisk">*</span></label
              >
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker1"
                  readonly
                  [(ngModel)]="item.experienceFrom"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </div>
            </div>
            <div class="form-group pl-2 w45" *ngIf="item.recentEmployer === 'false'">
              <label class="form-label" for="experienceTo"
                >Job End Date<span class="text-danger pl-1 asterisk">*</span></label
              >
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker2"
                  readonly
                  [(ngModel)]="item.experienceTo"
                />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </div>
            </div>
            <div class="form-group pl-2 w45 d-flex align-items-center">
              <div class="input-group input-group-merge">
                <div class="f-color d-flex">
                  <mat-slide-toggle
                    class="example-margin text-primary"
                    checked="{{ item.recentEmployer === 'true' ? true : false }}"
                    (change)="
                      item.recentEmployer === 'true' ? (item.recentEmployer = 'false') : (item.recentEmployer = 'true')
                    "
                  >
                    Current Job
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<ng-template #education>
  <div class="col-12 text-right">
    <button
      mat-mini-fab
      color="primary"
      matTooltipPosition="below"
      matTooltip="Add More Education"
      (click)="addEdu()"
      class="ml-2 rounded-pill mb-2"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="form-group col-12" *ngFor="let item of user.education; let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mb-1" [expanded]="i == 0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-primary">
            <strong>Education {{ i + 1 }}</strong>
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <div class="text-right">
              <mat-icon matTooltipPosition="below" matTooltip="Remove Education" (click)="removeEdu(i)"
                >remove_circle_outline</mat-icon
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pt-2">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="currentRole"
                  >Degree<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <mat-select
                    id="highestDegree{{ i }}"
                    [(ngModel)]="item.highestDegree"
                    [(value)]="item.highestDegree"
                    class="form-control form-control-prepended"
                    placeholder="Your degree"
                  >
                    <mat-option *ngFor="let item of highestDegreeData" [value]="item.code">
                      {{ item.code }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pl-2">
                <label class="form-label" for="organization"
                  >School/College<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="college{{ i }}"
                    [(ngModel)]="item.college[0]"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="description"
              >University<span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="university{{ i }}"
                [(ngModel)]="item.university[0]"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="description">Major<span class="text-danger pl-1 asterisk">*</span></label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="major{{ i }}"
                [(ngModel)]="item.major"
                class="form-control form-control-prepended"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="description">Minor</label>
            <div class="input-group input-group-merge">
              <mat-chip-list #chipList aria-label="Fruit selection" class="w100">
                <mat-chip
                  *ngFor="let item of item.minor"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item, 'minor', item)"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Your minor"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'minor', item)"
                  class="form-control form-control-prepended"
                />
              </mat-chip-list>
            </div>
          </div>
          <div class="d-flex">
            <div class="form-group w45">
              <label class="form-label" for="degreeFromDate">Degree Start Date</label>
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker1"
                  readonly
                  [(ngModel)]="item.degreeFromDate"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </div>
            </div>
            <div class="form-group pl-2 w45">
              <label class="form-label" for="degreeToDate">Degree End Date</label>
              <div class="input-group input-group-merge">
                <input
                  matInput
                  class="form-control form-control-prepended"
                  [matDatepicker]="picker2"
                  readonly
                  [(ngModel)]="item.degreeToDate"
                />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<ng-template #certificate>
  <div class="col-12 text-center">
    <button
      mat-mini-fab
      color="primary"
      matTooltipPosition="below"
      matTooltip="Add More Certificate"
      (click)="triggerUpload()"
      class="ml-2 rounded-pill mb-2"
    >
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <div class="mt-1">
      <p>
        <strong>Supported File :</strong>
        <span class="text-muted ml-2" *ngFor="let item of certificateSuportedFile">{{ item }}</span>
      </p>
    </div>
  </div>
  <div class="form-group col-12">
    <label class="form-label" for="name">Certificate(s)</label>
    <div class="row no-gutters">
      <div class="col-4 p-2" *ngFor="let item of user.certificate; let i = index">
        <img
          [src]="item.certificates[0]"
          *ngIf="item.certificateType === 'image'"
          class="img-thumbnail certificate-img"
          alt="certificate"
        />
        <span
          style="font-size: 100px;"
          class="material-icons img-thumbnail certificate-img text-primary"
          *ngIf="item.certificateType === 'pdf'"
        >
          picture_as_pdf
        </span>
        <mat-icon
          class="position-absolute curPoint"
          matTooltipPosition="below"
          matTooltip="Remove Certificate"
          (click)="removeCertificate(i)"
          >close</mat-icon
        >
        <div class="form-group pt-1">
          <label class="form-label" for="certificateName"
            >Certificate Name<span class="text-danger pl-1 asterisk">*</span></label
          >
          <div class="input-group input-group-merge">
            <input
              id="certificateName{{ i }}"
              type="text"
              [(ngModel)]="item.certificateName"
              class="form-control form-control-prepended"
            />
          </div>
        </div>
      </div>
    </div>
    <input id="certificateUpload" class="d-none" #uploadCertificate type="file" (change)="uploadFile($event)" />
  </div>
</ng-template>

<ng-template #freelancer>
  <div class="f-color d-flex">
    <mat-slide-toggle
      class="example-margin text-primary"
      [checked]="user.isFreelancer === 'Y'"
      (change)="user.isFreelancer === 'Y' ? (user.isFreelancer = 'N') : (user.isFreelancer = 'Y')"
    >
      Do you want to be listed as a Freelancer on TaSA
    </mat-slide-toggle>
  </div>
  <ng-container *ngIf="user.isFreelancer == 'Y'">
    <div class="row no-gutters w100 mt-2">
      <div class="form-group col-12">
        <label class="form-label" for="projectName"
          >Areas of Expertise<span class="text-danger pl-1 asterisk">*</span></label
        >
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let item of user.fieldsOfExpertise"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(item)"
          >
            {{ item.areaOfExpertise }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New Skill..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            class="form-control form-control-prepended"
          />
        </mat-chip-list>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="user.isFreelancer == 'Y'">
    <ng-container *ngTemplateOutlet="gig"></ng-container>
  </ng-container>
</ng-template>

<ng-template #country let-data="data">
  <mat-select
    [(ngModel)]="user[data.key]"
    placeholder="Your Country"
    required
    class="form-control form-control-prepended"
  >
    <mat-option *ngFor="let country of countries" [value]="country.title">
      {{ country.title }}
    </mat-option>
  </mat-select>
</ng-template>

<ng-template #gig>
  <div class="col-12 text-right">
    <button
      mat-mini-fab
      color="primary"
      matTooltipPosition="below"
      matTooltip="Add More Gigs"
      (click)="addGig()"
      class="ml-2 rounded-pill mb-2"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="form-group col-12" *ngFor="let item of user.pastGigs; let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mb-1" [expanded]="i == 0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-primary">
            <strong>Past Gig {{ i + 1 }}</strong>
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <div class="text-right">
              <mat-icon matTooltipPosition="below" matTooltip="Remove Past Gig" (click)="removeGig(i)"
                >remove_circle_outline</mat-icon
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="pt-2">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="projectName"
                  >Gig Title<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    id="projectName{{ i }}"
                    type="text"
                    [(ngModel)]="item.projectName"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pl-2">
                <label class="form-label" for="projectDesc"
                  >Gig Details<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="projectDesc{{ i }}"
                    [(ngModel)]="item.projectDesc"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="clientName"
                  >Client Name<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="clientName{{ i }}"
                    [(ngModel)]="item.clientName"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pl-2">
                <label class="form-label" for="projectDuration"
                  >Gig Duration<span class="text-danger pl-1 asterisk">*</span></label
                >
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="projectDuration{{ i }}"
                    [(ngModel)]="item.projectDuration"
                    class="form-control form-control-prepended"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
