<div class="recruiter-jobs-wrapper">
  <div class="container">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active"><a>All Jobs</a></li>
    </ol>
    <div class="sec-title">
      <div class="title">Posted Jobs</div>
    </div>
    <section>
      <div class="upload-box text-center">
        <div class="supportedFormatCarousel d-block mb-3 mx-auto w50">
          <button mat-flat-button color="primary" (click)="addJob()" class="rounded-pill ml-2">
            <span class="material-icons pr-2">
              add
            </span>
            ADD
          </button>
        </div>
      </div>
    </section>
    <section class="All-jobs-page-section min-vertical-h-100">
      <div class="row no-gutters">
        <ng-container *ngIf="isLoading">
          <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5]">
            <div class="card" style="height: 100px;">
              <div class="card-img skeleton">
                <!-- waiting for img to load from javascript -->
              </div>
              <div class="card-body">
                <h2 class="card-title skeleton">
                  <!-- wating for title to load from javascript -->
                </h2>
                <p class="card-intro skeleton">
                  <!-- waiting for intro to load from Javascript -->
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!isLoading && allJobs.length">
        <div class="row" id="jobsArea">
          <mat-accordion>
            <div
              class="col-12 animated fadeIn mb-4 w100"
              id="jobPanel-{{ i }}"
              *ngFor="let job of allJobs; let i = index"
            >
              <mat-expansion-panel
                (afterExpand)="onPublishDateChange(job)"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                class="jobs-panel"
                [expanded]="job.expanded"
              >
                <mat-expansion-panel-header class="d-flex align-items-center">
                  <mat-panel-title>
                    <h6 class="text-primary mt-3">{{ job.title }}</h6>
                    <span class="card-intro pr-1 p-1 ml-3 mt-2"
                      ><badge
                        class="badge font18 caps"
                        [ngClass]="{
                          'badge-success': job.status == 'Active',
                          'badge-danger': job.status == 'Inactive'
                        }"
                        >{{ job.status }}</badge
                      ></span
                    >

                    <!-- <button
                      mat-mini-fab
                      color="primary"
                      matTooltipPosition="below"
                      matTooltip="Applicants"
                      *ngIf="job.applicants.length"
                      class="ml-2"
                      [matBadge]="job.applicants.length"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      (click)="showApplicants(job, $event)"
                    >
                      <span class="material-icons">
                        supervisor_account
                      </span>
                    </button> -->
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="text-right mr-2 pt-3">
                      <span class="card-intro pr-1 p-1" *ngFor="let item of job.tags"
                        ><badge class="badge badge-info">{{ item }}</badge></span
                      >
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="floating-actions pb-2">
                  <a class="ml-2 text-white" matTooltipPosition="below" matTooltip="Show All Applicants">
                    <button
                      class="action bg-primary"
                      [matBadge]="job.applicants.length"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      (click)="showApplicants(job, $event, 'All')"
                    >
                      <i class="fas fa-users fa-lg"></i>
                    </button>
                  </a>
                  <a class="ml-2 text-white" matTooltipPosition="below" matTooltip="Show Accepted Applicants">
                    <button
                      class="action bg-success"
                      [matBadge]="job.acceptedCount"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      [disabled]="job.acceptedCount == 0"
                      (click)="showApplicants(job, $event, 'Accepted')"
                    >
                      <i class="fas fa-users fa-lg"></i>
                    </button>
                  </a>
                  <a class="ml-2 text-white" matTooltipPosition="below" matTooltip="Show Under Review Applicants">
                    <button
                      class="action bg-info"
                      [matBadge]="job.underReviewCount"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      [disabled]="job.underReviewCount == 0"
                      (click)="showApplicants(job, $event, 'Under Review')"
                    >
                      <i class="fas fa-users fa-lg"></i>
                    </button>
                  </a>
                  <a class="ml-2 text-white" matTooltipPosition="below" matTooltip="Show Rejected Applicant">
                    <button
                      class="action bg-danger"
                      [matBadge]="job.rejectedCount"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      [disabled]="job.rejectedCount == 0"
                      (click)="showApplicants(job, $event, 'Rejected')"
                    >
                      <i class="fas fa-users fa-lg"></i>
                    </button>
                  </a>
                  <a class="ml-2 text-white" matTooltipPosition="below" matTooltip="Show Withdrawn Applicants">
                    <button
                      class="action bg-secondary"
                      [matBadge]="job.withdrawnCount"
                      matBadgePosition="after"
                      matBadgeColor="accent"
                      [disabled]="job.withdrawnCount == 0"
                      (click)="showApplicants(job, $event, 'Withdrawn')"
                    >
                      <i class="fas fa-users fa-lg"></i>
                    </button>
                  </a>
                </div>
                <div class="mt-4">
                  <div class="row">
                    <!-- <div class="col-12 col-md-6">
                      <mat-form-field class="pb-3 w100">
                        <mat-label>Organization</mat-label>
                        <input matInput placeholder="Ex. Google" value="" [(ngModel)]="job.title" />
                      </mat-form-field>
                    </div> -->

                    <div class="col-12 col-md-6">
                      <mat-form-field class="pb-3 w100">
                        <mat-label>Name</mat-label>
                        <input matInput readonly placeholder="Ex. Frontend Developer" value="" [(ngModel)]="job.title" />
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                      <mat-form-field class="pb-3 w100">
                        <mat-label>Created By</mat-label>
                        <input matInput readonly placeholder="Ex. Adam" value="" [(ngModel)]="job.createdBy" />
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                          <div class="d-flex">
                            <mat-form-field class="pb-3 w100">
                              <mat-label>Experience From</mat-label>
                              <input
                                type="number"
                                matInput
                                [(ngModel)]="job.experienceFrom"
                                min="0"
                                step="1"
                                readonly
                                oninput="validity.valid||(value='');"
                              />
                            </mat-form-field>
                            <span class="ml-2 mr-2"></span>
                            <mat-form-field class="pb-3 w100">
                              <mat-label>Experience To</mat-label>
                              <input
                                type="number"
                                matInput
                                [(ngModel)]="job.experienceTo"
                                min="0"
                                step="1"
                                readonly
                                oninput="validity.valid||(value='');"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6">
                          <mat-form-field class="pb-3 w100">
                            <mat-label>No Of Openings</mat-label>
                            <input
                              type="number"
                              matInput
                              [(ngModel)]="job.countOfOpenings"
                              min="0"
                              step="1"
                              readonly
                              oninput="validity.valid||(value='');"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                          <mat-form-field class="pb-3 w100">
                            <mat-label>Publish On</mat-label>
                            <input
                              matInput
                              [matDatepicker]="picker1"
                              readonly
                              (dateChange)="onPublishDateChange(job)"
                              [min]="minPublisOn"
                              [(ngModel)]="job.publishOn"
                              readonly 
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker1" disabled="true"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 color="primary" readonly></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field class="pb-3 w100">
                            <mat-label>Expired On</mat-label>
                            <input
                              matInput
                              [matDatepicker]="picker2"
                              readonly
                              [min]="minExpireOn"
                              [(ngModel)]="job.expireOn"
                              readonly 
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker2"
                              disabled="true"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <mat-form-field class="pb-3 w100">
                        <mat-select placeholder="Job Country" readonly  [(ngModel)]="job.country">
                          <mat-option *ngFor="let country of countries" [value]="country.title">
                            {{ country.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                      <mat-form-field class="w100">
                        <mat-select placeholder="Job Status" [(ngModel)]="job.status" disabled>
                          <mat-option [value]="'Active'">
                            Active
                          </mat-option>
                          <mat-option [value]="'Inactive'">
                            Inactive
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <small *ngIf="job.status == 'Inactive'" class="text-danger smallStatus"
                        >Status will be inactive, until the administrator reviews it</small
                      >
                    </div>
                    <div class="col-12">
                      <mat-form-field class="pb-3 w100">
                        <mat-label>Description</mat-label>
                        <textarea readonly  matInput placeholder="Job Description" style="min-height: 100px;" [(ngModel)]="job.description"></textarea>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <!-- <label for="">Required Education & Experince</label> -->
                      <div [innerHTML]="job.reqEducationExperience | safeHtml" class="pb-3"></div>
                    </div>
                    <div class="col-12">
                      <mat-form-field class="example-chip-list pb-3 w100">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip
                            *ngFor="let item of job.desiredSkill; let tagIndex = index"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(job, tagIndex)"
                            readonly 
                          >
                            {{ item }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Desired Skills"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event, job)"
                            readonly
                          />
                        </mat-chip-list>
                      </mat-form-field>
                    </div>

                    <div class="col-12">
                      <div class="w100 p-2">
                        <div class="text-center">
                          <button
                            mat-flat-button
                            color="primary"
                            *ngIf="job.id == ''"
                            (click)="createJob(job)"
                            class="rounded-pill ml-2"
                          >
                            Save
                          </button>
                          <button
                            mat-flat-button
                            color="primary"
                            *ngIf="job.id != ''"
                            (click)="updateJob(job)"
                            class="rounded-pill ml-2"
                          >
                            Edit
                          </button>
                          <button
                            mat-mini-fab
                            color="primary"
                            matTooltipPosition="below"
                            matTooltip="Delete"
                            (click)="deleteJob(job, i)"
                            class="ml-2"
                          >
                            <mat-icon>delete</mat-icon>
                          </button>
                          <button
                            mat-flat-button
                            color="primary"
                            *ngIf="job.id != ''"
                            (click)="updateJob(job, 'status')"
                            class="rounded-pill ml-2"
                          >
                            Unlist Posting
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoading && allJobs.length == 0">
        <div class="text-center m-auto animated fadeIn">
          <div class="col-12 text-center">
            <img
              src="../../../../assets/images/no-record.gif"
              style="height: 300px;"
              class="img-fluid d-block mx-auto"
            />
            <h6 class="text-primary">You Haven't Added Any Jobs Yet...!</h6>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
</div>
