.jobs-panel {
  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }

  .floating-actions {
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: inherit;
    align-self: flex-end;
    .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
      right: 0px !important;
    }
  }

  .floating-actions .action {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2);
    position: relative;
    opacity: 0;
    margin-top: 20px;
    margin-bottom: -70px;
    pointer-events: none;
    transition: all 700ms ease;
  }

  .floating-actions .action.visible {
    opacity: 1;
    margin-bottom: 0;
    pointer-events: all;
  }

  .floating-actions .action-toggle {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #f6921f;
    color: white;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 0;
    pointer-events: all;
    z-index: 2;
  }

  .floating-actions .action-toggle.visible > i {
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .floating-actions a {
    text-decoration: none;
  }

  .floating-actions .action i {
    position: absolute;
    left: calc(50% - 11px);
    top: calc(50% - 6px);
  }

  .smallStatus {
    position: relative;
    font-size: 9px;
    bottom: 43px;
    left: 183px;
  }
}
