<div class="gig-view-wrapper w80 m-auto pt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="gigDetailsConfig.isLoading">
      <img src="../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching Gig...</h5>
    </div>
    <div class="animated fadeInUp" *ngIf="!gigDetailsConfig.isLoading">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/freelance/all-gigs']">All Gigs</a>
        </li>
        <li class="breadcrumb-item active text-truncate">{{ gigDetailsConfig.data?.title }}</li>
      </ol>
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="card my-4 m-0">
            <ng-container *ngIf="gigDetailsConfig.data?.video === ''">
              <div class="text-center" style="background: #ebe9ed; padding: 10px;">
                <img [src]="gigDetailsConfig.data?.image" class="img-thumbnail gig-img" alt="course" />
              </div>
            </ng-container>

            <div *ngIf="gigDetailsConfig.data?.image !== '' && gigDetailsConfig.data?.video !== ''">
              <owl-carousel-o [options]="gigAssetsOptions" class="gig-view-carousel">
                <ng-template carouselSlide>
                  <div style="background: #ebe9ed;">
                    <video controls>
                      <source [src]="gigDetailsConfig.data?.video" type="video/mp4" />
                      <source [src]="gigDetailsConfig.data?.video" type="video/ogg" />
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div style="background: #ebe9ed;">
                    <img [src]="gigDetailsConfig.data?.image" class="img-thumbnail gig-img" alt="course" />
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>

            <div class="card-body">
              <div class="text-center mb-2">
                <img
                  [src]="gigDetailsConfig.data?.userImage"
                  [routerLink]="['/social-network/profile/', gigDetailsConfig.data?.tasaId]"
                  routerLinkActive="router-link-active"
                  class="user-img curPoint"
                  alt=""
                />
                <div>
                  <div class="font400 pl-0 text-truncate" [title]="gigDetailsConfig.data?.userName">
                    {{ gigDetailsConfig.data?.userName }}
                  </div>
                  <div class="mt-2">
                    <ng-container *ngIf="gigDetailsConfig.data?.ratingCount !== 0">
                      <ngb-rating
                        [max]="5"
                        class="star"
                        [readonly]="true"
                        [rate]="gigDetailsConfig.data?.rating"
                      ></ngb-rating>
                      <span class="text-muted" matTooltipPosition="below" matTooltip="Count of rating"
                        >({{ gigDetailsConfig.data?.ratingCount }})</span
                      >
                    </ng-container>

                    <ng-container *ngIf="gigDetailsConfig.data?.ratingCount === 0">
                      <span class="text-muted">Rating not available</span>
                    </ng-container>
                  </div>
                </div>
              </div>
              <h5 class="mb-0">{{ gigDetailsConfig.data?.title }}</h5>
              <h6 class="text-muted font400">{{ gigDetailsConfig.data?.category }}</h6>
              <hr />
              <h4>About This Gig</h4>
              <div class="mt-2" [innerHTML]="gigDetailsConfig.data.description | safeHtml"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card my-4 m-0">
            <mat-tab-group animationDuration="0ms">
              <mat-tab  class="bg-warning" *ngFor="let item of gigDetailsConfig.data.plans">
                <ng-template mat-tab-label>
                  <span [ngSwitch]="item.name">
                    <img *ngSwitchCase="'Bronze'" class="plan-type-img" src="../assets/images/bronze.jpeg" alt=""/>
                    <img *ngSwitchCase="'Silver'" style="height: 30px;" class="plan-type-img" src="../assets/images/silver.png" alt=""/>
                    <img *ngSwitchCase="'Gold'" class="plan-type-img" src="../assets/images/gold.jpeg" alt=""/>
                  </span>
                
                  <span>{{item.name}}</span>
              </ng-template>
                <div class="p-4">
                  <div class="d-flex">
                    <h6>
                      Price : <span class="text-muted">{{ item.deliveryPrice | currency }} </span>
                    </h6>
                    <h6 class="pl-3">
                      Revisions : <span class="text-muted">{{ item.revisions }}</span>
                    </h6>
                  </div>
                  <div class="mb-1" *ngFor="let dd of item.deliveryDetails; let i = index">
                    <div class="d-flex align-items-center p-2">
                      <span class="material-icons text-success pr-2">
                        check
                      </span>
                      {{ dd }}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="w100">
                    <div class="text-center">
                      <button
                        mat-flat-button
                        color="primary"
                        class="rounded-pill ml-2"
                        *ngIf="user && gigDetailsConfig.data.createdBy !== user.email"
                        (click)="purchaseGig(item)"
                      >
                        <span>Purchase Gig</span>
                      </button>

                      <button
                      mat-flat-button
                      color="primary"
                      class="rounded-pill ml-2"
                      *ngIf="!user"
                      (click)="login()"
                    >
                      <span>Login To Purchase</span>
                    </button>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
