<div class="right-side-wrapper">
  <div class="row no-gutters">
    <!-- <div class="col-12 text-center" *ngIf="user?.type === 'Recruiter'">
      <ng-container>
        <img
          [routerLink]="['/subscription-plans']"
          style="margin-top: -80px;"
          src="./assets/images/subscribe.gif"
          alt="Google Adsense"
        />
      </ng-container>
    </div> -->
    <div class="col-12">
      <div class="card">
        <img src="./assets/images/google-adsense.jpeg" alt="Google Adsense" />
      </div>
    </div>
    <div class="col-12" *ngIf="user">
      <div class="card animated connected-users fadeInUp" style="max-width: 210px; min-height: 120px;">
        <div class="pl-2 pt-2 text-center d-flex align-items-center">
          <p class="card-title font400 text-primary">Recommended Groups</p>
          <!-- <p class="card-subtitle">Best score</p> -->
        </div>
        <div class="card-body p-2">
          <owl-carousel-o [options]="groupsOptions" class="recommend-grp-carousel">
            <ng-container *ngFor="let item of recommendedGroupsConfig.data; let i = index">
              <ng-template carouselSlide [id]="i">
                <div class="pt-1 pb-1 text-center">
                  <div
                    class="card mb-0 zoomCard curPoint"
                    [routerLink]="['/group/', item.groupId]"
                    routerLinkActive="router-link-active"
                  >
                    <div class="card-img">
                      <img [src]="item.groupImageUrl" alt="" />
                    </div>
                    <h6 class="text-primary pt-3">{{ item.groupTitle }}</h6>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>

          <!-- <div class="text-right" *ngIf="recommendedGroupsConfig.data.length">
            <p class="curPoint text-primary">{{ recommendedGroupsConfig.data.length }}</p>
          </div> -->
          <div *ngIf="recommendedGroupsConfig.data.length == 0 && !recommendedGroupsConfig.isFetching">
            <div class="text-center m-auto animated fadeIn">
              <div class="col-12 text-center">
                <h1>😕</h1>
                <h6 class="text-primary">No Recommended Groups...!</h6>
              </div>
            </div>
          </div>
          <ng-template *ngIf="recommendedGroupsConfig.isFetching" [ngTemplateOutlet]="loader"></ng-template>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="user">
      <div class="card animated fadeInUp connections">
        <div class="pl-2 pt-2 text-center d-flex align-items-center">
          <p class="card-title font400 text-primary">Connections</p>
          <!-- <p class="card-subtitle">Best score</p> -->
        </div>
        <div class="card-body p-2">
          <div class="row pr-1 no-gutters" *ngIf="!myGroups.isFetching && !connectedUserConfig.isFetching">
            <div
              class="col-12 card shadow-sm m-0 pl-4 pr-4 pt-2"
              [routerLink]="['/social-network/network/']"
              routerLinkActive="router-link-active"
            >
              <div class="row no-gutters">
                <div class="col-6">
                  <h4 class="text-primary mb-0">{{ connectedUserConfig.data.length }}</h4>
                  <h6 class="text-primary font400">
                    Users
                  </h6>
                </div>
                <div class="col-6 text-right m-auto">
                  <i class="fas fa-2x fa-user text-primary"></i>
                </div>
              </div>
            </div>
            <div
              class="col-12 card shadow-sm m-0 pl-4 pr-4 pt-2 mt-2 curPoint"
              [routerLink]="['/social-network/group/']"
              routerLinkActive="router-link-active"
            >
              <div class="row no-gutters">
                <div class="col-6">
                  <h4 class="text-primary mb-0">{{ myGroups.data.length }}</h4>
                  <h6 class="text-primary font400">
                    Groups
                  </h6>
                </div>
                <div class="col-6 text-right m-auto">
                  <i class="fas fa-2x fa-users text-primary"></i>
                </div>
              </div>
            </div>
          </div>
          <ng-template *ngIf="myGroups.isFetching" [ngTemplateOutlet]="loader"></ng-template>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <img src="./assets/images/google-adsense-2.jpg" alt="Google Adsense" />
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="col-12 animated fadeIn" *ngFor="let item of [1]">
    <div class="card ml-0 mr-0" style="height: 50px !important;">
      <div class="card-img skeleton"></div>
    </div>
  </div>
</ng-template>
