<div class="job-view-wrapper container mt-4 mb-4">
  <div class="page">
    <div class="text-center m-auto min-vertical-h-50" *ngIf="jobConfig.fetchingJob">
      <img src="../../../assets/loaders/swal-loader.gif" height="150" width="150" />
      <h5 class="text-primary">Fetching Job...</h5>
    </div>
    <div class="container page__container animated fadeIn" *ngIf="!jobConfig.fetchingJob">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/jobs/listings']">All Jobs</a></li>
        <li class="breadcrumb-item active text-truncate">{{ jobConfig.job.title }}</li>
      </ol>
      <h1 class="h2">{{ jobConfig.job.title }}</h1>
      <div class="row">
        <div class="col-md-8">
          <div class="card my-4 m-0">
            <div class="embed-responsive embed-responsive-16by9">
              <img src="../../../assets/images/TSA_logo_new.small.png" class="embed-responsive-item" alt="course" />
            </div>
            <div class="card-body">
              <h5>{{ jobConfig.job.title }}</h5>
              <div class="mt-2">
                <span class="pr-1" *ngFor="let item of jobConfig.job.tags">
                  <badge class="badge badge-info h6">
                    {{ item }}
                  </badge>
                </span>
              </div>
              <div class="mt-2">{{ jobConfig.job.description }}</div>
            </div>
          </div>
          <!-- Lessons -->
          <div class="row my-3">
            <div class="zoomCard col-md-4 col-lg-4 col-sm-6 animated fadeIn">
              <div class="card curPoint m-0">
                <div class="card-header">
                  <h5 class="card-title m-0">
                    No. Of Openings
                  </h5>
                </div>
                <div class="card-body pl-3 pr-3 ml-1">
                  <p class="text-wrap">{{ jobConfig.job.countOfOpenings }}</p>
                </div>
              </div>
            </div>
            <div class="zoomCard col-md-5 col-lg-4 col-sm-6 animated fadeIn">
              <div class="card curPoint m-0">
                <div class="card-header">
                  <h5 class="card-title m-0">
                    Created By
                  </h5>
                </div>
                <div class="card-body pl-3 pr-3 ml-1">
                  <p class="text-wrap">{{ jobConfig.job.createdBy }}</p>
                </div>
              </div>
            </div>
            <div class="zoomCard col-md-5 col-lg-4 col-sm-6 animated fadeIn" *ngIf="applied">
              <div class="card curPoint m-0">
                <div class="card-header">
                  <h5 class="card-title m-0">
                    Applicant Status
                  </h5>
                </div>
                <div class="card-body pl-3 pr-3 ml-1 m-auto">
                  <span class="pl-2">
                    <span class="badge badge-warning p-2" *ngIf="jobConfig.job.applicantStatus == 'Applied'">{{
                      jobConfig.job.applicantStatus
                    }}</span>
                    <span class="badge badge-dark p-2" *ngIf="jobConfig.job.applicantStatus == 'Under Review'">{{
                      jobConfig.job.applicantStatus
                    }}</span>
                    <span class="badge badge-success p-2" *ngIf="jobConfig.job.applicantStatus == 'Accepted'">{{
                      jobConfig.job.applicantStatus
                    }}</span>
                    <span class="badge badge-danger p-2" *ngIf="jobConfig.job.applicantStatus == 'Rejected'">{{
                      jobConfig.job.applicantStatus
                    }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="m-3 pt-2 mb-4 zoomCard animated fadeIn">
            <div class="card curPoint m-0">
              <div class="card-header">
                <h5 class="card-title m-0">
                  Location
                </h5>
              </div>
              <div class="card-body pl-3 pr-3 ml-1">
                <!-- <p class="text-muted m-0"></p> -->
                <p class="text-wrap">{{ jobConfig.job.location }}</p>
              </div>
            </div>
          </div>
          <div class="m-3 mb-4 mt-0 zoomCard animated fadeIn">
            <div class="card curPoint m-0">
              <div class="card-header pr-1">
                <h5 class="card-title m-0">
                  Experience
                </h5>
              </div>
              <div class="card-body pl-3 pr-3 ml-1">
                <!-- <p class="text-muted m-0"></p> -->
                <p class="text-wrap">{{ jobConfig.job.experienceFrom }} - {{ jobConfig.job.experienceTo }} Years</p>
              </div>
            </div>
          </div>
          <div class="m-3 mb-4 mt-0 zoomCard animated fadeIn">
            <div class="card curPoint m-0">
              <div class="card-header">
                <h5 class="card-title m-0">
                  Job Status
                </h5>
              </div>
              <div class="card-body pl-3 pr-3 ml-1">
                <p class="text-wrap">{{ jobConfig.job.status }}</p>
              </div>
            </div>
          </div>
          <div class="mb-3 mb-4 mt-0 zoomCard animated fadeIn">
            <div class="p-4 card w90 m-auto" *ngIf="!isAdmin">
              <div class="text-center">
                <mat-form-field class="d-block mx-2 pb-2 w90">
                  <mat-label>Name</mat-label>
                  <input matInput [value]="user.firstName + ' ' + user.lastName" readonly />
                </mat-form-field>
                <mat-form-field class="d-block mx-2 pb-2 w90">
                  <mat-label>E-Mail</mat-label>
                  <input matInput [value]="user.email" readonly />
                </mat-form-field>
                <div *ngIf="resumeLink != ''" class="mb-2">
                  <a [href]="resumeLink" class="pr-2" target="_blank" readonly>
                    <i class="fas fa-file-alt fa-5x text-primary"></i
                  ></a>
                </div>
                <div *ngIf="!applied" class="row d-block text-center">
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="triggerUpload()"
                    matTooltipPosition="below"
                    matTooltip="Upload Resume / CV"
                    class="align-middle rounded-pill ml-2"
                  >
                    <span class="material-icons pb-1 pr-2">
                      cloud_upload
                    </span>
                    Upload Resume / CV
                  </button>
                </div>
                <div class="d-block mt-3">
                  <button
                    mat-flat-button
                    *ngIf="!applied"
                    color="primary"
                    (click)="applyForJob()"
                    class="rounded-pill ml-2"
                  >
                    Apply
                  </button>
                  <button mat-flat-button *ngIf="applied" color="primary" disabled class="rounded-pill ml-2">
                    Applied
                  </button>
                </div>
              </div>
              <input id="resumeUpload" class="d-none" #uploadResume type="file" (change)="uploadFile($event)" />
            </div>
            <div class="card w90" *ngIf="isAdmin">
              <div class="card-header pr-1" *ngIf="isAdmin">
                <h5 class="card-title m-0">
                  Change Status
                </h5>
              </div>
              <div class="p-4 m-auto">
                <button
                  *ngIf="jobConfig.job.status == 'Active'"
                  mat-flat-button
                  color="primary"
                  (click)="changeJobStatus(jobConfig.job, 'Inactive')"
                  class="rounded-pill ml-2"
                >
                  Inactive
                </button>
                <button
                  *ngIf="jobConfig.job.status == 'Inactive'"
                  mat-flat-button
                  color="primary"
                  (click)="changeJobStatus(jobConfig.job, 'Active')"
                  class="rounded-pill ml-2"
                >
                  Active
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
