.active-deactive-wrapper {
  .doc-aspect-ratio-css {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
  }
  .user-pic {
    width: 50px;
    overflow: hidden;
    box-shadow: 1px 3px 5px 3px #ebe9ee;
  }
}
