<div class="active-deactive-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Active or Deactive User</li>
  </ol>
  <div class="sec-title">
    <div class="title" *ngIf="userData.length == 0">All Users</div>
    <div class="title" *ngIf="userData.length">
      All Users : <strong>{{ userData.length }} Records Found</strong>
    </div>
  </div>
  <section>
    <ng-container>
      <mat-tab-group>
        <mat-tab label="Mentees">
          <ng-template [ngTemplateOutlet]="userList" [ngTemplateOutletContext]="{ data: userDataConfig.menteeUsers }">
          </ng-template>
        </mat-tab>
        <mat-tab label="Recruiters">
          <ng-template
            [ngTemplateOutlet]="userList"
            [ngTemplateOutletContext]="{ data: userDataConfig.recruiterUsers }"
          >
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </section>
</div>

<ng-template #userList let-data="data">
  <div class="row min-vertical-h-80 max-vertical-h-80 stylishSlimScroll flow-y-auto flow-x-hidden">
    <div class="col-md-4 col-xl-3 col-sm-6 animated fadeInUp" *ngFor="let user of data; let i = index">
      <div class="card d-flex align-items-center">
        <div class="p-3 text-center">
          <img
            *ngIf="!user.image || user.image == 'string'"
            class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"
          />
          <img
            *ngIf="user.image && user.image != 'string'"
            class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
            [src]="user.image"
            alt="User picture"
          />
        </div>
        <div>
          <div class="ml-2 d-block">
            <h5 class="card-title text-muted text-truncate" title="{{ user.firstName }}  {{ user.lastName }}">
              {{ user.firstName }} {{ user.lastName }}
            </h5>
            <p class="card-intro text-center">
              {{ user.type }}
            </p>
          </div>
        </div>
        <div class="w100 border-top p-2">
          <div class="text-center">
            <button
              mat-mini-fab
              color="primary"
              matTooltipPosition="below"
              matTooltip="Deactive User"
              [disabled]="user.active != 'Y'"
              (click)="deactiveUser(user)"
              class="ml-2"
            >
              <i class="fas fa-user-minus"></i>
            </button>
            <button
              mat-mini-fab
              color="primary"
              matTooltipPosition="below"
              matTooltip="Active User"
              [disabled]="user.active == 'Y'"
              (click)="activeUser(user)"
              class="ml-2"
            >
              <i class="fas fa-user-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
