.all-course-wrapper {
  .main-div {
    .card {
      display: flex;
      flex-direction: column;
      flex-basis: 300px;
      flex-shrink: 0;
      flex-grow: 0;
      max-width: 100%;
      background-color: #fff;
      box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
      border-radius: 10px;
      overflow: hidden;
      margin: 1rem;
      min-height: 300px;
    }

    .card-img {
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
      }
    }

    .card-body {
      padding: 1.5rem;
      z-index: 1;
    }

    .card-title {
      font-size: 1rem;
      line-height: 1.33;
      font-weight: 700;
      &.skeleton {
        // NOTICE THIS
        min-height: 28px;
        border-radius: 4px;
      }
    }
  }
  .flag-discount {
    border-radius: 6px 0 0 6px;
    color: #fff;
    display: block;
    float: left;
    padding: 5px 5px;
    background: #ffc107;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    z-index: 9;
    top: 2%;
    width: 30%;
  }
  .flag-discount::before,
  .flag-discount::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
  }
  .flag-discount::before {
    top: 0;
    border-width: 22px 15px 0 0;
    border-color: #ffc107 transparent transparent transparent;
  }
  .flag-discount::after {
    bottom: 0;
    border-width: 0 15px 22px 0;
    border-color: transparent transparent #ffc107 transparent;
  }
}
