<div class="all-course-wrapper">
  <mat-drawer-container class="saved-conditions-wrapper" [hasBackdrop]="false">
    <mat-drawer #filterDrawer [position]="'end'" [mode]="'over'" class="flow-hidden">
      <div id="course-filter" style="width: 300px;">
        <div class="row d-flex align-items-center border-bottom">
          <div class="col-9">
            <p class="m-0 pl-2 h5 text-primary">Filters</p>
          </div>
          <div class="col text-right">
            <button (click)="filterDrawer.toggle()" mat-icon-button>
              <mat-icon class="text-primary">clear</mat-icon>
            </button>
          </div>
        </div>
        <ng-template [ngTemplateOutlet]="filterActions"></ng-template>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item active"><a>All Course</a></li>
        </ol>
        <section class="All-course-page-section min-vertical-h-100">
          <div class="row no-gutters">
            <ng-container *ngIf="isLoading">
              <div
                class="col-md-4 col-lg-4 col-sm-6 animated fadeIn"
                *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
              >
                <div class="card">
                  <div class="card-img skeleton">
                    <!-- waiting for img to load from javascript -->
                  </div>
                  <div class="card-body">
                    <h2 class="card-title skeleton">
                      <!-- wating for title to load from javascript -->
                    </h2>
                    <p class="card-intro skeleton">
                      <!-- waiting for intro to load from Javascript -->
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="position-absolute mt-2 ml-2">
              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                (click)="filterDrawer.open()"
                matTooltipPosition="below"
                matTooltip="Show Filter"
                *ngIf="!isLoading"
              >
                <mat-icon>filter_list</mat-icon>
              </button>

              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                *ngIf="!isLoading && checkFilter() != 0"
                matTooltipPosition="below"
                matTooltip="Remove Filter"
                (click)="removeFilter()"
              >
                <mat-icon>clear</mat-icon>
              </button>

              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                *ngIf="user && user.type.toLowerCase() == 'admin' && !isLoading"
                matTooltipPosition="below"
                matTooltip="Select / Deselect"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="selDeAll('select')" class="h6">
                  Select All
                </button>
                <button mat-menu-item (click)="selDeAll('deselect')" class="h6">
                  Deselect All
                </button>
              </mat-menu>
              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                *ngIf="user && user.type.toLowerCase() == 'admin' && !isLoading"
                matTooltipPosition="below"
                matTooltip="Edit Course"
                [disabled]="checkDisable()"
                (click)="openEditCourse()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <mat-paginator
              class="col-12"
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = pagination($event)"
              *ngIf="!isLoading"
            >
            </mat-paginator>
            <ng-container *ngIf="!isLoading && allCourse.length">
              <div class="row w100 max-vertical-h-80 stylishSlimScroll flow-y-auto flow-x-hidden">
                <div
                  class="col-md-4 col-lg-4 col-sm-6 animated fadeIn"
                  (click)="courseView(course)"
                  *ngFor="let course of allCourse"
                >
                  <div class="card curPoint">
                    <span class="flag-discount" *ngIf="course.discountPercentage > 0"
                      >{{ course.discountPercentage }}% Off</span
                    >
                    <button
                      mat-mini-fab
                      color="primary"
                      style="z-index: 9; right: 10px; color: orangered;"
                      class="position-absolute mt-2"
                      matTooltipPosition="below"
                      matTooltip="Remove From Favorite"
                      (click)="addToFavorite(false, course, $event)"
                      *ngIf="user && user.type.toLowerCase() != 'admin' && course.isFav"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                    <button
                      mat-mini-fab
                      color="primary"
                      style="z-index: 9; right: 10px;"
                      class="position-absolute mt-2"
                      matTooltipPosition="below"
                      matTooltip="Add To Favorite"
                      (click)="addToFavorite(true, course, $event)"
                      *ngIf="user && user.type.toLowerCase() != 'admin' && !course.isFav"
                    >
                      <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button
                      mat-mini-fab
                      color="primary"
                      style="z-index: 9; right: 10px;"
                      class="position-absolute mt-2"
                      [ngClass]="{ 'text-success': course.isSelected }"
                      (click)="selectCourse($event, course)"
                      *ngIf="user && user.type.toLowerCase() == 'admin'"
                    >
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <div class="card-img">
                      <img [src]="course.image_url" />
                    </div>
                    <div class="card-body pl-3 pr-3">
                      <h5 class="card-title">
                        {{ course.title }}
                      </h5>
                      <p class="card-intro">
                        {{ course.subjects[0].name }}
                      </p>
                      <div class="text-right" *ngIf="!isAdmin">
                        <span class="badge badge-info p-2" style="font-size: 12px;">{{
                          (course?.entitlements)[0]?.price | currency: 'USD'
                        }}</span>
                      </div>
                      <p class="card-intro" *ngIf="isAdmin">
                        <strong>edx : </strong>{{ course.entitlements[0]?.price | currency: 'USD' }} &nbsp;
                        <strong>TaSA : </strong> {{ course.offerPrice | currency: 'USD' }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!isLoading && allCourse.length == 0">
              <div class="text-center m-auto animated fadeIn">
                <div class="col-12 min-vertical-h-90 max-vertical-h-90 flow-hidden text-center">
                  <img src="../../../assets/images/NoRecordFound.png" class="img-fluid d-block mx-auto w100 mt-5" />

                  <button mat-flat-button color="primary" (click)="removeFilter()" class="rounded-pill ml-2">
                    Remove All Filters
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #filterActions>
  <div class="animated fadeIn p-3 ml-2">
    <div class="row no-gutters">
      <div class="max-vertical-h-75 stylishSlimScroll flow-y-auto flow-x-hidden">
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <label for="" class="h6 d-block">Search Course</label>
            <input matInput type="text" [(ngModel)]="searchConfig.text" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Min Disc</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.discountStart"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Max Disc</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.discountEnd"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Min Price</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.priceStart"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Max Price</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.priceEnd"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Program</label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.programs" [value]="searchConfig.programs" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item" *ngFor="let item of filterData.programs">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Language </label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.language" [value]="searchConfig.language" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item" *ngFor="let item of filterData.languages">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Subject </label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.subject" [value]="searchConfig.subject" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item" *ngFor="let item of filterData.subjects">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Level</label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.level" [value]="searchConfig.level" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item" *ngFor="let item of filterData.levels">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Tier</label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.tier" [value]="searchConfig.tier" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item.name" *ngFor="let item of filterData.tiers">{{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Categories</label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.category" [value]="searchConfig.category" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item.code" *ngFor="let item of filterData.categories">{{ item.code }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 text-center mt-3">
        <button mat-flat-button color="primary" (click)="applyFilter()" class="rounded-pill ml-2">
          Apply Search
        </button>
      </div>
    </div>
  </div>
</ng-template>
