.my-orders-wrapper {
  .card-img {
    min-height: 60px;
    background: #74c7d41f;
  }
  .spin-loader-prop {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
}
