<div class="my-orders-wrapper container">
  <div class="">
    <section>
      <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active"><a>My Orders</a></li>
      </ol>
      <div class="sec-title">
        <div class="title">All Orders</div>
      </div>
      <ng-container *ngIf="!orderConfig.isLoading">
        <ng-container *ngTemplateOutlet="allGigs"></ng-container>
      </ng-container>
      <ng-container *ngIf="orderConfig.isLoading">
        <ng-container *ngTemplateOutlet="loader"></ng-container>
      </ng-container>
    </section>
  </div>
</div>

<ng-template #allGigs>
  <div class="row w100 no-gutters animated fadeIn pb-4">
    <div class="col-12 col-md-6" *ngFor="let item of orderConfig.data">
      <ng-template [ngTemplateOutlet]="customGig" [ngTemplateOutletContext]="{ data: item }"> </ng-template>
    </div>

    <ng-container *ngIf="!orderConfig.isLoading && orderConfig.data.length === 0">
      <div class="text-center m-auto animated fadeIn">
        <div class="col-12 text-center">
          <img src="../assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
          <h6 class="text-primary">No Orders Found...!</h6>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #customGig let-data="data">
  <div class="card m-0 mt-4 mr-4 animated fadeInUp">
    <span class="badge badge-success p-2 caps position-absolute" style="font-size: 12px; right: 5px; top: 10px;"
      >Active</span
    >
    <div class="card-img pb-1 d-flex align-items-center text-center justify-content-center">
      <h5 class="text-css m-auto" *ngIf="data.type === 'Bid'">{{ data.remarks }}</h5>
      <h5 class="text-css m-auto" *ngIf="data.type === 'Gig'">Gig Card</h5>
    </div>
    <div class="card-body pl-3 pr-3">
      <div class="row no-gutters">
        <div class="col-12 col-md-6" *ngIf="data.sellerId != user.tasaId">
          <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Freelancer</h6>
          <div
            class="underline curPoint pl-4"
            [routerLink]="['/social-network/profile/', data.sellerId]"
            routerLinkActive="router-link-active"
          >
            {{ data.sellerName }}
          </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="data.buyerId != user.tasaId">
          <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Buyer</h6>
          <div class="pl-4">{{ data.buyerName }}</div>
        </div>
        <div class="col-12 col-md-6">
          <h6 class="mb-1"><i class="fas fa-money-bill pr-2 text-muted"></i>Bought For</h6>
          <div class="pl-4">{{ data.transactionAmount | currency }}</div>
        </div>
      </div>
      <div class="text-right mt-2">
        <button
          mat-mini-fab
          color="primary"
          (click)="checkReqProgress(data)"
          matTooltipPosition="below"
          class="mr-2"
          matTooltip="Check Progress"
        >
          <span class="material-icons" [ngClass]="{ 'spin-loader-prop': data.isLoadingProgress }">
            autorenew
          </span>
        </button>

        <button
          mat-mini-fab
          color="primary"
          (click)="data.reqProgressConfig = null; data.progressStatus = ''"
          matTooltipPosition="below"
          matTooltip="Close Progress"
          *ngIf="data.reqProgressConfig"
        >
          <span class="material-icons">
            close
          </span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 p-0" *ngIf="data.reqProgressConfig">
          <h6 class="mb-2">
            Progress <span class="text-muted">{{ data.reqProgressConfig.percent }}%</span>
          </h6>
          <mat-progress-bar
            [ngClass]="{
              'progress-red': data.reqProgressConfig.percent <= 50,
              'progress-green': data.reqProgressConfig.percent > 50 && reqProgressConfig.percent <= 80,
              'progress-theme': data.reqProgressConfig.percent > 80
            }"
            [mode]="data.reqProgressConfig.mode"
            [value]="data.reqProgressConfig.percent"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="w100">
        <div class="text-center">
          <div class="row no-gutters" *ngIf="data.progressStatus !== '' && data.sellerId != user.tasaId">
            <div class="col-12 mb-1">
              <div class="form-group text-left">
                <label class="form-label" for="status">Stage<span class="text-danger pl-1 asterisk">*</span></label>
                <mat-select
                  id="status"
                  [(ngModel)]="data.progressStatus"
                  [value]="data.progressStatus"
                  class="form-control form-control-prepended"
                >
                  <mat-option
                    [value]="item.value"
                    [disabled]="item.disable"
                    *ngFor="let item of requirementProgressStatus"
                  >
                    {{ item.value }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-12">
              <button mat-flat-button color="primary" class="rounded-pill" (click)="changeReqStage(data)">
                <span>Change Stage</span>
              </button>
            </div>
          </div>
          <button
            mat-mini-fab
            color="primary"
            [routerLink]="['/freelance/order/requirement/', data.requirementId]"
            routerLinkActive="router-link-active"
            matTooltipPosition="below"
            class="mr-2"
            matTooltip="View Details"
          >
            <mat-icon class="mb-1">remove_red_eye</mat-icon>
          </button>
          <button
            mat-flat-button
            color="primary"
            *ngIf="data.progressStatus === 'Completed' && data.buyerId != user.tasaId"
            class="rounded-pill"
            (click)="paymentToFreelancer(data)"
          >
            <span>Pay Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gig let-data="data">
  <div class="card m-0 mt-4 mr-4 animated fadeInUp">
    <div class="card-img pb-1 d-flex align-items-center text-center justify-content-center">
      <h5 class="text-css m-auto">Gig Card</h5>
    </div>
    <div class="card-body pl-3 pr-3">
      <h6 class="text-muted font400">{{ data.remarks }}</h6>
      <hr />
      <div class="row no-gutters">
        <div class="col-12 col-md-6" *ngIf="data.sellerId != user.tasaId">
          <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Freelancer</h6>
          <div
            class="underline curPoint pl-4"
            [routerLink]="['/social-network/profile/', data.sellerId]"
            routerLinkActive="router-link-active"
          >
            {{ data.sellerName }}
          </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="data.buyerId != user.tasaId">
          <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Buyer</h6>
          <div class="pl-4">{{ data.buyerName }}</div>
        </div>
        <div class="col-12 col-md-6">
          <h6 class="mb-1"><i class="fas fa-money-bill pr-2 text-muted"></i>Bought For</h6>
          <div class="pl-4">{{ data.transactionAmount | currency }}</div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <!-- <img
          [src]="item.userImage"
          [routerLink]="['/social-network/profile/', item.tasaId]"
          routerLinkActive="router-link-active"
          class="user-img"
          alt=""
        /> -->
      </div>
      <!-- <p class="card-intro">
        {{ item.category }}
      </p> -->
    </div>
    <div class="card-footer">
      <div class="w100">
        <div class="text-center">
          <button
            mat-mini-fab
            color="primary"
            *ngIf="data.buyerId != user.tasaId"
            [routerLink]="['/freelance/order/requirement/', data.requirementId]"
            routerLinkActive="router-link-active"
            matTooltipPosition="below"
            class="mr-2"
            matTooltip="View Requirement"
          >
            <mat-icon class="mb-1">remove_red_eye</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <ng-container>
    <div class="row">
      <div class="col-md-6 col-12 animated fadeInUp" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <div class="card m-0 mb-4">
          <div class="card-img skeleton">
            <!-- waiting for img to load from javascript -->
          </div>
          <div class="card-body">
            <h2 class="card-title skeleton">
              <!-- wating for title to load from javascript -->
            </h2>
            <p class="card-intro skeleton">
              <!-- waiting for intro to load from Javascript -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
