<div class="partner-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Our Partners</li>
  </ol>
  <div class="sec-title">
    <div class="title">Our Partners</div>
  </div>
  <!--ABOUT AREA-->
  <section class="section-padding mb-2 p-2" id="about">
    <!--CLIENT AREA-->
    <div class="client-area padding-bottom">
      <div class="row animated fadeIn">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let item of partners; let i = index">
              <ng-template carouselSlide [id]="i"
                ><div class="single-client text-center animated fadeIn card">
                  <div class="card-image p-2 d-flex align-items-center">
                    <img src="../../../assets/images/client/{{ item }}" alt="" />
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <!--CLIENT AREA END-->
  </section>
</div>
