<div class="about-us-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Our Partners</li>
  </ol>
  <div class="sec-title">
    <div class="title">Our Partners</div>
  </div>
  <!--ABOUT AREA-->
  <section class="section-padding about-area bg-theme mb-4" id="about">
    <div class="container">
      <div class="row flex-v-center">
        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 animated fadeIn">
          <div class="about-content xs-mb50 wow fadeIn">
            <!-- <h3 class="xs-font20 mb30">About Us.</h3> -->
            <p>
              To upskill, network and connect the millions of unemployed African college graduates with the job
              opportunities they need, and provide companies with access and visibility to the high-skilled talent-pool
              needed to meet their business goals on the continent.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
          <div class="video-promo-details wow animated fadeIn">
            <div class="video-promo-content">
              <span data-video-id="j1S66liv1t8" class="video-area-popup mb30"><i class="fa fa-play"></i></span>
            </div>
            <img src="../../../assets/images/about/about.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
