/*! Basscss | http://basscss.com | MIT License */

$blue: #523f6d;
$light-blue: #523f6d80;

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
  line-height: 1.6em !important;
  font-weight: 400 !important;
  zoom: 90%;
  width: 100%;
}

.transition-1 {
  transition: all ease-out 0.3s;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text-bold {
  font-weight: 700;
}

.no-transform {
  text-transform: none;
}

.no-outline {
  outline: 0 none !important;
}

.preLine {
  white-space: pre-line;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.list-style-none {
  list-style: none;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.tblFix {
  table-layout: fixed;
}

.no-shadow {
  box-shadow: none !important;
}

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.text-shadow-white {
  text-shadow: 2px 2px 4px #000000 !important;
  color: white;
}

.text-shadow-theme {
  text-shadow: 5px 4px 5px #d9d5df !important;
  color: white;
}

.curDef {
  cursor: default !important;
}

.curPoint {
  cursor: pointer !important;
}

.curNot {
  cursor: not-allowed !important;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.flow-hidden {
  overflow: hidden;
}

.flow-scroll {
  overflow: scroll;
}

.flow-auto {
  overflow: auto;
}

.flow-x-auto {
  overflow-x: auto;
}

.flow-y-auto {
  overflow-y: auto;
}

.flow-x-hidden {
  overflow-x: hidden;
}

.flow-y-hidden {
  overflow-y: hidden;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.unstyled {
  list-style-type: none !important;
}

.list-inline {
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fit {
  max-width: 100%;
}

.bgWhite {
  background-color: #fff;
}

.white-bg {
  background: white !important;
}

.bg-primary-light {
  background: rgb(234 232 238) !important;
}
.bg-lavender {
  background: lavender !important;
}

.bg-primary-more-light {
  background: #fafafa !important;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z10 {
  z-index: 10;
}

.z100 {
  z-index: 100;
}

.z1000 {
  z-index: 1000;
}

.z10000 {
  z-index: 10000;
}

.border-none {
  border: 0 !important;
}

.circle {
  border-radius: 50%;
}

.not-rounded {
  border-radius: 0;
}

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: 40em) {
  .xs-hide {
    display: none !important;
  }
}

@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

.display-none,
.dnone {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.word-wrap {
  word-break: break-all;
}

.w5 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30% !important;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}
.w65 {
  width: 65%;
}
.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w82 {
  width: 82%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100% !important;
}

.h10 {
  height: 10%;
}

.h20 {
  height: 20%;
}

.h25 {
  height: 25%;
}

.h30 {
  height: 30%;
}

.h40 {
  height: 40%;
}

.h50 {
  height: 50%;
}

.h60 {
  height: 60%;
}

.h70 {
  height: 70%;
}

.h75 {
  height: 75%;
}

.h80 {
  height: 80%;
}

.h90 {
  height: 90%;
}

.h100 {
  height: 100%;
}

.vh5 {
  height: 5vh;
}

.vh10 {
  height: 10vh;
}

.vh20 {
  height: 20vh;
}

.vh25 {
  height: 25vh;
}

.vh30 {
  height: 30vh;
}

.vh40 {
  height: 40vh;
}

.vh50 {
  height: 50vh;
}

.vh60 {
  height: 60vh;
}

.vh70 {
  height: 70vh;
}

.vh75 {
  height: 75vh;
}

.vh80 {
  height: 80vh;
}

.vh90 {
  height: 90vh;
}

.vh100 {
  height: 100vh;
}

.min-vertical-h-5 {
  min-height: 5vh;
}

.min-vertical-h-10 {
  min-height: 10vh;
}

.min-vertical-h-15 {
  min-height: 15vh;
}

.min-vertical-h-20 {
  min-height: 20vh;
}

.min-vertical-h-25 {
  min-height: 25vh;
}

.min-vertical-h-30 {
  min-height: 30vh;
}
.min-vertical-h-35 {
  min-height: 35vh;
}

.min-vertical-h-37 {
  min-height: 37vh;
}

.min-vertical-h-40 {
  min-height: 40vh;
}
.min-vertical-h-45 {
  min-height: 45vh;
}
.min-vertical-h-50 {
  min-height: 50vh;
}

.min-vertical-h-55 {
  min-height: 55vh;
}

.min-vertical-h-60 {
  min-height: 60vh;
}

.min-vertical-h-65 {
  min-height: 65vh;
}

.min-vertical-h-70 {
  min-height: 70vh !important;
}
.min-vertical-h-72 {
  min-height: 72vh;
}
.min-vertical-h-75 {
  min-height: 75vh;
}

.min-vertical-h-80 {
  min-height: 80vh;
}
.min-vertical-h-85 {
  min-height: 85vh;
}
.min-vertical-h-90 {
  min-height: 90vh;
}

.min-vertical-h-100 {
  min-height: 100vh;
}

.min-vertical-h-150 {
  min-height: 150vh !important;
}

.max-vertical-h-5 {
  max-height: 5vh;
}

.max-vertical-h-10 {
  max-height: 10vh;
}
.max-vertical-h-15 {
  max-height: 15vh;
}
.max-vertical-h-20 {
  max-height: 20vh;
}

.max-vertical-h-25 {
  max-height: 25vh;
}

.max-vertical-h-30 {
  max-height: 30vh;
}
.max-vertical-h-35 {
  max-height: 35vh;
}
.max-vertical-h-45 {
  max-height: 45vh;
}
.max-vertical-h-40 {
  max-height: 40vh;
}

.max-vertical-h-50 {
  max-height: 50vh;
}

.max-vertical-h-55 {
  max-height: 55vh;
}

.max-vertical-h-60 {
  max-height: 60vh;
}

.max-vertical-h-65 {
  max-height: 65vh;
}

.max-vertical-h-70 {
  max-height: 70vh;
}
.max-vertical-h-72 {
  max-height: 75vh;
}
.max-vertical-h-75 {
  max-height: 75vh;
}

.max-vertical-h-80 {
  max-height: 80vh;
}
.max-vertical-h-85 {
  max-height: 85vh;
}
.max-vertical-h-90 {
  max-height: 90vh;
}

.max-vertical-h-100 {
  max-height: 100vh;
}

.mxw10 {
  max-width: 10%;
}

.mxw15 {
  max-width: 15%;
}

.mxw20 {
  max-width: 20%;
}

.mxw25 {
  max-width: 25%;
}

.mxw30 {
  max-width: 30%;
}

.mxw35 {
  max-width: 35%;
}

.mxw40 {
  max-width: 40%;
}

.mxw50 {
  max-width: 50%;
}

.mxw55 {
  max-width: 55%;
}

.mxw60 {
  max-width: 60%;
}

.mxw70 {
  max-width: 70%;
}

.mxw75 {
  max-width: 75%;
}

.mxw80 {
  max-width: 80%;
}

.mxw90 {
  max-width: 90%;
}

.mxw100 {
  max-width: 100% !important;
}
.width-200 {
  width: 200px;
}

.margin-auto {
  margin: auto;
}

.margin-top-5-px {
  margin-top: 5px;
}

.margin-top-10-px {
  margin-top: 10px;
}

.margin-top-22-px {
  margin-top: 22px;
}

.margin-top-25-px {
  margin-top: 25px;
}

.margin-top-60-px {
  margin-top: 60px;
}

.margin-top-70-px {
  margin-top: 70px !important;
}

.margin-top-80-px {
  margin-top: 80px !important;
}

.margin-top-100-px {
  margin-top: 100px;
}

.margin-bottom-5-px {
  margin-bottom: 5px;
}
.margin-bottom-minus-15-px {
  margin-bottom: -15px;
}

.padding-20-px {
  padding: 20px;
}

.margin-right-0-px {
  margin-right: 0px !important;
}
.m-auto {
  margin: auto;
}

.overflow-hidden {
  overflow: hidden !important;
}
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 550px;
  height: 1.2em;
  white-space: nowrap;
}

a {
  color: black;
  &:hover {
    color: black;
  }
}

.text-primary {
  color: #523f6d !important;
}

.badge-primary {
  background-color: #523f6d;
}

.bg-primary {
  background-color: #523f6d !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  font-weight: 700;
  height: 40px;
  &:enabled {
    background-color: #523f6d !important;
    color: #fff !important;
  }
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-icon,
.mat-mini-fab.mat-primary {
  &:hover {
    &:enabled {
      transition: 0.1s;
      box-shadow: 5px 10px 10px 0 $light-blue !important;
      border: 2px solid #523f6d !important;
      background-color: #fff !important;
      color: #523f6d !important;
    }
  }
}

.theme-color {
  color: #523f6d;
}

.pointer-event-disabled {
  color: #8080805e !important;
  pointer-events: none;
}

.no-pointer-events {
  pointer-events: none !important;
}
.mat-dialog-container {
  padding: 0px !important;
}
//override bootstrap styles
button,
button:focus,
button:visited,
button:hover,
.mat-icon-button,
.mat-icon-button:focus,
.mat-icon-button:visited,
.mat-icon-button:hover,
.mat-button-wrapper,
.mat-button-wrapper:focus,
.mat-button-wrapper:visited,
.mat-button-wrapper:hover,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.mat-icon {
  height: 25px;
}
.mat-mini-fab .mat-button-wrapper {
  padding: 0 !important;
}

.btn-primary {
  background-color: #867899 !important;
}

@-webkit-keyframes demo {
  0% {
    background-color: darkgray;
    opacity: 1;
  }
  22% {
    background-color: lightgray;
  }
  77% {
    background-color: darkgray;
  }
  100% {
    background-color: lightgray;
  }
}

.blink {
  -webkit-animation-name: demo;
  -webkit-animation-duration: 7000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.mat-option-show-all {
  word-break: break-word !important;
  white-space: normal !important;
  line-height: initial !important;
  height: auto !important;
  padding: 10px !important;
}
.taxonomy-search-options .mat-option-text {
  overflow: unset !important;
}
.mat-autocomplete-panel {
  min-width: 260px !important;
}
.rounded-input-group .searchCriteria {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  .mat-select-value-text {
    font-size: 0.8rem;
  }
}
.rounded-input-group input {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
.badge {
  width: max-content !important;
}
.div-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.thin-btn {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 0.8rem !important;
}
.ui-jqdialog {
  left: 45% !important;
  top: 10% !important;
  z-index: 99999 !important;
}
.amazu-sppech-bubble {
  position: relative;
  border-radius: 0.4em;
  min-height: 100px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #246990 !important;
    border-right: 0;
    border-bottom: 0;
    margin-top: -30px;
    margin-right: -20px;
  }
}
.h-auto {
  height: auto !important;
  min-height: 48px;
}
.cdk-overlay-container {
  z-index: 999;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 0px #efeb2450;
  }
  30% {
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 25px #efeb2450;
  }
  70% {
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 75px #efeb2410;
  }
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 3px 1px #aba81a30, 0px 0px 0px 100px transparent;
  }
}

.breadcrumb {
  background-color: #a39ab238 !important;
}

.breadcrumb-item.active {
  color: #523f6d !important;
  font-weight: 800;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #523f6d !important;
  border-color: #523f6d !important;
}

// ---- home testimonial css ------- //
.testimonial-section {
  @keyframes anim {
    0% {
      opacity: 0;
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    }
    50% {
      box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff;
    }
    100% {
      opacity: 1;
      background: #fff;
      box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff;
    }
  }
  .testimonial-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    cursor: grab;

    .active {
      .testimonials-img {
        transform: translateY(0);
        filter: brightness(1);
      }
      .testimonials-blob {
        transform-origin: 50% 50%;
        animation: anim linear 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
    &:active {
      cursor: grabbing;
    }
    .owl-item {
      overflow: hidden;
      transition: all ease-out 0.3s;
      transform: scale(0.7);
      opacity: 0;
    }
    .owl-item.active {
      transform: scale(1);
      opacity: 1;
    }
    .owl-next {
      font-size: 13px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      padding: 0 10px;
      transition: all ease-out 0.25s;
      transform: translateY(-100%);
      opacity: 1;
      color: #fff;
      border-radius: 3px;
      background: #171719;
      right: 0;
      &:hover {
        color: #fff;
        background: #615e6b;
      }
    }
    .owl-prev {
      font-size: 13px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      padding: 0 10px;
      transition: all ease-out 0.25s;
      transform: translateY(-100%);
      opacity: 1;
      color: #fff;
      border-radius: 3px;
      background: #171719;
      left: 0;
      &:hover {
        color: #fff;
        background: #615e6b;
      }
    }
    .owl-next.disabled {
      opacity: 0;
    }
    .owl-prev.disabled {
      opacity: 0;
    }
  }
  .testimonials-wrapper {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    h4 {
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
      position: relative;
      padding: 30px;
      color: #000;
      border-radius: 5px;
      background: #fff;
      box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, 0.3);
    }
  }
  .testimonials-blob {
    border-radius: 100%;
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg);
  }
  .testimonials-img {
    border-radius: 100%;
    position: relative;
    left: 50%;
    overflow: hidden !important;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: -50px;
    box-shadow: 0 0 0 5px #171719;
    transition: all ease-out 0.5s;
    transform: translateY(-30%);
    filter: brightness(2);
  }
  .testimonials-person-info {
    text-align: center;
    color: #fff;
  }
}
// ---- home testimonial css ------- //

// --- home top css ------------- //

.welcome-slider-area .owl-controls {
  margin-top: -80px;
  position: absolute;
  right: 7%;
  top: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome-slider-area:hover .owl-controls {
  right: 10%;
  opacity: 1;
}

.navbar-nav {
  flex-direction: inherit !important;
}

.welcome-slider-area,
.trending-course-slider {
  .owl-nav {
    div {
      background: $blue none repeat scroll 0 0 !important;
      border-radius: 50% !important;
      bottom: 0 !important;
      color: white !important;
      font-size: 40px !important;
      height: 50px !important;
      margin: 10px 5px !important;
      padding-top: 5px !important;
      right: 0 !important;
      text-align: center;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 50px;
    }
  }
}

.welcome-slider-area .owl-nav > div:hover {
  background: $blue none repeat scroll 0 0 !important;
  color: #ffffff !important;
}

// --- home top css ------------- //

// .mat-form-field-underline {
//   display: none !important;
// }
.mat-form-field-infix {
  border-top: none;
  padding: 10 !important;
}
// .mat-select-placeholder {
//   color: rgb(134 142 150) !important;
// }

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px !important;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }
  1% {
    -moz-transform: rotate(30deg);
  }
  3% {
    -moz-transform: rotate(-28deg);
  }
  5% {
    -moz-transform: rotate(34deg);
  }
  7% {
    -moz-transform: rotate(-32deg);
  }
  9% {
    -moz-transform: rotate(30deg);
  }
  11% {
    -moz-transform: rotate(-28deg);
  }
  13% {
    -moz-transform: rotate(26deg);
  }
  15% {
    -moz-transform: rotate(-24deg);
  }
  17% {
    -moz-transform: rotate(22deg);
  }
  19% {
    -moz-transform: rotate(-20deg);
  }
  21% {
    -moz-transform: rotate(18deg);
  }
  23% {
    -moz-transform: rotate(-16deg);
  }
  25% {
    -moz-transform: rotate(14deg);
  }
  27% {
    -moz-transform: rotate(-12deg);
  }
  29% {
    -moz-transform: rotate(10deg);
  }
  31% {
    -moz-transform: rotate(-8deg);
  }
  33% {
    -moz-transform: rotate(6deg);
  }
  35% {
    -moz-transform: rotate(-4deg);
  }
  37% {
    -moz-transform: rotate(2deg);
  }
  39% {
    -moz-transform: rotate(-1deg);
  }
  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.card-img {
  padding-bottom: 56.25%;
  position: relative;
  img {
    position: absolute;
    width: 100%;
  }
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1rem;
  line-height: 1.33;
  font-weight: 700;
  &.skeleton {
    // NOTICE THIS
    min-height: 28px;
    border-radius: 4px;
  }
}
.mat-paginator-range-actions {
  margin-top: -10px;
}

.sec-title {
  position: relative;
  padding-bottom: 20px;
}
.sec-title .title {
  position: relative;
  color: #523f6d;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}
.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: #fff;
}
.mat-menu-item {
  height: 35px !important;
  line-height: 35px !important;
}

.ls-1 {
  letter-spacing: 1px;
}

.mat-expansion-panel-header {
  background-color: #ebe9ee;
}
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #ebe9ee !important;
}
.badge-info {
  background-color: $blue !important;
  padding: 5px;
}
.mat-standard-chip {
  background-color: $blue !important;
  color: white !important;
  border-radius: 7px !important;
}
.mat-menu-panel {
  min-height: auto !important;
}

.zoomCard {
  transition: transform 0.2s;
}
.zoomCard:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.mat-tab-label-active {
  background: #eae8ee !important;
}

.position-absolute {
  position: absolute !important;
}

.user-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ddd;
}

.skeleton {
  background-color: #e2e5e7;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.asterisk {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
}

.progress-green {
  .mat-progress-bar-fill {
    &::after {
      background-color: #025955 !important;
    }
  }
}

.progress-red {
  .mat-progress-bar-fill {
    &::after {
      background-color: #aa2b1d !important;
    }
  }
}

.progress-theme {
  .mat-progress-bar-fill {
    &::after {
      background-color: #523f6d !important;
    }
  }
}

.global-search-options {
  max-height: 300px !important;
}

.article-editor,
.job-editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    min-height: 300px !important;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}
.input-group {
  .mat-chip-list {
    .mat-input-element {
      padding: 0.375rem 0.75rem !important;
      border: 1px solid #ced4da !important;
    }
  }
}

.recommend-grp-carousel {
  .owl-prev,
  .owl-next {
    color: #523f6d !important;
    font-size: 25px !important;
    padding: 4px 0px !important;
    background: none !important;
  }
}

.gig-view-carousel {
  .owl-prev {
    position: absolute;
    color: #523f6d !important;
    left: -10px;
    top: 40%;
    font-size: 45px !important;
    background: none !important;
  }
  .owl-next {
    position: absolute;
    color: #523f6d !important;
    right: -10px;
    top: 40%;
    font-size: 45px !important;
    background: none !important;
  }
}

.article-editor .NgxEditor,
.job-editor .NgxEditor {
  max-height: 500px !important;
  overflow: scroll !important;
}

.create-gig-stepper {
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
}
