<div class="d-flex align-items-center no-gutters signup-wrapper">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <div class="navbar-shadow">
      <div class="card-header text-center">
        <h4 class="card-title">
          Applied Applicants For - <strong class="text-primary">{{ popupData.job.title }}</strong>
        </h4>
      </div>
      <div class="row p-4 no-gutters max-vertical-h-80 stylishSlimScroll flow-y-auto flow-x-hidden">
        <ng-container *ngTemplateOutlet="applicants"></ng-container>
      </div>
      <div class="card-footer">
        <div class="col-12 text-center mt-3">
          <!--   <button mat-flat-button color="primary" (click)="submit()" class="rounded-pill ml-2">
              Edit
            </button> -->
          <button mat-flat-button color="primary" mat-dialog-close="true" class="rounded-pill ml-2">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #applicants>
  <div class="col-md-4 col-xl-3 col-sm-12 animated fadeIn" *ngFor="let user of popupData.job.applicants; let i = index">
    <div class="card d-flex align-items-center">
      <!-- <div class="p-3 text-center">
            <img
              *ngIf="!user.image || user.image == 'string'"
              class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
              src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture"
            />
            <img
              *ngIf="user.image && user.image != 'string'"
              class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
              [src]="user.image"
              alt="User picture"
            />
          </div> -->
      <div class="p-3 text-center">
        <div class="ml-2 d-block">
          <h5 class="card-title text-muted text-truncate" title="{{ user.name }}">
            {{ user.name }}
          </h5>
          <a href="mailto:{{ user.userId }}" class="card-intro text-center">
            {{ user.userId }}
          </a>
        </div>
      </div>
      <div class="mt-2">
        <mat-form-field class="pb-2 w100">
          <mat-select placeholder="Applicant Status" [(ngModel)]="user.status">
            <mat-option [value]="'Active'">
              Active
            </mat-option>
            <mat-option [value]="'Inactive'">
              Inactive
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w100 border-top p-2">
        <div class="text-center">
          <a
            [href]="user.resumeLink"
            target="_blank"
            mat-mini-fab
            color="primary"
            class="mr-2"
            download
            matTooltipPosition="below"
            matTooltip="Download Resume"
          >
            <mat-icon>cloud_download</mat-icon>
          </a>
          <!-- <button
            mat-mini-fab
            color="primary"
            matTooltipPosition="below"
            matTooltip="Deactive User"
            [disabled]="user.active != 'Y'"
            (click)="deactiveUser(user)"
            class="ml-2"
          >
            <i class="fas fa-user-minus"></i>
          </button> -->
          <!-- <button
            mat-mini-fab
            color="primary"
            matTooltipPosition="below"
            matTooltip="Active User"
            [disabled]="user.active == 'Y'"
            (click)="activeUser(user)"
            class="ml-2"
          >
            <i class="fas fa-user-plus"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>
