<div class="d-flex align-items-center no-gutters signup-wrapper">
  <div class="col-sm-8 col-md-12 col-lg-12 mx-auto">
    <div class="navbar-shadow">
      <div class="card-header text-center">
        <h4 class="card-title">
          {{ popupData.applicantStatus }} Applicants For -
          <strong class="text-primary">{{ popupData.job.title }}</strong>
        </h4>
      </div>
      <div
        *ngIf="popupData.job.applicants.length != 0"
        class="row p-4 no-gutters max-vertical-h-80 stylishSlimScroll flow-y-auto flow-x-hidden"
      >
        <ng-container *ngTemplateOutlet="applicants"></ng-container>
      </div>
      <ng-container *ngIf="popupData.job.applicants.length == 0">
        <div class="text-center m-auto animated fadeIn mt-2">
          <div class="col-12 text-center">
            <img src="./assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
            <h6 class="text-primary mb-2 mt-2">No {{ popupData.applicantStatus }} Applications Yet...!</h6>
          </div>
        </div>
      </ng-container>
      <div class="card-footer">
        <div class="col-12 text-center">
          <button mat-flat-button color="primary" mat-dialog-close="true" class="rounded-pill ml-2">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #applicants>
  <div class="col-12" *ngIf="popupData.applicantStatus != 'Withdrawn'">
    <div class="border">
      <div class="d-flex p-2">
        <button
          mat-mini-fab
          color="primary"
          style="z-index: 9;"
          class="mr-4"
          matTooltipPosition="below"
          matTooltip="Select / Deselect Applicants"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selDeAll('select')" class="h6">
            Select All
            <small class="text-muted" title="Without Withdrawn Applicants"><i>(Without Withdrawn Applicants)</i></small>
          </button>
          <button mat-menu-item (click)="selDeAll('deselect')" class="h6">
            Deselect All
          </button>
        </mat-menu>
        <div class="text-center mt-2 mr-3">
          <mat-form-field class="pb-2 w100">
            <mat-select placeholder="Selected Applicant Status" (selectionChange)="afterStatusChange($event.value)">
              <mat-option [disabled]="item == 'Applied'" *ngFor="let item of applicantJobStatus" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          mat-flat-button
          color="primary"
          [disabled]="checkDisable() || bulkStatus == ''"
          (click)="editApplicantJob(true)"
          class="m-2 rounded-pill ml-2 w25"
        >
          Change Status For Selected Applicant
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3 col-sm-12 animated fadeIn" *ngFor="let user of popupData.job.applicants; let i = index">
    <div class="card d-flex align-items-center">
      <button
        mat-mini-fab
        color="primary"
        style="z-index: 9; right: 10px;"
        class="position-absolute mt-2"
        [ngClass]="{ 'text-success': user.isSelected }"
        (click)="selectApplicant($event, user)"
        *ngIf="popupData.applicantStatus != 'Withdrawn' && user.status != 'Withdrawn'"
      >
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <!-- <div class="p-3 text-center">
            <img
              *ngIf="!user.image || user.image == 'string'"
              class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
              src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture"
            />
            <img
              *ngIf="user.image && user.image != 'string'"
              class="user-pic img-responsive img-circle curPoint doc-aspect-ratio-css"
              [src]="user.image"
              alt="User picture"
            />
          </div> -->
      <div class="p-3 text-center">
        <div class="ml-2 d-block">
          <h5 class="card-title text-muted text-truncate" title="{{ user.name }}">
            {{ user.name }}
          </h5>
          <a href="mailto:{{ user.userId }}" class="card-intro text-center">
            {{ user.userId }}
          </a>
        </div>
      </div>
      <div class="mt-2">
        <mat-form-field class="pb-2 w100">
          <mat-select
            placeholder="Change Applicant Status"
            (selectionChange)="editApplicantJob()"
            [(ngModel)]="user.status"
            [disabled]="popupData.applicantStatus == 'Withdrawn' || user.status == 'Withdrawn'"
          >
            <mat-option [disabled]="item == 'Applied'" *ngFor="let item of applicantJobStatus" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w100 border-top p-2">
        <div class="text-center">
          <a
            [href]="user.resumeLink"
            target="_blank"
            mat-mini-fab
            color="primary"
            class="mr-2"
            download
            matTooltipPosition="below"
            matTooltip="Download Resume"
          >
            <mat-icon>cloud_download</mat-icon>
          </a>
          <button
            mat-mini-fab
            color="primary"
            matTooltipPosition="below"
            matTooltip="Show Resume"
            (click)="showResume(user)"
            class="ml-2"
          >
            <mat-icon> remove_red_eye</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- The Modal -->
<div id="myModal" *ngIf="doc != ''" class="modal d-block">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="doc = ''">&times;</span>
    <ngx-doc-viewer [url]="doc" viewer="google" style="width: 100%; height: 100%;"></ngx-doc-viewer>
  </div>
</div>
