<div class="reset-password-wrapper container w65">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint pr-2"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Reset Password</li>
  </ol>
  <section class="contact-page-section">
    <div>
      <div class="sec-title">
        <div class="title">Reset Password</div>
        <h2>Update your password.</h2>
      </div>
      <div class="inner-container w60 p-4" data-aos="flip-left" data-aos-duration="1500">
        <div class="row no-gutters clearfix">
          <!--Form Column-->
          <div class="form-column col-md-12 col-sm-12 col-xs-12">
            <div class="inner-column">
              <!--Contact Form-->
              <div class="contact-form">
                <form (ngSubmit)="submit()" [formGroup]="contactUsForm" id="contact-form" novalidate>
                  <div class="row clearfix">
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input type="text" name="name" formControlName="firstName" placeholder="First Name" required />
                      <small
                        [hidden]="contactUsForm.controls.firstName.valid || contactUsForm.controls.firstName.untouched"
                        class="text-danger"
                        translate
                      >
                        First Name is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input type="text" name="name" formControlName="lastName" placeholder="Last Name" required />
                      <small
                        [hidden]="contactUsForm.controls.lastName.valid || contactUsForm.controls.lastName.untouched"
                        class="text-danger"
                        translate
                      >
                        Last Name is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input type="email" name="email" value="" formControlName="email" placeholder="Email" required />
                      <small
                        [hidden]="contactUsForm.controls.email.valid || contactUsForm.controls.email.untouched"
                        class="text-danger"
                        translate
                      >
                        Email is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input type="text" name="phone" formControlName="contactNumber" placeholder="Phone" required />
                      <small
                        [hidden]="
                          contactUsForm.controls.contactNumber.valid || contactUsForm.controls.contactNumber.untouched
                        "
                        class="text-danger"
                        translate
                      >
                        Contact Number is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <button
                        mat-flat-button
                        color="primary"
                        [disabled]="contactUsForm.invalid"
                        type="submit"
                        class="rounded-pill ml-2"
                      >
                        Update Now
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!--End Contact Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
