<div class="reset-password-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint pr-2"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active" *ngIf="isToken">Reset Password</li>
    <li class="breadcrumb-item active" *ngIf="!isToken">Update Password</li>
  </ol>
  <section class="contact-page-section">
    <div>
      <div class="sec-title">
        <div class="title" *ngIf="isToken">Reset Password</div>
        <div class="title" *ngIf="!isToken">Update Password</div>
        <h2>Change your password.</h2>
      </div>
      <div class="inner-container w60 p-4 animated fadeIn">
        <div class="row no-gutters clearfix">
          <!--Form Column-->
          <div class="form-column col-md-12 col-sm-12 col-xs-12">
            <div class="inner-column">
              <!--Contact Form-->
              <div class="reset-form">
                <form (ngSubmit)="submit()" [formGroup]="contactUsForm" id="reset-form" novalidate>
                  <div class="row clearfix">
                    <div class="form-group col-md-12 col-sm-12 co-xs-12" *ngIf="!isToken">
                      <input
                        type="password"
                        name="password"
                        formControlName="currentPassword"
                        placeholder="Current Password"
                        required
                      />
                      <small
                        [hidden]="
                          contactUsForm.controls.currentPassword.valid ||
                          contactUsForm.controls.currentPassword.untouched
                        "
                        class="text-danger"
                        translate
                      >
                        Current Password is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input
                        type="password"
                        name="password"
                        value=""
                        formControlName="password"
                        placeholder="New Password"
                        required
                      />
                      <small
                        [hidden]="contactUsForm.controls.password.valid || contactUsForm.controls.password.untouched"
                        class="text-danger"
                        translate
                      >
                        Password is required
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <input
                        type="password"
                        name="confirmPassword"
                        formControlName="confirmPassword"
                        placeholder="Confirm Password"
                        required
                      />
                      <small
                        *ngIf="
                          !contactUsForm.controls.confirmPassword.untouched &&
                          contactUsForm.controls.confirmPassword.errors?.required
                        "
                        class="text-danger"
                        translate
                      >
                        Confirm Password is required
                      </small>
                      <small
                        *ngIf="contactUsForm.controls.confirmPassword.errors?.mustMatch"
                        class="text-danger"
                        translate
                      >
                        Confirm Password must match
                      </small>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                      <button
                        mat-flat-button
                        color="primary"
                        [disabled]="contactUsForm.invalid"
                        type="submit"
                        class="rounded-pill ml-2"
                      >
                        Update Now
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!--End Contact Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
