.avatarImg {
  height: 525px;
  width: 350px;
  margin-top: 15%;
}

.mainSlider {
  content: "";
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slider1BG {
  background-image: url("../../../assets/images/Slider7.jpg");
  box-shadow: inset 0 0 0 2000px rgba(42, 115, 204, 0.3);
}

.slider2BG {
  background-image: url("../../../assets/images/Slider6.jpg");
  box-shadow: inset 0 0 0 2000px rgba(42, 115, 204, 0.3);
}

.slider3BG {
  background-image: url("../../../assets/images/Slider2.jpg");
  box-shadow: inset 0 0 0 2000px rgba(42, 115, 204, 0.3);
}

.sliderHeader {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 50px;
  font-family: monospace;
  margin-top: 2%;
  font-weight: bold;
}

.slideContainer {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  font-family: monospace;
}

.slideItem .avatar {
  opacity: 0;
}

.slideItem .sliderHeader {
  opacity: 0;
}

.slideItem .slideContainer {
  opacity: 0;
}

.activeSlideItem .avatar {
  display: block;
  -webkit-animation: bounceInDown 1.5s;
  animation: bounceInDown 1.5s;
}

.activeSlideItem .sliderHeader {
  display: block;
  -webkit-animation: bounceInRight 0.5s;
  animation: bounceInRight 0.5s;
}

.activeSlideItem .slideContainer {
  display: block;
  -webkit-animation: bounceInRight 2s;
  animation: bounceInRight 2s;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.sc_section {
  position: relative;
}

.header_wrap {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 5%;
}

.margin_top_huge {
  margin-top: 6em !important;
  margin-top: 6rem !important;
}

.sc_item_title {
  margin: 0 0 0.4em;
  text-align: center;
  font-size: 2.286em;
}

h2 {
  font-size: 2.286em;
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 0.6667em;
  margin-bottom: 0.4em;
}

.sc_item_descr {
  font-size: 1.143em;
  font-weight: 300;
  line-height: 1.4em;
  font-style: italic;
  margin: 0.25em 5px 3em;
  text-align: center;
  letter-spacing: 0.02em;
  position: relative;
  padding-bottom: 1.8em;
}

.sc_item_descr:before {
  background-color: #2a73cc;
  bottom: 0;
  content: " ";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 1px;
  position: absolute;
  width: 24px;
}

.columns_wrap {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.columns_wrap:before,
.columns_wrap:after {
  content: " ";
  display: table;
}

.margin_right_small {
  margin-right: 2.2em !important;
  margin-right: 2.2rem !important;
}
.margin_left_small {
  margin-left: 2.2em !important;
  margin-left: 2.2rem !important;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.parallax-banner {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.parallax-bg {
  background-image: url("../../../assets/images/carousel_2.jpg");
  box-shadow: inset 0 0 0 2000px rgba(42, 115, 204, 0.5);
}

$font: "Sofia", sans-serif;
$font-size: 16px;
$blue: #2a73cc;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;
$grey2: #f0f0f0;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$bluegrey: #49606e;
$orange: #ec992c;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
  &::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .book-container {
    .content {
      opacity: 1;

      transform: translateY(0px);
    }
  }

  .informations-container {
    transform: translateY(0px);
    .more-information {
      opacity: 1;
    }
  }
}

.courseCard {
  * {
    margin: 0;
    padding: 0;

    font-family: $font;
  }

  h2 {
    color: #2a73cc;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    .booking-card {
      position: relative;
      width: 300px;
      display: flex;
      flex: 0 0 300px;
      flex-direction: column;
      margin-left: 19%;
      @include radius(10px);
      overflow: hidden;
      background-position: center center;
      background-size: cover;
      text-align: center;
      color: $blue;
      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(10, 72, 112, 0);
        transition: 0.3s;
      }

      .book-container {
        height: 100px;
        .content {
          position: relative;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          transform: translateY(-200px);
          transition: 0.3s;
          .btn {
            border: 3px solid white;
            padding: 10px 15px;
            background: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.3em;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background: white;
              border: 0px solid white;
              color: $blue;
            }
          }
        }
      }

      .informations-container {
        flex: 1 0 auto;
        padding: 20px;
        background: $grey2;
        transform: translateY(206px);
        transition: 0.3s;
        .title {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 1.2em;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            width: 50px;
            margin: auto;
            background: $blue;
          }
        }

        .sub_title {
          font-weight: 500;
        }

        .price {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          .icon {
            margin-right: 10px;
          }
        }

        .more-information {
          opacity: 0;
          transition: 0.3s;
          .info-and-date-container {
            display: flex;
            .box {
              flex: 1 0;
              padding: 15px;
              margin-top: 20px;
              @include radius(10px);
              background: white;
              font-weight: bold;
              font-size: 0.9em;
              .icon {
                margin-bottom: 5px;
              }
              &.info {
                color: $orange;
                margin-right: 10px;
              }
            }
          }
          .disclaimer {
            margin-top: 20px;
            font-size: 0.8em;
            color: $grey;
          }
        }
      }

      &:hover {
        @include cardsOpen();
      }
    }
  }

  h1 {
    margin: 10px 20px;
  }

  .courseSubscription {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    height: 32px;
    padding-top: 3%;
  }
}

@media (max-width: 768px) {
  ul {
    .booking-card {
      @include cardsOpen();
    }
  }
}

.careerPathButton {
  -o-box-flex: 4;
  box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  margin: 8px 10px;
  padding: 8px 10px;
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  height: 35px;
  width: 180px;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  flex-grow: 1;
  flex-basis: 100px;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  place-content: space-between;
  transition: box-shadow 0.4s;
}

.careerPathButtonText {
  font-size: 0.875rem;
  font-weight: 700;
  color: #2a73cc;
  display: inline-block;
  place-self: center;
}

.news-section {
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .news-card {
    border-bottom: 2px solid #2a73cc;
    /* border-left: 2px solid #c195c4; */
    box-shadow: 5px 5px 5px 0 #a0a7d54f;
    height: 200px;
  }
}
