$font: "Sofia", sans-serif;
$font-size: 16px;
$blue: #523f6d;
$light-blue: #523f6d80;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

.home-wrapper {
  .app-card-list {
    display: inline-block;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 768px) {
      width: 80%;
      white-space: nowrap;
      margin-top: 0;
    }

    .card {
      margin: 60px 30px;
      display: inline-block;

      .card-body {
        white-space: normal;
      }
    }
  }
  .course-3d-card {
    transform: rotateY(40.7deg) rotateX(-12.7deg) rotateZ(-3deg);
  }
  .video-fluid {
    width: 100%;
    height: auto;
  }
  /*--------------------------
    1. SLIDER AREA
-----------------------------*/

  .slide-bg-one {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_1.jpg") no-repeat scroll center center / cover;
  }

  .slide-bg-two {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_2.jpg") no-repeat scroll center center / cover;
  }

  .slide-bg-three {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_3.jpg") no-repeat scroll center center / cover;
  }

  .slide-bg-four {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_4.jpg") no-repeat scroll center center / cover;
  }

  .slide-bg-five {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_5.jpg") no-repeat scroll center center / cover;
  }

  .slide-bg-six {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_6.jpg") no-repeat scroll center center / cover;
  }
  .slide-bg-seven {
    filter: brightness(3);
    background: url("../../../assets/images/slider/slide_7.jpg") no-repeat scroll center center / cover;
  }

  .font-size-18-px {
    font-size: 18px !important;
  }

  .btn-behaviour {
    background-color: #523f6d;
    color: white !important;
    font-size: 16px !important;
    &:hover {
      transition: 0.1s;
      box-shadow: 5px 10px 10px 0 $light-blue !important;
      border: 2px solid #523f6d !important;
      background-color: #fff !important;
      color: #523f6d !important;
    }
  }

  .inputClass {
    border: 2px solid #523f6d;
    font-size: 18px !important;
    color: #523f6d !important;
    animation: 1s ease 2s normal both 1 running fadeInUp;
  }

  .figures-wrapper {
    min-height: 200px;
    &:hover {
      transition: 0.5s;
      box-shadow: 5px 10px 10px 0 $light-blue !important;
    }
    .figures-content {
      &:hover {
        transition: 0.5s;
        transform: scale(1.2) !important;
      }
    }
  }

  /*--------------------------------
    2. FEATURES AREA
---------------------------------*/

  .row.promo-content {
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0 9px 9px 0 #c7c7c7;
    box-shadow: 0 9px 9px 0 #c7c7c7;
    margin-top: -100px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
  }

  .features-box-icon {
    background: #d9d5df none repeat scroll 0 0;
    border-radius: 5px;
    color: $blue;
    height: 70px;
    margin-bottom: 40px;
    padding-top: 15px;
    text-align: center;
    width: 70px;
  }

  /*----------------------------------
    3. FUN FACT AREA
----------------------------------*/

  .fun-fact-area .area-bg {
    background: rgba(0, 0, 0, 0) url("../../../assets/images/fact-bg.jpg") no-repeat scroll center center / cover;
  }

  .fun-fact-area .area-bg::after {
    background: #000000 none repeat scroll 0 0;
    opacity: 0.6;
  }

  /*---------------------------------
    4. COURSE AERA
-----------------------------------*/

  .single-course {
    border-radius: 10px;
    -webkit-box-shadow: 0 7px 7px #c7c7c7;
    box-shadow: 0 7px 7px #c7c7c7;
    overflow: hidden;
    min-height: 400px;
    .enroll-div {
      bottom: 3px;
      background: #ebe8efeb;
      width: 80%;
      padding: 6px;
    }
  }

  .single-course:hover {
    box-shadow: 0 19px 38px #c7c7c7, 0 15px 12px #c7c7c7;
  }

  a.enroll-button {
    background: #d3ffea none repeat scroll 0 0;
    border-radius: 50px;
    color: $blue;
    padding: 10px 15px;
    text-transform: capitalize;
  }

  a.enroll-button:hover {
    background: #171932 none repeat scroll 0 0;
    color: #ffffff;
  }

  .course-price {
    color: $blue;
    float: right;
    font-size: 22px;
    font-weight: 700;
  }

  .row.course-list {
    margin: 0;
  }

  .row.course-list .col-lg-3 {
    width: 100%;
    padding: 0;
  }

  .course-details {
    text-align: left;
    &:hover {
      #courses {
        img {
          height: 50px;
        }
      }
    }
  }

  // #mat-stepper-home {
  //   .mat-horizontal-stepper-header-container {
  //     display: none !important;
  //   }
  // }

  /*--------------------------------
    5. VID#ebe8efebO AREA
---------------------------------*/

  .video-area .area-bg::before {
    background: $blue none repeat scroll 0 0;
    opacity: 0.75;
  }

  .video-promo-details {
    border-radius: 10px;
  }

  .video-promo-content {
    color: #ffffff;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  .video-area-popup {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    color: $blue;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    height: 70px;
    line-height: 1;
    padding-left: 5px;
    padding-top: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 70px;
  }

  .video-area-popup:hover {
    background: $blue none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 10px 10px #ffffff;
    box-shadow: 0 0 10px 10px #ffffff;
    color: #ffffff;
  }

  /*--------------------------------
    7. BLOG AREA
----------------------------------*/

  .single-blog-item {
    border-radius: 10px;
    -webkit-box-shadow: 0 7px 7px #c7c7c7;
    box-shadow: 0 7px 7px #c7c7c7;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    min-height: 300px;
    background-color: white;
  }
  .blog-feed-area {
    .owl-prev,
    .owl-next {
      background-color: $blue !important;
    }
  }

  .blog-thumb {
    overflow: hidden;
  }

  .blog-thumb img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    min-height: 150px;
  }

  .single-blog:hover {
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .blog-details h3 {
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .blog-meta a {
    opacity: 1;
    margin-right: 15px;
  }

  .blog-meta a:hover {
    opacity: 1;
  }

  .blog-details a.readmore {
    display: inline-block;
    letter-spacing: 1px;
  }

  .single-blog-item:hover .blog-thumb img {
    opacity: 0.5;
    -webkit-transform: scale(1.3) rotate(10deg);
    transform: scale(1.3) rotate(10deg);
  }
  .news-date {
    z-index: 9;
    right: 10px;
    top: 5px;
  }

  /*--------------------------------
    8. FAQS AREA
---------------------------------*/

  .faqs-area .box-title {
    font-size: 18px;
    letter-spacing: 0;
  }

  .mat-tab-labels {
    justify-content: center !important;
  }

  .mat-tab-label {
    font-weight: 800 !important;
  }

  .mat-ink-bar {
    background-color: #867899 !important;
  }

  .fontStyle {
    font-family: "Poppins", sans-serif !important;
    font-size: 13px !important;
  }

  /*---------------------------------
    9. CONTACT AREA
----------------------------------*/

  .contact-form input,
  .contact-form textarea {
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 1px #cacfda;
    box-shadow: 0 0 0 1px #cacfda;
    margin-bottom: 30px;
    min-height: 50px;
    padding: 10px;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    -webkit-box-shadow: 0 0 0 1px $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  .contact-form button {
    background: $blue none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 13px 20px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .contact-form button:hover {
    background: #171932 none repeat scroll 0 0;
    color: #ffffff;
  }

  .enroll-button a {
    background: $blue none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    width: 150px;
  }

  .enroll-button a:hover {
    background: #171932 none repeat scroll 0 0;
  }

  /*---------------------------------
    10. CLIENT AREA
---------------------------------*/

  .client-area .owl-carousel .owl-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  /*---------------------------------
    11. FOOTER AREA
----------------------------------*/

  .footer-list ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  .footer-list ul li {
    display: block;
    margin-bottom: 12px;
  }

  .footer-list ul li a:hover {
    color: $blue;
  }

  .subscriber-form {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 50px;
    font-size: 18px;
    height: 50px;
    position: relative;
    text-transform: capitalize;
  }

  .subscriber-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #000000;
    height: 100%;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 10px 10px 30px;
    position: absolute;
    top: 0;
    width: 80%;
  }

  .subscriber-form button {
    background: #d3ffea none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 50px 50px 0;
    color: #171932;
    font-size: 20px;
    height: 100%;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 80px;
  }

  .subscriber-form button:hover {
    background: $blue none repeat scroll 0 0;
    color: #ffffff;
  }

  label.mt10 {
    bottom: -52px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  label.mt10.valid {
    bottom: 8px;
    color: $blue;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .footer-bottom-area {
    background: #2e2e43 none repeat scroll 0 0;
  }

  .footer-copyright {
    padding: 30px 0;
  }

  /*---------------------------------
    12. SCROLL TO TOP AREA
----------------------------------*/

  .scrolltotop {
    background: #404873 none repeat scroll 0 0;
    bottom: 20px;
    color: #ffffff;
    display: none;
    font-size: 20px;
    height: 40px;
    padding-top: 8px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 9;
  }

  .scrolltotop:hover {
    background: $blue;
    color: #ffffff;
  }

  //-------------------- Timeline ------------------------------------//
  @media (min-width: 1000px) {
    #timeline .demo-card:nth-child(odd) .head::after,
    #timeline .demo-card:nth-child(even) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    #timeline .demo-card:nth-child(odd) .head::before,
    #timeline .demo-card:nth-child(even) .head::before {
      position: absolute;
      content: "";
      animation: pulse 2s infinite;
      width: 9px;
      height: 9px;
      background-color: $blue;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #86789980;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.2);
      box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 0px $light-blue;
    }
    30% {
      box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 25px $light-blue;
    }
    70% {
      box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 75px $light-blue;
    }
    100% {
      transform: scale(0.4);
      box-shadow: 1px 1px 3px 1px #aba81a30, 0px 0px 0px 100px transparent;
    }
  }

  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }

  .demo-card:nth-child(2) {
    order: 4;
  }

  .demo-card:nth-child(3) {
    order: 2;
  }

  .demo-card:nth-child(4) {
    order: 5;
  }

  .demo-card:nth-child(5) {
    order: 3;
  }

  .demo-card:nth-child(6) {
    order: 6;
  }

  /* Border Box */
  * {
    box-sizing: border-box;
  }

  /* Fonts */

  #timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 25px;
  }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1000px;
      // height: 1650px;
      margin: 0px -60px;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 1px solid #bdbdbd;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  @media (min-width: 1000px) {
    #timeline .demo-card {
      max-width: 350px;
      // height: 400px;
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 20px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 15px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 406.5px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 54%;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 15px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 387px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: -85%;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
      font-size: 165%;
      line-height: 1.2rem;
    }
  }
  #timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card .body {
      // height: 315px;
    }
  }
  #timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }
  #timeline .demo-card--step1 {
    background-color: $blue;
  }
  #timeline .demo-card--step1 .head::after {
    border-color: $blue;
  }
  #timeline .demo-card--step2 {
    background-color: $blue;
  }
  #timeline .demo-card--step2 .head::after {
    border-color: $light-blue;
  }
  #timeline .demo-card--step3 {
    background-color: $blue;
  }
  #timeline .demo-card--step3 .head::after {
    border-color: $blue;
  }
  #courses {
    img {
      min-height: 190px;
    }
  }
  .signup-slide-images {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 590px;
  }

  .signup-wrapper {
    height: 590px;
  }
  .signup-slide-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  /*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
  .team {
    background: #fff;
    padding: 60px 0 30px 0;
  }

  .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }

  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  .team .member img {
    transition: all ease-in-out 0.4s;
  }

  .team .member:hover img {
    transform: scale(1.1);
  }

  .team .member .member-info {
    position: absolute;
    bottom: -48px;
    left: 20px;
    right: 20px;
    background: linear-gradient(360deg, #523f6d 0%, rgb(82 63 109 / 71%) 35%, rgb(82 63 109 / 38%) 100%);
    padding: 15px 0;
    border-radius: 4px;
  }

  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
  }

  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }

  .team .member .social {
    margin-top: 15px;
  }

  .team .member .social a {
    transition: color 0.3s;
    color: #fff;
  }

  .team .member .social a:hover {
    color: #9eccf4;
  }

  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }

  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 100px;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}

.terms-privacy-modal {
  .modal-content {
    left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    top: 5%;
  }
}
