<div class="all-jobs-wrapper">
  <mat-drawer-container class="saved-conditions-wrapper" [hasBackdrop]="false">
    <mat-drawer #filterDrawer [position]="'end'" [mode]="'over'" class="flow-hidden">
      <div id="course-filter" style="width: 300px;">
        <div class="row d-flex align-items-center border-bottom">
          <div class="col-9">
            <p class="m-0 pl-2 h5 text-primary">Filters</p>
          </div>
          <div class="col text-right">
            <button (click)="filterDrawer.toggle()" mat-icon-button>
              <mat-icon class="text-primary">clear</mat-icon>
            </button>
          </div>
        </div>
        <ng-template [ngTemplateOutlet]="filterActions"></ng-template>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item active"><a>All Job Listings</a></li>
        </ol>
        <section class="All-course-page-section min-vertical-h-100">
          <div class="row no-gutters">
            <ng-container *ngIf="isLoading">
              <div class="col-12 animated fadeIn" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
                <div class="card ml-0 mr-0" style="height: 100px !important;">
                  <div class="card-img skeleton"></div>
                </div>
              </div>
            </ng-container>
            <div class="position-absolute mt-2 ml-2">
              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                (click)="filterDrawer.open()"
                matTooltipPosition="below"
                matTooltip="Show Filter"
                *ngIf="!isLoading"
              >
                <mat-icon>filter_list</mat-icon>
              </button>

              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="mr-1"
                *ngIf="!isLoading && checkFilter() != 0"
                matTooltipPosition="below"
                matTooltip="Remove Filter"
                (click)="removeFilter()"
              >
                <mat-icon>clear</mat-icon>
              </button>

              <button
                mat-mini-fab
                color="primary"
                style="z-index: 9;"
                class="d-none mr-1"
                *ngIf="!isLoading && checkFilter() != 0"
                matTooltipPosition="below"
                matTooltip="Remove Filter"
                (click)="removeFilter()"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>

            <mat-paginator
              class="col-12"
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = pagination($event)"
              *ngIf="!isLoading"
            >
            </mat-paginator>

            <ng-container *ngIf="!isLoading && allJobs.length">
              <div class="row no-gutters w100 mt-2">
                <div class="col text-right">
                  <div id="toggleBar" class="btn-group btn-group-sm border border-secondary" role="group">
                    <button
                      [class.current]="currentView == 1"
                      (click)="changeAssetView(1)"
                      matTooltip="Grid View"
                      matTooltipPosition="below"
                      type="button"
                      class="btn btn-secondary py-2 px-3"
                    >
                      <i class="fa fas fa-th-large"></i>
                    </button>
                    <button
                      [class.current]="currentView == 2"
                      (click)="changeAssetView(2)"
                      matTooltip="List View"
                      matTooltipPosition="below"
                      type="button"
                      class="btn btn-secondary py-2 px-3"
                    >
                      <i class="fa fas fa-th-list"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row w100 max-vertical-h-70 stylishSlimScroll flow-y-auto flow-x-hidden" id="jobsArea">
                <ng-container *ngIf="currentView == 1">
                  <ng-template [ngTemplateOutlet]="jobsGridView"></ng-template>
                </ng-container>
                <ng-container *ngIf="currentView == 2">
                  <ng-template [ngTemplateOutlet]="jobsListView"></ng-template>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="!isLoading && allJobs.length == 0">
              <div class="text-center m-auto animated fadeIn">
                <div class="col-12 min-vertical-h-90 max-vertical-h-90 flow-hidden text-center">
                  <img src="../../../assets/images/NoRecordFound.png" class="img-fluid d-block mx-auto w100 mt-5" />

                  <button mat-flat-button color="primary" (click)="removeFilter()" class="rounded-pill ml-2">
                    Remove All Filters
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #jobsGridView>
  <div class="col-md-4 col-lg-4 col-sm-6 animated fadeIn" *ngFor="let job of allJobs">
    <div class="card curPoint">
      <!-- <button
      mat-mini-fab
      color="primary"
      style="z-index: 9; right: 10px; color: orangered;"
      class="position-absolute mt-2"
      matTooltipPosition="below"
      matTooltip="Remove From Favorite"
      (click)="addToFavorite(false, course, $event)"
      *ngIf="user && user.type.toLowerCase() != 'admin' && course.isFav"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
      <div class="card-img">
        <img src="../../../assets/images/TSA_logo_new.small.png" />
      </div>
      <div class="card-body pl-3 pr-3">
        <h5 class="card-title m-0">
          {{ job.title }}
        </h5>
        <p class="text-muted m-0">{{ job.location }}</p>
        <p class="text-muted">Experience : {{ job.experienceFrom }} - {{ job.experienceTo }} Year</p>
        <marquee class="card-intro mt-2" style="display: flex;">
          <span class="pr-1 p-1" *ngFor="let item of job.tags"
            ><badge class="badge badge-info">{{ item }}</badge></span
          >
        </marquee>
      </div>
      <div class="card-footer">
        <div class="w100">
          <div class="text-center">
            <button
              mat-mini-fab
              color="primary"
              matTooltipPosition="below"
              class="mr-2"
              matTooltip="View Job"
              (click)="viewJob(job)"
            >
              <mat-icon class="mb-1">remove_red_eye</mat-icon>
            </button>
            <button
              mat-flat-button
              color="primary"
              matTooltipPosition="below"
              matTooltip="Apply For This Job"
              class="rounded-pill ml-2"
              (click)="applyForJob(job, $event)"
            >
              <span>Apply</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #jobsListView>
  <mat-accordion>
    <div class="col-12 animated fadeIn w100 mt-4 mb-1" id="jobPanel-{{ i }}" *ngFor="let job of allJobs; let i = index">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="jobs-panel">
        <mat-expansion-panel-header class="d-flex align-items-center">
          <mat-panel-title class="pt-3">
            <h6 class="text-primary mt-2 pb-2">
              {{ job.title }} <span class="text-muted ml-1">({{ job.location }})</span>
            </h6>
          </mat-panel-title>
          <mat-panel-description>
            <div class="text-right mr-2 pt-4">
              <span class="pr-1 p-1" *ngFor="let item of job.tags"
                ><badge class="badge badge-info">{{ item }}</badge></span
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mt-4">
          <div class="row">
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Title :
                </div>
                <div class="col-9 h6">
                  {{ job.title }}
                </div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Experience :
                </div>
                <div class="col-9 h6">{{ job.experienceFrom }} - {{ job.experienceTo }} Year</div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  No Of Openings :
                </div>
                <div class="col-9 h6">{{ job.countOfOpenings }}</div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Description :
                </div>
                <div class="col-9 h6">
                  {{ job.description }}
                </div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Created By :
                </div>
                <div class="col-9 h6">
                  {{ job.createdBy }}
                </div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Job Location :
                </div>
                <div class="col-9 h6">
                  {{ job.location }}
                </div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Job Status :
                </div>
                <div class="col-9 h6">
                  {{ job.status }}
                </div>
              </div>
            </div>
            <div class="col-12 p-2">
              <div class="row">
                <div class="col-3 text-primary text-bold caps">
                  Tags :
                </div>
                <div class="col-9 h6">
                  <span class="card-intro pr-1 p-1" *ngFor="let item of job.tags"
                    ><badge class="badge badge-info">{{ item }}</badge></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button
              mat-flat-button
              color="primary"
              matTooltipPosition="below"
              matTooltip="Apply For This Job"
              class="rounded-pill ml-2"
              (click)="applyForJob(job, $event)"
            >
              <span>Apply</span>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</ng-template>

<ng-template #filterActions>
  <div class="animated fadeIn p-3 ml-2">
    <div class="row no-gutters">
      <div class="max-vertical-h-75 stylishSlimScroll flow-y-auto flow-x-hidden">
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <label for="" class="h6 d-block">Search Jobs</label>
            <input matInput type="text" [(ngModel)]="searchConfig.text" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Min Exp</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.experienceFrom"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field class="example-full-width w100">
                <label for="" class="h6 d-block">Max Exp</label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="searchConfig.experienceto"
                  min="0"
                  step="1"
                  oninput="validity.valid||(value='');"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <label for="" class="h6 d-block">Tag</label>
            <input matInput type="text" [(ngModel)]="searchConfig.tag" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <label for="" class="h6 d-block">Location </label>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="searchConfig.location" [value]="searchConfig.location" ngDefaultControl>
              <mat-option value="">None</mat-option>
              <mat-option [value]="item.title" *ngFor="let item of countries">{{ item.title }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 text-center mt-3">
        <button mat-flat-button color="primary" (click)="applyFilter()" class="rounded-pill ml-2">
          Apply Search
        </button>
      </div>
    </div>
  </div>
</ng-template>
