<header class="header-wrapper" id="home">
  <div class="header-top-area" id="scroolup">
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar py-0 pb-1">
        <div class="d-flex container-fluid pr-0 pl-0 align-items-center">
          <div class="row w100 no-gutters">
            <div class="col-1">
              <div class="navbar-header pt-1 border-none">
                <a [routerLink]="['/home']" class="navbar-brand img-responsive p-0 mr-0"
                  ><img
                    src="../assets/logo/TSA_transparent_logo.png"
                    style="height: 70px; width: auto;"
                    alt="logo"
                    class="tasa-logo"
                  />
                  <span class="tasa-logo-text">TaSA</span></a
                >
              </div>
              <!-- <span class="text-white tasa-logo ml-2" *ngIf="!sharedService.deviceDetectorService.isMobile()"><h4 class="mb-0">TaSA</h4><ul class="heading-ul">
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Source Africa</h6></li>
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Soure Americas</h6></li>
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Source Asia</h6></li>
              </ul></span>   -->
            </div>
            <div class="col-md-4 explore-section pt-1" *ngIf="!user">
              <div class="p-0 pt-3 d-flex align-items-center">
                <button
                  mat-button
                  [matMenuTriggerFor]="exploreMenu"
                  mat-flat-button
                  color="default"
                  class="rc-ExploreButton rounded-pill ml-2 bg-theme curPoint"
                >
                  <span> Explore <i class="fa fa-chevron-down" aria-hidden="true"></i> </span>
                </button>
                <mat-menu class="mt-2" #exploreMenu="matMenu">
                  <mat-selection-list
                    class="min-vertical-h-40 max-vertical-h-40 stylishSlimScroll flow-y-auto flow-x-hidden"
                    #shoes
                    [multiple]="false"
                  >
                    <mat-list-option
                      (click)="onCourseSearch('subject', item)"
                      *ngFor="let item of courseConfig.subjects"
                      [value]="item"
                    >
                      {{ item }}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-menu>
                <div class="home-button ml-2">
                  <form>
                    <input
                      type="search"
                      [(ngModel)]="searchCourseText"
                      name="search"
                      class="w100"
                      id="search"
                      placeholder="Search Courses"
                      (keyup.enter)="onCourseSearch('text')"
                    />
                    <button type="button" (click)="onCourseSearch('text')">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4 explore-section pt-3" *ngIf="user">
              <div class="input-group global-search w95">
                <mat-select
                  [(value)]="globalSearchType"
                  (selectionChange)="searchGlobalText = ''"
                  panelClass="global-search-options"
                  class="form-control global-search-options bg-lavender"
                >
                  <mat-option value="profile"><i class="fas fa-user pr-2 text-primary"></i>People</mat-option>
                  <mat-option value="course"> <i class="fas fa-graduation-cap pr-2 text-primary"></i>Course</mat-option>
                  <mat-option value="organization"
                    ><i class="fas fa-university pr-2 text-primary"></i>Organization</mat-option
                  >
                  <mat-option value="job"><i class="fas fa-briefcase pr-2 text-primary"></i>Job</mat-option>
                  <mat-option value="freelance"><i class="fas fa-user pr-2 text-primary"></i>Freelancer</mat-option>
                  <mat-option value="group"><i class="fas fa-user-friends pr-2 text-primary"></i>Group</mat-option>
                </mat-select>
                <input
                  type="text"
                  class="form-control border-none"
                  [(ngModel)]="searchGlobalText"
                  placeholder="Search..."
                  [matAutocomplete]="auto"
                  id="globalSearchInput"
                  (keyup.enter)="globalSearch()"
                  [value]="gsVal()"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <ng-container *ngIf="globalSearchType == 'profile'">
                    <mat-option *ngIf="userSearchConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="showProfile(item.tasaId)"
                      *ngFor="let item of userSearchConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image || item.image == 'string'"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        class="user-img"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                      />
                      <img
                        *ngIf="item.image && item.image != 'string'"
                        [src]="item.image"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                        class="user-img"
                      />
                      <span [title]="item.firstName + ' ' + item.lastName">
                        {{ item.firstName }} {{ item.lastName }}</span
                      >
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'freelance'">
                    <mat-option *ngIf="freelanceConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="showProfile(item.tasaId)"
                      *ngFor="let item of freelanceConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image || item.image == 'string'"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        class="user-img"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                      />
                      <img
                        *ngIf="item.image && item.image != 'string'"
                        [src]="item.image"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                        class="user-img"
                      />
                      <span [title]="item.firstName + ' ' + item.lastName">
                        {{ item.firstName }} {{ item.lastName }}</span
                      >
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'organization'">
                    <mat-option *ngIf="orgConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      [routerLink]="['/organization/', item.id]"
                      routerLinkActive="router-link-active"
                      *ngFor="let item of orgConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.orgImage || item.orgImage == 'string'"
                        src="../../../assets/images/TSA_logo_new.small.png"
                        class="user-img"
                        alt="{{ item.orgName }}"
                      />
                      <img
                        *ngIf="item.orgImage && item.orgImage != 'string'"
                        [src]="item.orgImage"
                        alt="{{ item.orgName }}"
                        class="user-img"
                      />
                      <span [title]="item.orgName"> {{ item.orgName }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'course'">
                    <mat-option *ngIf="courseConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="redirect('course', item.key)"
                      *ngFor="let item of courseConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image_url || item.image_url == 'string'"
                        src="../../../assets/images/TSA_logo_new.small.png"
                        class="user-img"
                        alt="{{ item.orgName }}"
                      />
                      <img
                        *ngIf="item.image_url && item.image_url != 'string'"
                        [src]="item.image_url"
                        alt="{{ item.title }}"
                        class="user-img"
                      />
                      <span [title]="item.title">{{ item.title }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'job'">
                    <mat-option *ngIf="courseConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="redirect('job', item.id)"
                      routerLinkActive="router-link-active"
                      *ngFor="let item of jobConfig.data"
                      [value]="item"
                    >
                      {{ item.title }}
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'group'">
                    <mat-option *ngIf="userSearchConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      [routerLink]="['/group/', item.id]"
                      *ngFor="let item of userSearchConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.imageUrl || item.imageUrl == 'string'"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        class="user-img"
                      />
                      <img *ngIf="item.imageUrl && item.imageUrl != 'string'" [src]="item.imageUrl" class="user-img" />
                      <span [title]="item.title"> {{ item.title }}</span>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>

                <div class="input-group-prepend">
                  <div
                    class="input-group-text symbol curPoint bg-lavender"
                    [ngClass]="{ 'pointer-event-disabled': searchGlobalText == '' }"
                    (click)="globalSearch()"
                  >
                    <i class="fa fa-search text-dark"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <div id="main-nav" class="stellarnav menu-navbar d-flex" style="height: 80px; justify-content: flex-end;">
                <ul>
                  <ng-container *ngIf="!user">
                    <ng-template *ngTemplateOutlet="noUserMenu"></ng-template>
                  </ng-container>
                  <ng-container *ngIf="user?.type == 'Recruiter'">
                    <ng-template *ngTemplateOutlet="recruiterMenu"></ng-template>
                  </ng-container>
                  <ng-container *ngIf="user">
                    <ng-template *ngTemplateOutlet="studentMenu"></ng-template>
                  </ng-container>
                  <ng-container *ngIf="user">
                    <li>
                      <a class="d-flex curPoint">
                        <img
                          *ngIf="!user.image || user.image == 'string'"
                          matTooltipPosition="below"
                          matTooltip="Upload Avatar"
                          class="user-img curPoint mr-1"
                          src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                          (click)="callUpload($event)"
                        />
                        <img
                          *ngIf="user.image && user.image != 'string'"
                          matTooltipPosition="below"
                          matTooltip="Upload Avatar"
                          class="user-img curPoint mr-1"
                          [src]="user.image"
                          (click)="callUpload($event)"
                        />
                        <span class="d-flex align-items-center" matTooltipPosition="left" [matTooltip]="user.firstName">
                          <h6 class="text-truncate font400 w80 pt-3" style="max-width: 80px;">
                            <span *ngIf="user?.type != 'Admin'">{{ user.firstName }}</span>
                            <span *ngIf="user?.type == 'Admin'">Admin</span>
                          </h6>
                          <i class="fas fa-caret-down pl-1"></i
                        ></span>
                      </a>
                      <ul class="animated fadeIn bg-white pt-2 pb-2 sidebar-submenu">
                        <!-- <li>
                          <button mat-menu-item [routerLink]="['/home']" class="h6">
                            <i class="fas fa-home pr-3 text-primary"></i> Home
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/about-us']" class="h6">
                            <i class="fas fa-address-card pr-3 text-primary"></i> About Us
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
                            <i class="fas fa-id-card pr-3 text-primary"></i> Contact Us
                          </button>
                        </li> -->
                        <li>
                          <button mat-menu-item [routerLink]="['/dashboard']" class="h6">
                            <i class="fas fa-chart-line pr-3 text-primary"></i> Dashboard
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/my-plan']" class="h6">
                            <i class="fa fa-tags pr-3 text-primary"></i> My Subscriptions
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/subscription-plans']" class="h6">
                            <i class="fa fa-tags pr-3 text-primary"></i> Subscription Plans
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/reset-password']" class="h6">
                            <i class="fas fa-key pr-3 text-primary"></i> Update Password
                          </button>
                        </li>
                        <!-- <li>
                          <button mat-menu-item [routerLink]="['/user/profile']" class="h6">
                            <i class="fas fa-user-edit pr-3 text-primary"></i> Edit Profile
                          </button>
                        </li> -->
                        <li>
                          <button mat-menu-item [routerLink]="['/testimonial']" class="h6">
                            <i class="fas fa-pen-alt pr-3 text-primary"></i> Add Testimonial
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/digital-assets']" class="h6">
                            <i class="fa fa-folder-open pr-3 text-primary"></i> Documents
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item [routerLink]="['/cart']" class="h6">
                            <i class="fas fa-cart-plus pr-3 text-primary"></i> Checkout
                          </button>
                        </li>
                        <li>
                          <button mat-menu-item (click)="logout()" class="h6">
                            <i class="fa fa-power-off pr-3 text-primary"></i> Logout
                          </button>
                        </li>
                        <li></li>
                      </ul>
                      <!-- </mat-menu> -->
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<ng-template #noUserMenu>
  <li>
    <a class="curPoint px-2 py-4" [routerLink]="['/home']">Home</a>
  </li>
  <li>
    <a class="curPoint px-2 py-4" [routerLink]="['/about-us']">About Us</a>
  </li>
  <li><a [routerLink]="['/contact-us']" class="curPoint px-2 py-4">Contact Us</a></li>
  <li>
    <span class="rounded-pill curPoint btn-behaviour mx-2 py-2 px-3 font-weight-bold" color="primary" (click)="login()">
      Sign In
    </span>
  </li>
  <li>
    <span
      class="rounded-pill btn-behaviour curPoint mx-2 py-2 px-3 font-weight-bold"
      color="primary"
      (click)="signup('student')"
    >
      Sign Up
    </span>
  </li>
  <li>
    <span
      class="rounded-pill btn-behaviour curPoint mx-2 py-2 px-3 font-weight-bold"
      matTooltip="Sign Up as a Recruiter on TaSA"
      matTooltipPosition="below"
      color="primary"
      (click)="signup('recruiter')"
    >
      Employers
    </span>
  </li>

  <ul>
    <!-- <li>
      <a class="curPoint px-2 py-4" (click)="partnerWithUs()">Partner With us</a>
    </li>
    <li><a (click)="scrollToFaq('faqs')" class="curPoint px-2 py-4">FAQ</a></li> -->

    <li></li>

    <!-- <li>
      <a [matMenuTriggerFor]="menu" class="curPoint px-2 py-4"
        >Menu<i class="fas fa-caret-down pl-1"></i>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/about-us']" class="h6">
            <i class="fas fa-address-card pr-3 text-primary"></i>About Us
          </button>
          <button mat-menu-item [routerLink]="['/our-process']" class="h6">
            <i class="fas fa-stream pr-3 text-primary"></i>Our Process
          </button>
          <button mat-menu-item [routerLink]="['/our-partner']" class="h6">
            <i class="fas fa-handshake pr-3 text-primary"></i>Our Partner
          </button>
          <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
            <i class="fas fa-address-book pr-3 text-primary"></i>Contact Us
          </button>
        </mat-menu>
      </a>
    </li> -->
  </ul>
</ng-template>

<ng-template #recruiterMenu>
  <li>
    <a class="curPoint px-2 py-4"> <i class="fas fa-tools pr-2"></i>Operation<i class="fas fa-caret-down pl-1"></i> </a>
    <ul class="animated fadeIn pt-2 pb-2 sidebar-submenu bg-white">
      <li>
        <button mat-menu-item [routerLink]="['/recruiter/jobs']" class="h6">
          <i class="fas fa-list pr-3 text-primary"></i> Jobs
        </button>
      </li>
    </ul>
  </li>
</ng-template>

<ng-template #adminMenu>
  <li>
    <a class="curPoint px-2 py-4"><i class="fas fa-wrench pr-2"></i>Operations<i class="fas fa-caret-down pl-1"></i></a>
    <ul class="animated fadeIn pt-2 pb-2 sidebar-submenu bg-white">
      <li>
        <button mat-menu-item [routerLink]="['/admin/deactive-user']" class="h6">
          Active / Deactive User
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/tier']" class="h6">
          Tiers
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/lovs']" class="h6">
          Lovs
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/news']" class="h6">
          News
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/organization']" class="h6">
          Organization
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/jobs']" class="h6">
          Jobs
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/testimonial']" class="h6">
          Testimonial
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/admin/partners']" class="h6">
          Partners
        </button>
      </li>
    </ul>
  </li>
</ng-template>

<ng-template #notifications>
  <ul
    id="notificationMenu"
    class="notifications open bg-white"
    [ngClass]="{ 'notifications-message': notificationConfig.currentView === 1 }"
  >
    <li class="titlebar text-center pt-2">
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 0">NOTIFICATIONS</h6>
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 1">MESSAGES</h6>
      <span class="settings"><i class="icon-cog"></i> </span>
    </li>
    <div class="notifbox text-left">
      <li
        class="notif curPoint unread"
        (click)="notiRedirect(item, i)"
        *ngFor="let item of notificationsData; let i = index"
      >
        <a class="d-flex">
          <div class="imageblock ml-1">
            <button class="animated fadeIn" mat-mini-fab *ngIf="item.jobId != '' && item.jobId != 'string'">
              <mat-icon>work</mat-icon>
            </button>
            <button class="animated fadeIn" mat-mini-fab *ngIf="item.courseId != '' && item.courseId != 'string'">
              <mat-icon>school</mat-icon>
            </button>
            <button
              class="animated fadeIn"
              mat-mini-fab
              color="warn"
              *ngIf="item.connRequestId != '' && item.connRequestId != 'string'"
            >
              <mat-icon>person</mat-icon>
            </button>
            <button
              class="animated fadeIn"
              mat-mini-fab
              color="warn"
              *ngIf="item.messageId != '' && item.messageId != 'string'"
            >
              <mat-icon>message</mat-icon>
            </button>
            <button
              class="animated fadeIn"
              mat-mini-fab
              color="warn"
              *ngIf="item.postId != '' && item.postId != 'string'"
            >
              <mat-icon>notes</mat-icon>
            </button>
            <button
              class="animated fadeIn"
              mat-mini-fab
              color="primary"
              *ngIf="
                item.courseId === '' &&
                item.jobId === '' &&
                item.connRequestId === '' &&
                item.messageId === '' &&
                item.postId === ''
              "
            >
              <mat-icon>notifications_active</mat-icon>
            </button>
          </div>
          <div class="messageblock pl-3">
            <div class="message">{{ item.message }}</div>
            <div class="messageinfo text-left font10 pt-1"><i class="icon-trophy"></i>{{ getNotiDay(item) }}</div>
          </div>
        </a>
      </li>
      <ng-container *ngIf="notificationsData.length == 0">
        <div class="text-center m-auto animated fadeIn mt-2">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 150px;" class="d-block m-auto" />
            <h6 class="text-primary">You’re all caught up!</h6>
          </div>
        </div>
      </ng-container>
    </div>
    <li class="seeall" *ngIf="notificationConfig.currentView === 0">
      <a [routerLink]="['/notifications']" (click)="onClickOfSellAllNoti()">See All</a>
    </li>
  </ul>
</ng-template>

<ng-template #studentMenu>
  <li>
    <a class="curPoint px-2 py-4">
      <i class="fas fa-user-friends pr-2"></i>Community<i class="fas fa-caret-down pl-1"></i
    ></a>
    <ul class="animated fadeIn pt-2 pb-2 bg-white sidebar-submenu">
      <li>
        <button mat-menu-item [routerLink]="['/social-network/posts']" class="h6">
          <i class="fas fa-list pr-3 text-primary"></i> All Post
        </button>
      </li>
      <li>
        <button
          (click)="showProfile(user.tasaId)"
          mat-menu-item
          routerLinkActive="router-link-active"
          [routerLink]="['/user/saved-course']"
          class="h6"
        >
          <i class="far fa-user pr-3 text-primary"></i> My Profile
        </button>
      </li>
      <li>
        <button
          mat-menu-item
          routerLinkActive="router-link-active"
          [routerLink]="['/social-network/network']"
          class="h6"
        >
          <i class="fas fa-network-wired pr-3 text-primary"></i> Network
        </button>
      </li>
      <li>
        <button
          mat-menu-item
          [routerLink]="['/social-network/conversation']"
          routerLinkActive="router-link-active"
          class="h6"
        >
          <i class="fas fa-inbox pr-3 text-primary"></i> Inbox
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/social-network/group']" routerLinkActive="router-link-active" class="h6">
          <i class="fas fa-users pr-3 text-primary"></i> Groups
        </button>
      </li>
    </ul>
  </li>
  <li>
    <a class="curPoint px-2 py-4"><i class="fas fa-briefcase pr-2"></i> Jobs<i class="fas fa-caret-down pl-1"></i></a>
    <ul class="animated fadeIn pt-2 pb-2 bg-white sidebar-submenu">
      <li>
        <button mat-menu-item [routerLink]="['/jobs/listings']" class="h6">
          <i class="fas fa-list pr-3 text-primary"></i> All Job Listings
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/user/saved-jobs']" class="h6">
          <i class="fas fa-save pr-3 text-primary"></i> Saved Jobs
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/jobs/my-applications']" class="h6">
          <i class="fas fa-check-circle pr-3 text-primary"></i> Applied Jobs
        </button>
      </li>
    </ul>
  </li>
  <li>
    <a class="curPoint px-2 py-4">
      <i class="fas fa-graduation-cap pr-2"></i>Courses<i class="fas fa-caret-down pl-1"></i
    ></a>
    <ul class="animated fadeIn pt-2 pb-2 bg-white sidebar-submenu">
      <li>
        <button mat-menu-item [routerLink]="['/user/course']" class="h6">
          <i class="fas fa-book-reader pr-3 text-primary"></i> My Courses
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/all-course']" class="h6">
          <i class="fas fa-book pr-3 text-primary"></i> All Courses
        </button>
      </li>
      <li>
        <button mat-menu-item [routerLink]="['/user/fav-course']" class="h6">
          <i class="fas fa-heart pr-3 text-primary"></i> Favorite Courses
        </button>
      </li>
    </ul>
  </li>
  <ng-container *ngIf="user.type == 'Admin'">
    <ng-template *ngTemplateOutlet="adminMenu"></ng-template>
  </ng-container>
  <li>
    <a class="curPoint px-2 py-4">
      <i class="fas fa-unlock-alt pr-2"></i>Freelance<i class="fas fa-caret-down pl-1"></i
    ></a>
    <ul class="animated fadeIn pt-2 pb-2 bg-white sidebar-submenu" style="min-width: 280px;">
      <li>
        <button mat-menu-item class="h6" [routerLink]="['/freelance/all-gigs']" routerLinkActive="router-link-active">
          <i class="fas fa-grip-horizontal pr-3 text-primary"></i> All Services
        </button>
      </li>
      <li>
        <button
          mat-menu-item
          class="h6"
          [routerLink]="['/freelance/all-requirements']"
          routerLinkActive="router-link-active"
        >
          <i class="fas fa-grip-horizontal pr-3 text-primary"></i> Custom Gigs
        </button>
      </li>
      <li>
        <button
          mat-menu-item
          class="h6"
          [routerLink]="['/freelance/create-requirement']"
          routerLinkActive="router-link-active"
        >
          <i class="fas fa-pen-square pr-3 text-primary"></i> Create Custom Gig Request
        </button>
      </li>
      <li *ngIf="user && user.isFreelancer === 'Y'">
        <button mat-menu-item class="h6" [routerLink]="['/freelance/create-gig']" routerLinkActive="router-link-active">
          <i class="fas fa-id-badge pr-3 text-primary"></i>Become Seller
        </button>
      </li>
      <li>
        <button mat-menu-item class="h6"><i class="fas fa-user-edit pr-3 text-primary"></i> My Order</button>
      </li>
    </ul>
  </li>
  <li>
    <a
      matTooltipPosition="below"
      (mouseover)="setNotificationData('other')"
      class="notification-popup curPoint text-white mt-2"
      matTooltip="Notification"
    >
      <i class="fa fa-bell" id="notiRing"></i>
      <span class="badge badge-pill badge-warning notification">{{ notificationConfig.otherCount }}</span>
    </a>
    <ng-template *ngTemplateOutlet="notifications"></ng-template>
  </li>
  <li>
    <a
      matTooltipPosition="below"
      (mouseover)="setNotificationData('message')"
      class="notification-popup curPoint text-white mt-2"
      matTooltip="Messages"
    >
      <i class="fas fa-comment-alt text-white"></i>
      <span class="badge badge-pill badge-warning notification">{{ notificationConfig.messageCount }}</span>
    </a>
    <ng-template *ngTemplateOutlet="notifications"></ng-template>
  </li>
</ng-template>

<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />
