<header class="" id="home">
  <div class="header-top-area" id="scroolup">
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar py-0 pb-1">
        <div class="d-flex container-fluid align-items-center">
          <div class="row w100 no-gutters">
            <div class="col-1">
              <div class="navbar-header pt-1 border-none">
                <a [routerLink]="['/home']" class="navbar-brand img-responsive p-0 mr-0"
                  ><img
                    src="../../../assets/logo/TSA_transparent_logo.png"
                    style="height: 70px; width: auto;"
                    alt="logo"
                    class="tasa-logo"
                  />
                  <span class="tasa-logo-text">TaSA</span></a
                >
              </div>
              <!-- <span class="text-white tasa-logo ml-2" *ngIf="!sharedService.deviceDetectorService.isMobile()"><h4 class="mb-0">TaSA</h4><ul class="heading-ul">
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Source Africa</h6></li>
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Soure Americas</h6></li>
                <li><h6 class="text-white sub-heading-text mb-0" *ngIf="!sharedService.deviceDetectorService.isMobile()">Talent Source Asia</h6></li>
              </ul></span>   -->
            </div>
            <div class="col-md-4 explore-section pt-1" *ngIf="!user">
              <div class="p-0 pt-3 d-flex align-items-center">
                <button
                  mat-button
                  [matMenuTriggerFor]="exploreMenu"
                  mat-flat-button
                  color="default"
                  class="rc-ExploreButton rounded-pill ml-2 bg-theme curPoint"
                >
                  <span> Explore <i class="fa fa-chevron-down" aria-hidden="true"></i> </span>
                </button>
                <mat-menu class="mt-2" #exploreMenu="matMenu">
                  <mat-selection-list
                    class="min-vertical-h-40 max-vertical-h-40 stylishSlimScroll flow-y-auto flow-x-hidden"
                    #shoes
                    [multiple]="false"
                  >
                    <mat-list-option
                      (click)="onCourseSearch('subject', item)"
                      *ngFor="let item of courseConfig.subjects"
                      [value]="item"
                    >
                      {{ item }}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-menu>
                <div class="home-button ml-2">
                  <form>
                    <input
                      type="search"
                      [(ngModel)]="searchCourseText"
                      name="search"
                      id="search"
                      placeholder="Search Courses"
                      (keyup.enter)="onCourseSearch('text')"
                    />
                    <button type="button" (click)="onCourseSearch('text')">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4 explore-section pt-3" *ngIf="user">
              <div class="input-group global-search w95">
                <mat-select
                  [(value)]="globalSearchType"
                  (selectionChange)="searchGlobalText = ''"
                  class="form-control global-search-options bg-primary-light"
                >
                  <mat-option value="course"> <i class="fas fa-graduation-cap pr-2 text-primary"></i>Course</mat-option>
                  <mat-option value="profile"><i class="fas fa-user pr-2 text-primary"></i>People</mat-option>
                  <mat-option value="organization"
                    ><i class="fas fa-university pr-2 text-primary"></i>Organization</mat-option
                  >
                  <mat-option value="job"><i class="fas fa-briefcase pr-2 text-primary"></i>Job</mat-option>
                  <mat-option value="freelance"><i class="fas fa-user pr-2 text-primary"></i>Freelancer</mat-option>
                </mat-select>
                <input
                  type="text"
                  class="form-control border-none"
                  [(ngModel)]="searchGlobalText"
                  placeholder="Search..."
                  [matAutocomplete]="auto"
                  id="globalSearchInput"
                  (keyup.enter)="globalSearch()"
                  [value]="gsVal()"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <ng-container *ngIf="globalSearchType == 'profile'">
                    <mat-option *ngIf="userSearchConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="showProfile(item.tasaId)"
                      *ngFor="let item of userSearchConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image || item.image == 'string'"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        class="user-img"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                      />
                      <img
                        *ngIf="item.image && item.image != 'string'"
                        [src]="item.image"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                        class="user-img"
                      />
                      <span [title]="item.firstName + ' ' + item.lastName">
                        {{ item.firstName }} {{ item.lastName }}</span
                      >
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'freelance'">
                    <mat-option *ngIf="freelanceConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="showProfile(item.tasaId)"
                      *ngFor="let item of freelanceConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image || item.image == 'string'"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        class="user-img"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                      />
                      <img
                        *ngIf="item.image && item.image != 'string'"
                        [src]="item.image"
                        alt="{{ item.firstName }} {{ item.lastName }}"
                        class="user-img"
                      />
                      <span [title]="item.firstName + ' ' + item.lastName">
                        {{ item.firstName }} {{ item.lastName }}</span
                      >
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'organization'">
                    <mat-option *ngIf="orgConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      [routerLink]="['/organization/', item.id]"
                      routerLinkActive="router-link-active"
                      *ngFor="let item of orgConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.orgImage || item.orgImage == 'string'"
                        src="../../../assets/images/TSA_logo_new.small.png"
                        class="user-img"
                        alt="{{ item.orgName }}"
                      />
                      <img
                        *ngIf="item.orgImage && item.orgImage != 'string'"
                        [src]="item.orgImage"
                        alt="{{ item.orgName }}"
                        class="user-img"
                      />
                      <span [title]="item.orgName"> {{ item.orgName }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'course'">
                    <mat-option *ngIf="courseConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="redirect('course', item.key)"
                      *ngFor="let item of courseConfig.data"
                      [value]="item"
                      class="mb-2 mt-2"
                    >
                      <img
                        *ngIf="!item.image_url || item.image_url == 'string'"
                        src="../../../assets/images/TSA_logo_new.small.png"
                        class="user-img"
                        alt="{{ item.orgName }}"
                      />
                      <img
                        *ngIf="item.image_url && item.image_url != 'string'"
                        [src]="item.image_url"
                        alt="{{ item.title }}"
                        class="user-img"
                      />
                      <span [title]="item.title">{{ item.title }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="globalSearchType == 'job'">
                    <mat-option *ngIf="courseConfig.isFetching">
                      <i class="fas fa-circle-notch pr-2 text-primary"></i> Fetching...
                    </mat-option>
                    <mat-option
                      (click)="redirect('job', item.id)"
                      routerLinkActive="router-link-active"
                      *ngFor="let item of jobConfig.data"
                      [value]="item"
                    >
                      {{ item.title }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>

                <div class="input-group-prepend">
                  <div
                    class="input-group-text symbol curPoint"
                    [ngClass]="{ 'pointer-event-disabled': searchGlobalText == '' }"
                    (click)="globalSearch()"
                  >
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right pt-1">
              <div id="main-nav" class="stellarnav">
                <div class="nav-wrapper" *ngIf="!user">
                  <ng-template *ngTemplateOutlet="noUserMenu"></ng-template>
                </div>
                <div class="nav-wrapper" *ngIf="user">
                  <ul id="nav" class="nav navbar-nav pull-right float-right">
                    <ng-container *ngIf="user.type == 'Recruiter'">
                      <ng-template *ngTemplateOutlet="recruiterMenu"></ng-template>
                    </ng-container>
                    <ng-container>
                      <ng-template *ngTemplateOutlet="studentMenu"></ng-template>
                    </ng-container>
                    <li>
                      <a class="curPoint">
                        <img
                          *ngIf="!user.image || user.image == 'string'"
                          matTooltipPosition="below"
                          matTooltip="Upload Avatar"
                          class="user-pic img-responsive img-circle curPoint"
                          src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                          alt="User picture"
                          (click)="callUpload($event)"
                        />
                        <img
                          *ngIf="user.image && user.image != 'string'"
                          matTooltipPosition="below"
                          matTooltip="Upload Avatar"
                          class="user-pic img-responsive img-circle curPoint"
                          [src]="user.image"
                          alt="User picture"
                          (click)="callUpload($event)"
                        />
                        <span [matMenuTriggerFor]="userMenu">{{ user.firstName }}</span
                        ><i class="fas fa-caret-down pl-1"></i>
                        <mat-menu #userMenu="matMenu">
                          <button mat-menu-item [routerLink]="['/home']" class="h6">
                            <i class="fas fa-home pr-3 text-primary"></i> Home
                          </button>
                          <button mat-menu-item [routerLink]="['/dashboard']" class="h6">
                            <i class="fas fa-chart-line pr-3 text-primary"></i> Dashboard
                          </button>
                          <button mat-menu-item [routerLink]="['/subscription-plans']" class="h6">
                            <i class="fa fa-tags pr-3 text-primary"></i> Subscription Plans
                          </button>
                          <button mat-menu-item [routerLink]="['/testimonial']" class="h6">
                            <i class="fas fa-pen-alt pr-3 text-primary"></i> Add Testimonial
                          </button>
                          <button mat-menu-item [routerLink]="['/digital-assets']" class="h6">
                            <i class="fa fa-folder-open pr-3 text-primary"></i> Documents
                          </button>
                          <button mat-menu-item [routerLink]="['/cart']" class="h6">
                            <i class="fas fa-cart-plus pr-3 text-primary"></i> Cart
                          </button>
                          <button mat-menu-item (click)="logout()" class="h6">
                            <i class="fa fa-power-off pr-3 text-primary"></i> Logout
                          </button>
                        </mat-menu>
                      </a>
                    </li>
                  </ul>
                  <ng-container *ngIf="user">
                    <ng-template *ngTemplateOutlet="notifications"></ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<ng-template #noUserMenu>
  <ul id="nav" class="nav navbar-nav pull-right float-right">
    <!-- <li>
      <a class="curPoint px-2 py-4" (click)="partnerWithUs()">Partner With us</a>
    </li>
    <li><a (click)="scrollToFaq('faqs')" class="curPoint px-2 py-4">FAQ</a></li> -->
    <li>
      <a class="curPoint px-2 py-4" [routerLink]="['/home']">Home</a>
    </li>
    <li>
      <a class="curPoint px-2 py-4" [routerLink]="['/about-us']">About Us</a>
    </li>
    <li><a [routerLink]="['/contact-us']" class="curPoint px-2 py-4">Contact Us</a></li>
    <!-- <li>
      <a [matMenuTriggerFor]="menu" class="curPoint px-2 py-4"
        >Menu<i class="fas fa-caret-down pl-1"></i>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/about-us']" class="h6">
            <i class="fas fa-address-card pr-3 text-primary"></i>About Us
          </button>
          <button mat-menu-item [routerLink]="['/our-process']" class="h6">
            <i class="fas fa-stream pr-3 text-primary"></i>Our Process
          </button>
          <button mat-menu-item [routerLink]="['/our-partner']" class="h6">
            <i class="fas fa-handshake pr-3 text-primary"></i>Our Partner
          </button>
          <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
            <i class="fas fa-address-book pr-3 text-primary"></i>Contact Us
          </button>
        </mat-menu>
      </a>
    </li> -->
    <li *ngIf="!user" class="mt-4">
      <span
        class="rounded-pill curPoint btn-behaviour mx-2 py-2 px-3 font-weight-bold"
        color="primary"
        (click)="login()"
      >
        Sign In
      </span>
    </li>
    <li *ngIf="!user" class="mt-4">
      <span
        class="rounded-pill btn-behaviour curPoint mx-2 py-2 px-3 font-weight-bold"
        color="primary"
        (click)="signup('student')"
      >
        Sign Up
      </span>
    </li>
    <li *ngIf="!user" class="mt-4">
      <span
        class="rounded-pill btn-behaviour curPoint mx-2 py-2 px-3 font-weight-bold"
        matTooltip="Sign Up as a Recruiter on TaSA"
        matTooltipPosition="below"
        color="primary"
        (click)="signup('recruiter')"
      >
        Recruiter
      </span>
    </li>
  </ul>
</ng-template>

<ng-template #recruiterMenu>
  <li>
    <a [matMenuTriggerFor]="recruiter" class="curPoint px-2 py-4">
      <i class="fas fa-tools pr-2"></i>Operation<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #recruiter="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/recruiter/jobs']" class="h6">
            Jobs
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
</ng-template>

<ng-template #adminMenu>
  <li>
    <a [matMenuTriggerFor]="admin" class="curPoint px-2 py-4"
      ><i class="fas fa-wrench pr-2"></i>Operations<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #admin="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/admin/deactive-user']" class="h6">
            Active / Deactive User
          </button>
          <button mat-menu-item [routerLink]="['/admin/tier']" class="h6">
            Tiers
          </button>
          <button mat-menu-item [routerLink]="['/admin/lovs']" class="h6">
            Lovs
          </button>
          <button mat-menu-item [routerLink]="['/admin/news']" class="h6">
            News
          </button>
          <button mat-menu-item [routerLink]="['/admin/organization']" class="h6">
            Organization
          </button>
          <button mat-menu-item [routerLink]="['/admin/jobs']" class="h6">
            Jobs
          </button>
          <button mat-menu-item [routerLink]="['/testimonial']" class="h6">
            Testimonial
          </button>
          <button mat-menu-item [routerLink]="['/admin/partners']" class="h6">
            Partners
          </button>
          <button mat-menu-item [matMenuTriggerFor]="profile" class="h6">
            Settings
            <mat-menu #profile="matMenu">
              <div class="sidebar-submenu">
                <button mat-menu-item [routerLink]="['/my-plan']" class="h6">
                  My Subscriptions
                </button>
                <button mat-menu-item [routerLink]="['/reset-password']" class="h6">
                  Update Password
                </button>
                <button mat-menu-item [routerLink]="['/user/profile']" class="h6">
                  Edit Profile
                </button>
              </div>
            </mat-menu>
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
</ng-template>

<ng-template #notifications>
  <ul
    id="notificationMenu"
    class="notifications d-none"
    [ngClass]="{ 'notifications-message': notificationConfig.currentView === 1 }"
  >
    <li class="titlebar text-center pt-2">
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 0">NOTIFICATIONS</h6>
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 1">MESSAGES</h6>
      <span class="settings"><i class="icon-cog"></i> </span>
    </li>
    <div class="notifbox text-left">
      <li
        class="notif curPoint unread"
        (click)="notiRedirect(item, i)"
        *ngFor="let item of notificationsData; let i = index"
      >
        <a>
          <div class="imageblock ml-1">
            <button mat-mini-fab *ngIf="item.jobId != '' && item.jobId != 'string'">
              <mat-icon>work</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="item.courseId != '' && item.courseId != 'string'">
              <mat-icon>school</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="item.connRequestId != '' && item.connRequestId != 'string'">
              <mat-icon>person</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="item.messageId != '' && item.messageId != 'string'">
              <mat-icon>message</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              *ngIf="item.courseId === '' && item.jobId === '' && item.connRequestId === '' && item.messageId === ''"
            >
              <mat-icon>notifications_active</mat-icon>
            </button>
          </div>
          <div class="messageblock">
            <div class="message">{{ item.message }}</div>
            <div class="messageinfo text-left"><i class="icon-trophy"></i>{{ getNotiDay(item) }}</div>
          </div>
        </a>
      </li>
      <ng-container *ngIf="notificationsData.length == 0">
        <div class="text-center m-auto animated fadeIn mt-2">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 150px;" class="d-block m-auto" />
            <h6 class="text-primary">You’re all caught up!...!</h6>
          </div>
        </div>
      </ng-container>
    </div>
    <li class="seeall" *ngIf="notificationConfig.currentView === 0">
      <a [routerLink]="['/notifications']" (click)="onClickOfSellAllNoti()">See All</a>
    </li>
  </ul>
</ng-template>

<ng-template #studentMenu>
  <li>
    <a [matMenuTriggerFor]="community" class="curPoint px-2 py-4">
      <i class="far fa-comment-alt pr-2"></i> Community<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #community="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/social-network/posts']" class="h6">
            <i class="fas fa-list pr-3 text-primary"></i> All Post
          </button>
          <button
            (click)="showProfile(user.tasaId)"
            mat-menu-item
            routerLinkActive="router-link-active"
            [routerLink]="['/user/saved-course']"
            class="h6"
          >
          <i class="far fa-user pr-3 text-primary"></i> My Profile
          </button>
          <button
            mat-menu-item
            routerLinkActive="router-link-active"
            [routerLink]="['/social-network/network']"
            class="h6"
          >
          <i class="fas fa-network-wired pr-3 text-primary"></i> Network
          </button>
          <button
            mat-menu-item
            [routerLink]="['/social-network/conversation']"
            routerLinkActive="router-link-active"
            class="h6"
          >
          <i class="fas fa-inbox pr-3 text-primary"></i> Inbox
          </button>
          <button
            mat-menu-item
            [routerLink]="['/social-network/group']"
            routerLinkActive="router-link-active"
            class="h6"
          >
          <i class="fas fa-users pr-3 text-primary"></i> Group
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
  <li *ngIf="user.type !== 'Recruiter'">
    <a [matMenuTriggerFor]="jobs" class="curPoint px-2 py-4"
      ><i class="fas fa-briefcase pr-2"></i> Jobs<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #jobs="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/jobs/listings']" class="h6">
            <i class="fas fa-list pr-3 text-primary"></i> All Job Listings
          </button>
          <button mat-menu-item [routerLink]="['/user/saved-jobs']" class="h6">
            <i class="fas fa-save pr-3 text-primary"></i> Saved Jobs
          </button>
          <button mat-menu-item [routerLink]="['/jobs/my-applications']" class="h6">
            <i class="fas fa-check-circle pr-3 text-primary"></i> Applied Jobs
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
  <li>
    <a [matMenuTriggerFor]="courses" class="curPoint px-2 py-4">
      <i class="fas fa-graduation-cap pr-2"></i>Courses<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #courses="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/user/course']" class="h6">
            <i class="fas fa-book-reader pr-3 text-primary"></i> My Courses
          </button>
          <button mat-menu-item [routerLink]="['/all-course']" class="h6">
            <i class="fas fa-book pr-3 text-primary"></i> All Courses
          </button>
          <button mat-menu-item [routerLink]="['/user/fav-course']" class="h6">
            <i class="fas fa-heart pr-3 text-primary"></i> Favorite Courses
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
  <ng-container *ngIf="user.type == 'Admin'">
    <ng-template *ngTemplateOutlet="adminMenu"></ng-template>
  </ng-container>
  <li *ngIf="!isAdmin">
    <a [matMenuTriggerFor]="profile" class="curPoint px-2 py-4">
      <i class="fas fa-unlock-alt pr-2"></i>Settings<i class="fas fa-caret-down pl-1"></i>
      <mat-menu #profile="matMenu">
        <div class="sidebar-submenu">
          <button mat-menu-item [routerLink]="['/my-plan']" class="h6">
            <i class="fa fa-tags pr-3 text-primary"></i> My Subscriptions
          </button>
          <button mat-menu-item [routerLink]="['/reset-password']" class="h6">
            <i class="fas fa-key  pr-3 text-primary"></i> Update Password
          </button>
          <button mat-menu-item [routerLink]="['/user/profile']" class="h6">
            <i class="fas fa-user-edit pr-3 text-primary"></i> Edit Profile
          </button>
        </div>
      </mat-menu>
    </a>
  </li>
  <li class="p-0">
    <a
      matTooltipPosition="below"
      (click)="setNotificationData($event,'other')"
      class="notification-popup curPoint text-white mt-2"
      matTooltip="Notification"
    >
      <i class="fa fa-bell" id="notiRing"></i>
      <span class="badge badge-pill badge-warning notification">{{ notificationConfig.otherCount }}</span>
    </a>
  </li>
  <li class="p-0">
    <a
      matTooltipPosition="below"
      (click)="setNotificationData($event,'message')"
      class="notification-popup curPoint text-white mt-2"
      matTooltip="Messages"
    >
      <i class="fas fa-comment-alt text-white"></i>
      <span class="badge badge-pill badge-warning notification">{{ notificationConfig.messageCount }}</span>
    </a>
  </li>
</ng-template>

<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />
