<header class="" id="home">
  <div class="header-top-area" id="scroolup">
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="row w100">
            <div class="col-4 col-md-3 d-flex align-items-center">
              <div class="navbar-header p-0 border-none">
                <a [routerLink]="['/home']" class="navbar-brand img-responsive p-0"
                  ><img
                    src="../../../assets/logo/TSA_transparent_logo.png"
                    style="height: 65px; width: auto;"
                    alt="logo"
                    class="tasa-logo"
                  />
                  <span class="tasa-logo-text">TaSA</span></a
                >
              </div>
              <h6 class="text-white tasa-logo">Talent Source Africa</h6>
            </div>
            <div class="col-md-4 explore-section">
              <div class="p-0 pt-3 d-flex align-items-center">
                <button
                  mat-button
                  [matMenuTriggerFor]="exploreMenu"
                  mat-flat-button
                  color="default"
                  class="rc-ExploreButton rounded-pill ml-2 bg-theme curPoint"
                >
                  <span> Explore <i class="fa fa-chevron-down" aria-hidden="true"></i> </span>
                </button>
                <mat-menu class="mt-2" #exploreMenu="matMenu">
                  <mat-selection-list
                    class="min-vertical-h-40 max-vertical-h-40 stylishSlimScroll flow-y-auto flow-x-hidden"
                    #shoes
                    [multiple]="false"
                  >
                    <mat-list-option
                      (click)="onCourseSearch('subject', item)"
                      *ngFor="let item of courseConfig.subjects"
                      [value]="item"
                    >
                      {{ item }}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-menu>
                <div class="home-button ml-2">
                  <form>
                    <input
                      type="search"
                      [(ngModel)]="searchCourseText"
                      name="search"
                      id="search"
                      placeholder="Search Courses"
                      (keyup.enter)="onCourseSearch('text');"
                    />
                    <button type="button" (click)="onCourseSearch('text')">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-8 col-md-5">
              <div id="main-nav" class="stellarnav">
                <ul id="nav" class="nav navbar-nav pull-right float-right">
                  <li>
                    <a class="curPoint welcome-text" (click)="partnerWithUs()">Partner With us</a>
                  </li>
                  <li class="explore-li"><a class="curPoint">Explore</a></li>
                  <li><a (click)="scrollToFaq('faqs')" class="curPoint">FAQ</a></li>
                  <li>
                    <a [matMenuTriggerFor]="menu" class="curPoint"
                      >Menu<i class="fas fa-caret-down pl-1"></i>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/about-us']" class="h6">
                          <i class="fas fa-address-card pr-3 text-primary"></i>About Us
                        </button>
                        <button mat-menu-item [routerLink]="['/our-process']" class="h6">
                          <i class="fas fa-stream pr-3 text-primary"></i>Our Process
                        </button>
                        <button mat-menu-item [routerLink]="['/our-partner']" class="h6">
                          <i class="fas fa-handshake pr-3 text-primary"></i>Our Partner
                        </button>
                        <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
                          <i class="fas fa-address-book pr-3 text-primary"></i>Contact Us
                        </button>
                      </mat-menu>
                    </a>
                  </li>
                  <li *ngIf="!user"><a (click)="login()" class="curPoint">Sign In</a></li>
                  <li *ngIf="!user"><a (click)="signup()" class="curPoint">Sign Up</a></li>
                  <li *ngIf="user">
                    <a [matMenuTriggerFor]="userMenu" class="curPoint"
                      ><i class="far fa-user pr-1"></i> {{ user.username }} <i class="fas fa-caret-down pl-1"></i>
                      <mat-menu #userMenu="matMenu">
                        <button mat-menu-item [routerLink]="['/dashboard']" class="h6">
                          <i class="fas fa-chart-line pr-3 text-primary"></i> Dashboard
                        </button>
                        <button mat-menu-item (click)="logout()" class="h6">
                          <i class="fa fa-power-off pr-3 text-primary"></i> Logout
                        </button>
                      </mat-menu>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
