<div class="transaction-wrapper">
  <div class="container mt-4">
    <div class="message success" *ngIf="transactionConfig.status === 'successful'">
      <img class="message-icon animated fadeInUp" src="../assets/images/success.svg" alt="" />
      <p class="message-text animated fadeInUp font700">Transaction successful!</p>
      <h6 class="message-text animated fadeInUp font400">All The Transaction Details Is Sent To Your Mail.</h6>
      <div class="d-flex">
        <button
        mat-flat-button
        color="primary"
        *ngIf="transactionConfig.typeOfPurchase === 'course'"
        [routerLink]="['/user/course']"
        routerLinkActive="router-link-active"
        class="rounded-pill ml-2 mt-4"
      >
        Go To My Course
      </button>
      <button
        mat-flat-button
        color="primary"
        *ngIf="transactionConfig.typeOfPurchase === 'subscription'"
        [routerLink]="['/my-plan']"
        routerLinkActive="router-link-active"
        class="rounded-pill ml-2 mt-4"
      >
        Go To My Subscription
      </button>
      <button
        mat-flat-button
        color="primary"
        *ngIf="transactionConfig.typeOfPurchase === 'gigcard'"
        [routerLink]="['/freelance/my-engagements']"
        routerLinkActive="router-link-active"
        class="rounded-pill ml-2 mt-4"
      >
        Go To My Engagements
      </button>

      <button mat-flat-button *ngIf="transactionConfig.receiptUrl !== ''" (click)="openReceipt()" color="primary" class="rounded-pill ml-2 mt-4">
        View Receipt
      </button>
      </div>

    </div>

    <div class="message error" *ngIf="transactionConfig.status !== 'successful'">
      <img class="message-icon animated fadeInUp" src="../assets/images/fail.svg" alt="" />
      <p class="message-text animated fadeInUp font700">Transaction Unsuccessful!</p>
      <h6 class="message-text animated fadeInUp font400">Uh oh! Something went wrong. Please Try Again</h6>
      <button mat-flat-button color="primary" [routerLink]="['/cart']" class="rounded-pill ml-2 w20 mt-4">
        Back
      </button>
    </div>
  </div>
</div>
