$lightGreen: #85D196;
$darkGreen: #1A936F;
$red: #ea4949;
$orange: #E06335;
$lightGrey: #E0E0E0;

.transaction-wrapper {
  .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    padding: 36px 24px;
    overflow: hidden;
    border-radius: 4px;
    &.success {
      margin-right: 16px;
      .message-text{
        color: $darkGreen
      }
    }
    &.error {
      .message-text{
        color: $red
      }
    }
  }
  .message-icon {
    font-size: 120px;
    margin-bottom: 24px;
    height:400px;
    width:400px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }


  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .message-text {
    margin: 36px 0;
    font-size: 30px;
  }
}
