$bg-gray: #edeef3;
$bg-light: #f8f9fd;
$border: #22293b;
$primary: #86799a;
$shape-green: #86799a;
$shape-orange: #fe875c;
$shape-blue: #3a36eb;
$text-gray: #6a7480;
$text-black: #10121f;
$white: #fff;
$light-gray: #eae9ee;
$radius: 15px;

.subscription-wrapper {
  html {
    font-size: 10px;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  small {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .main-section {
    // width: 100vw;
    // height: 100vh;
    // background-color: $bg-gray;
    overflow: hidden;
    color: $text-gray;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    // line-height: 1.5;
    position: relative;
  }

  .center {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);

    .main {
      // width: 1000px;
      height: 800px;
      border-radius: 5rem;
      background-image: linear-gradient(90deg, $bg-light, $bg-gray);
    }
  }

  .text-black {
    font-weight: 600;
    color: $text-black;
  }

  .text-white {
    font-weight: 600;
    color: $white;
  }

  .text-purple {
    color: $primary;
    font-weight: 600;
  }

  .button {
    cursor: pointer;
    border: 0;
    outline: 0;
    user-select: none;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 2rem;
    border-radius: $radius;

    i {
      font-size: 1.2rem;
      margin-left: -1.5rem;
      opacity: 0;
      transition: all 300ms ease-out;
    }

    &:hover {
      i {
        opacity: 1;
        margin-left: 0.5rem;
      }
    }
  }
  .button-primary {
    background-color: $primary;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-family: inherit;
  }

  .shape {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: $radius;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 65%;
      height: 65%;
    }
  }
  .shape-green {
    background-color: $shape-green;

    &::before {
      background-color: lighten($shape-green, 10%);
      right: -25%;
      top: -25%;
    }

    &::after {
      background-color: lighten($shape-green, 10%);
      left: -25%;
      bottom: -25%;
    }
  }

  .shape-orange {
    background-color: $shape-orange;

    &::before {
      background-color: lighten($shape-orange, 10%);
      right: -25%;
      top: -25%;
    }

    &::after {
      background-color: lighten($shape-orange, 10%);
      left: -25%;
      bottom: -25%;
    }
  }

  .shape-blue {
    background-color: $shape-blue;

    &::before {
      background-color: lighten($shape-blue, 10%);
      right: -25%;
      top: -25%;
    }

    &::after {
      background-color: lighten($shape-blue, 10%);
      left: -25%;
      bottom: -25%;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &__logo {
      color: $text-black;
      font-weight: 700;
      font-size: 1.8rem;
    }

    &__menu {
      ul {
        display: flex;

        > li:not(:last-child) {
          margin-right: 4rem;
        }
      }
    }
  }

  .heading {
    margin: 2.5rem auto;
    text-align: center;
    color: $text-black;

    h1 {
      font-size: 4.2rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    p {
      display: inline-block;
      max-width: 35rem;
      color: #6e7386;
      font-weight: 400;
      margin-top: 1rem;
      line-height: 1.65;
      font-size: 1.2rem;
      margin-bottom: 5.5rem;
    }
  }

  .holder {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plan__options {
      min-width: 30rem;
      padding: 1.5rem;
      background: #fff;
      border-radius: $radius;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      text-align: left;

      .head {
        display: flex;
        align-items: center;

        .content {
          margin-left: 1.5rem;

          h2 {
            font-weight: 800;
            font-size: 2rem;
          }

          h5 {
            font-weight: 700;
            font-size: 2rem;
          }

          i {
            font-size: 1.2rem;
            position: relative;
            bottom: 5px;
            margin-right: 2px;
          }
        }
      }
      .line-divider {
        width: 100%;
        height: 1px;
        background-color: #eae9ee;
        margin: 1.5rem 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0px;

        li {
          margin: 1rem;

          i {
            margin-right: 1.5rem;
            font-size: 1.1rem;
            color: #6b747d;
          }
        }
      }

      .button {
        width: 100%;
      }
    }
  }

  // .plan-left,
  // .plan-right {
  //   transform: scale(1.15);
  // }

  .plan-middle {
    transform: scale(1.1);
    position: relative;
    z-index: 5;
    background-color: #1a1c29 !important;
    border: 4px solid #fff;
    position: relative;

    span {
      color: $white;
    }
    .line-divider {
      height: 1px;
      background-color: #272936 !important;
    }

    &::before {
      content: "popular";
      position: absolute;
      background-color: #f8c146;
      color: #1c1d2b;
      top: 1.5rem;
      right: 2.2rem;
      border-radius: 25px;
      padding: 0.4rem 1.2rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .head {
      i {
        color: #b7b8bc !important;
      }
    }
    i {
      color: #f8f4ff !important;
    }
  }
}
