<!-- Price Section -->
<div class="subscription-wrapper container" id="generic_price_table">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Subscription Plans</li>
  </ol>
  <section>
    <div class="sec-title">
      <div class="title">Subscription Plans</div>
      <h2>Our Awesome Pricing Plans For You.</h2>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let item of tiers">
        <div class="generic_content border clearfix animated fadeIn">
          <div class="generic_head_price clearfix">
            <div class="generic_head_content clearfix">
              <div class="head_bg"></div>
              <div class="head">
                <span>{{ item.name }}</span>
              </div>
            </div>
            <div class="generic_price_tag clearfix">
              <span class="price">
                <span class="sign">$</span>
                <span class="currency">{{ item.price }}</span>
                <span class="month">/{{ item.duration }}</span>
              </span>
            </div>
          </div>
          <div class="generic_feature_list min-vertical-h-30 max-vertical-h-30 stylishScroll flow-y-auto flow-x-hidden">
            <ul>
              <li *ngFor="let feature of item.feature">{{ feature.description }}</li>
            </ul>
          </div>
          <div class="generic_price_btn clearfix">
            <a class="curPoint" (click)="subscribeNow(item)">Subscribe Now</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="generic_content border active clearfix animated fadeIn">
          <div class="generic_head_price clearfix">
            <div class="generic_head_content clearfix">
              <div class="head_bg"></div>
              <div class="head">
                <span>Silver</span>
              </div>
            </div>
            <div class="generic_price_tag clearfix">
              <span class="price">
                <span class="sign">$</span>
                <span class="currency">79</span>
                <span class="month">/MON</span>
              </span>
            </div>
          </div>
          <div class="generic_feature_list">
            <ul>
              <li>Access to 50 courses</li>
              <li>Example code available</li>
              <li>Medium quality video</li>
              <li>Certificate after completion</li>
              <li>Private Sessions</li>
            </ul>
          </div>
          <div class="generic_price_btn clearfix">
            <a class="" href="">Subscribe Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="generic_content border clearfix animated fadeIn">
          <div class="generic_head_price clearfix">
            <div class="generic_head_content clearfix">
              <div class="head_bg"></div>
              <div class="head">
                <span>Gold</span>
              </div>
            </div>
            <div class="generic_price_tag clearfix">
              <span class="price">
                <span class="sign">$</span>
                <span class="currency">99</span>
                <span class="month">/MON</span>
              </span>
            </div>
          </div>
          <div class="generic_feature_list">
            <ul>
              <li>Access to all courses</li>
              <li>Example code available</li>
              <li>High resolution video</li>
              <li>Certificate after completion</li>
              <li>Private Sessions</li>
            </ul>
          </div>

          <div class="generic_price_btn clearfix">
            <a class="" href="">Subscribe Now</a>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>
<!-- Price Section-->
