$blue: #523f6d;
$light-blue: #523f6d80;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;

.group-wrapper {
  .group-img {
    height: 60px;
    min-width: 80px;
    max-width: 80px;
  }

  .group-footer {
    background: radial-gradient(circle, rgb(235 233 237) 0%, rgb(82 63 109) 100%);
  }
  .news-date {
    z-index: 9;
    right: 10px;
    top: 5px;
  }
}
