.freelance-create-gig-wrapper {
  .job-editor {
    width: 100%;
    min-height: 500px;
  }
  .form-label {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
  }
  .form-control {
    height: calc(2em + 0.75rem + 2px);
    line-height: 2rem !important;
  }
  .upload-image,
  .upload-video {
    min-height: 150px;
    min-width: 150px;
    border: 2px dashed lightgrey;
    img {
      min-height: 150px;
      max-height: 150px;
    }
  }
  .card {
    min-height: 300px;
  }
  .card-img {
    padding-bottom: 0;
    img {
      position: relative;
      width: 100%;
      max-height: 200px;
      min-height: 200px;
      object-fit: fill;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
    video {
      max-height: 200px;
      min-height: 200px;
    }
  }
  .margin-top-15px {
    margin-top: -15px;
  }
}
