<div id="user-interaction-socialpost-wrapper" class="min-vertical-h-50 max-vertical-h-50 no-gutters container">
  <div class="px-0 pt-3 pb-0 d-flex w100">
    <div class="col px-0">
      <h6 class="mb-2">Reactions</h6>
    </div>
    <span class="curPoint">
      <mat-icon mat-dialog-close="true">close</mat-icon>
    </span>
  </div>
  <mat-tab-group class="no-gutters p-0 m-0">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="small"> All {{ popupData.post.reactions != null ? popupData.post.reactions.length : 0 }} </span>
      </ng-template>
      <ng-template
        [ngTemplateOutlet]="reactionDetails"
        [ngTemplateOutletContext]="{ options: allReactions, emptyText: 'No Reactions Yet...!' }"
      >
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa-flip-horizontal fa-xs fas fa-thumbs-up pl-1 text-primary"></i>
        <span class="small">
          {{ like.length }}
        </span>
      </ng-template>
      <ng-template
        [ngTemplateOutlet]="reactionDetails"
        [ngTemplateOutletContext]="{ options: like, emptyText: 'No Likes Yet...!' }"
      >
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./assets/images/social/celebrate.svg" class="pr-1 curPoint" width="20px" />
        <span class="small">
          {{ clap.length }}
        </span>
      </ng-template>
      <ng-template
        [ngTemplateOutlet]="reactionDetails"
        [ngTemplateOutletContext]="{ options: clap, emptyText: 'No Claps Yet...!' }"
      >
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./assets/images/social/celebrate.svg" class="pr-1 curPoint" width="20px" />
        <span class="small">
          {{ congrats.length }}
        </span>
      </ng-template>
      <ng-template
        [ngTemplateOutlet]="reactionDetails"
        [ngTemplateOutletContext]="{ options: congrats, emptyText: 'No Congrats Yet...!' }"
      >
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./assets/images/social/curious.svg" class="pr-1 curPoint" width="20px" />
        <span class="small">
          {{ curious.length }}
        </span>
      </ng-template>
      <ng-template
        [ngTemplateOutlet]="reactionDetails"
        [ngTemplateOutletContext]="{ options: curious, emptyText: 'No Curious Yet...!' }"
      >
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #reactionDetails let-options="options" let-emptyText="emptyText">
  <div *ngFor="let item of options; let i = index">
    <div class="row no-gutters p-2 hoverAction no-gutters curPoint">
      <div class="col-2">
        <img
          [routerLink]="['/social-network/profile/', item.tasaId]"
          routerLinkActive="router-link-active"
          mat-dialog-close="true"
          class="img-responsive pr-2 img-circle"
          src="{{
            item.userImageUrl == ''
              ? 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
              : item.userImageUrl
          }}"
          width="45px"
        />
      </div>
      <div class="col-10">
        <a
          [routerLink]="['/social-network/profile/', item.tasaId]"
          routerLinkActive="router-link-active"
          mat-dialog-close="true"
          >{{ item.reactionByName }}</a
        >
        <!-- <div class="text-muted">{{ item.reactionBySummary }}</div> -->
      </div>
    </div>
  </div>
  <div *ngIf="options.length == 0" class="col-12 px-0 pt-4 text-center">
    <img src="../../../assets/images/no-record.gif" class="d-block m-auto" style="height: 200px;" />
    <h6 class="text-primary">{{ emptyText }}</h6>
  </div>
</ng-template>
