<div class="page-wrapper chiller-theme position-absolute toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header d-flex">
        <div class="">
          <img
            *ngIf="!user.image || user.image == 'string'"
            matTooltipPosition="below"
            matTooltip="Upload Avatar"
            class="user-pic img-responsive img-circle curPoint"
            (click)="callUpload()"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"
          />
          <img
            *ngIf="user.image && user.image != 'string'"
            matTooltipPosition="below"
            matTooltip="Upload Avatar"
            class="user-pic img-responsive img-circle curPoint"
            (click)="callUpload()"
            [src]="user.image"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <span class="user-name text-white"
            >{{ user.firstName }}
            <strong>{{ user.lastName }}</strong>
          </span>
          <span class="user-role" *ngIf="user.type == 'Mentee'">Student/Professional</span>
          <span class="user-role" *ngIf="user.type != 'Mentee'">{{ user.type }}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group bg-white">
            <input
              type="text"
              class="form-control search-menu"
              [(ngModel)]="searchCourseText"
              placeholder="Search Course..."
              (keyup.enter)="onCourseSearch()"
            />
            <div class="input-group-append">
              <span class="input-group-text curPoint" (click)="onCourseSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu min-vertical-h-80 max-vertical-h-80 stylishScroll flow-y-auto flow-x-hidden">
        <ng-container>
          <ng-template *ngTemplateOutlet="studentMenu"></ng-template>
        </ng-container>
        <ng-container *ngIf="user.type == 'Admin'">
          <ng-template *ngTemplateOutlet="adminMenu"></ng-template>
        </ng-container>
        <ng-container *ngIf="user.type == 'Recruiter'">
          <ng-template *ngTemplateOutlet="recruiterMenu"></ng-template>
        </ng-container>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
</div>
<div class="page__header">
  <div class="bg-dark navbar-dark p-1">
    <div class="container-fluid d-flex p-1">
      <div
        class="home-button ml-2 d-flex align-items-center"
        *ngIf="!sharedService.deviceDetectorService.isMobile()"
        style="left: 30%; position: relative;"
      >
        <div class="w70">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group global-search">
            <mat-select [(value)]="globalSearchType" class="form-control global-search-options bg-primary-light">
              <mat-option value="course"> <i class="fas fa-graduation-cap pr-2 text-primary"></i>Course</mat-option>
              <mat-option value="profile"><i class="fas fa-user pr-2 text-primary"></i>Profile</mat-option>
              <mat-option value="organization"
                ><i class="fas fa-university pr-2 text-primary"></i>Organization</mat-option
              >
              <mat-option value="job"><i class="fas fa-briefcase pr-2 text-primary"></i>Job</mat-option>
            </mat-select>
            <input
              type="text"
              class="form-control border-none"
              [(ngModel)]="searchGlobalText"
              placeholder="Search..."
            />
            <div class="input-group-prepend">
              <div
                class="input-group-text symbol curPoint"
                [ngClass]="{ 'pointer-event-disabled': searchGlobalText == '' }"
                (click)="globalSearch()"
              >
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-collapse d-flex justify-content-end">
        <div class="sidebar-footer mr-2">
          <ng-container *ngIf="user">
            <ng-template *ngTemplateOutlet="notifications"></ng-template>
          </ng-container>
          <a matTooltipPosition="below" [routerLink]="['/cart']" matTooltip="Cart">
            <i class="fas fa-shopping-cart text-white"></i>
            <span class="badge badge-pill badge-success notification">2</span>
          </a>
          <a (click)="logout()" class="curPoint" matTooltipPosition="below" matTooltip="Logout">
            <i class="fa fa-power-off text-white"></i>
          </a>
          <a matTooltipPosition="below" matTooltip="Menu" [matMenuTriggerFor]="menu" class="curPoint">
            <i class="fas fa-ellipsis-v text-white"></i>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="h6" [routerLink]="['/about-us']">
                <i class="fas fa-address-card pr-3 text-primary"></i>About Us
              </button>
              <button mat-menu-item [routerLink]="['/our-process']" class="h6">
                <i class="fas fa-stream pr-3 text-primary"></i>Our Process
              </button>
              <button mat-menu-item [routerLink]="['/our-partner']" class="h6">
                <i class="fas fa-handshake pr-3 text-primary"></i>Our Partner
              </button>
              <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
                <i class="fas fa-address-book pr-3 text-primary"></i>Contact Us
              </button>
            </mat-menu>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />

<ng-template #studentMenu>
  <ul>
    <li class="header-menu">
      <span>My Account</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-unlock-alt"></i>
        <span>Account</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="menu-item" [routerLink]="['/reset-password']">Update Password</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/user/profile']">Edit Profile</a>
          </li>
          <li *ngIf="!isAdmin">
            <a class="menu-item" [routerLink]="['/testimonial']">Add Testimonial</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/subscription-plans']">
        <i class="fa fa-tags"></i>
        <span>Subscription Plans</span>
      </a>
    </li>

    <!-- <li class="header-menu">
      <span>General</span>
    </li> -->
    <!-- <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-tachometer-alt"></i>
        <span>Dashboard</span>
        <span class="badge badge-pill badge-warning">New</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#"
              >Dashboard 1
              <span class="badge badge-pill badge-success">Pro</span>
            </a>
          </li>
          <li>
            <a href="#">Dashboard 2</a>
          </li>
          <li>
            <a href="#">Dashboard 3</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-shopping-cart"></i>
        <span>E-commerce</span>
        <span class="badge badge-pill badge-danger">3</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">Products </a>
          </li>
          <li>
            <a href="#">Orders</a>
          </li>
          <li>
            <a href="#">Credit cart</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="far fa-gem"></i>
        <span>Components</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">General</a>
          </li>
          <li>
            <a href="#">Panels</a>
          </li>
          <li>
            <a href="#">Tables</a>
          </li>
          <li>
            <a href="#">Icons</a>
          </li>
          <li>
            <a href="#">Forms</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-chart-line"></i>
        <span>Charts</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">Pie chart</a>
          </li>
          <li>
            <a href="#">Line chart</a>
          </li>
          <li>
            <a href="#">Bar chart</a>
          </li>
          <li>
            <a href="#">Histogram</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-globe"></i>
        <span>Maps</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">Google maps</a>
          </li>
          <li>
            <a href="#">Open street map</a>
          </li>
        </ul>
      </div>
    </li> -->
    <li class="header-menu">
      <span>My Community</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="far fa-comment-alt"></i>
        <span>Community</span>
        <span class="badge badge-pill badge-warning">New</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/social-network/posts']"
              >All Post
              <span class="badge badge-pill badge-success">Pro</span>
            </a>
          </li>
          <li>
            <a (click)="showProfile(user.tasaId)" class="curPoint menu-item"
              >My profile <span class="badge badge-pill badge-primary">Beta</span></a
            >
          </li>
          <li>
            <a class="curPoint menu-item">Network</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header-menu">
      <span>My Profile</span>
    </li>

    <li>
      <a class="curPoint menu-item" [routerLink]="['/dashboard']">
        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/user/course']">
        <i class="fas fa-graduation-cap"></i>
        <span>Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
    <li *ngIf="!isAdmin">
      <a class="curPoint menu-item" [routerLink]="['/user/fav-course']">
        <i class="fas fa-heart"></i>
        <span>Favorite Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>

    <li>
      <a class="curPoint menu-item" [routerLink]="['/all-course']">
        <i class="fa fa-search"></i>
        <span>All Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/my-plan']">
        <i class="fa fa-money-check"></i>
        <span>Subscription</span>
      </a>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/digital-assets']">
        <i class="fa fa-folder-open"></i>
        <span>Documents</span>
      </a>
    </li>

    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/user/saved-course']">
        <i class="fas fa-heart"></i>
        <span>Saved Jobs</span>
      </a>
    </li>
    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/jobs/my-applications']">
        <i class="fas fa-file"></i>
        <span>Applied Jobs</span>
      </a>
    </li>
    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/jobs/listings']">
        <i class="fas fa-briefcase"></i>
        <span>All Job Listings</span>
      </a>
    </li>
  </ul>
</ng-template>
<ng-template #adminMenu>
  <ul>
    <li class="header-menu">
      <span>My Operations</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-tools"></i>
        <span>Operations</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="menu-item" [routerLink]="['/admin/deactive-user']">Active / Deactive User</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/tier']">Tiers</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/lovs']">Lovs</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/news']">News</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/organization']">Organization</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/jobs']">Jobs</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/testimonial']">Testimonial</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/partners']">Partners</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #recruiterMenu>
  <ul>
    <li class="header-menu">
      <span>My Operations</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-tools"></i>
        <span>Operations</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="menu-item" [routerLink]="['/recruiter/jobs']">Jobs</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #notifications>
  <a matTooltipPosition="below" class="notification-popup curPoint text-white" matTooltip="Notification">
    <i class="fa fa-bell" id="notiRing"></i>
    <span class="badge badge-pill badge-warning notification">{{ getNotiCount() }}</span>
  </a>
  <ul id="notificationMenu" class="notifications">
    <li class="titlebar text-center pt-2">
      <h6 class="title caps text-primary">NOTIFICATIONS</h6>
      <span class="settings"><i class="icon-cog"></i> </span>
    </li>
    <div class="notifbox">
      <li
        class="notif curPoint unread"
        (click)="notiRedirect(item, i)"
        *ngFor="let item of notificationsData; let i = index"
      >
        <a>
          <div class="imageblock ml-1">
            <button mat-mini-fab *ngIf="item.jobId != '' && item.jobId != 'string'">
              <mat-icon>work</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="item.courseId != '' && item.courseId != 'string'">
              <mat-icon>school</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="item.courseId == '' && item.jobId == ''">
              <mat-icon>notifications_active</mat-icon>
            </button>
          </div>
          <div class="messageblock">
            <div class="message">{{ item.message }}</div>
            <div class="messageinfo"><i class="icon-trophy"></i>{{ getNotiDay(item) }}</div>
          </div>
        </a>
      </li>
      <!-- <li class="notif unread">
        <a href="#">
          <div class="imageblock">
            <img
              src="https://si0.twimg.com/profile_images/712543138/Self-Portrait-in-Stripes_bigger.jpg"
              class="notifimage"
            />
          </div>
          <div class="messageblock">
            <div class="message"><strong>Pete Nawara</strong> want's to drink beer with you</div>
            <div class="messageaction">
              <a class="button tiny success">accept</a>
              <a class="button tiny alert">decline</a>
            </div>
            <div class="messageinfo"><i class="icon-flag"></i>3 hour ago</div>
          </div>
        </a>
      </li>
      <li class="notif">
        <a href="#">
          <div class="imageblock">
            <img
              src="https://si0.twimg.com/profile_images/3312733808/5caeaec6d93114657c40fb257f933d28_bigger.jpeg"
              class="notifimage"
            />
          </div>
          <div class="messageblock">
            <div class="message"><strong>Gary LaPlante</strong> has talked some trash: "<em>Buncha bitches.</em></div>
            <div class="messageinfo"><i class="icon-comment"></i>4 hours ago</div>
          </div>
        </a>
      </li>
      <li class="notif">
        <a href="#">
          <div class="imageblock">
            <img
              src="https://si0.twimg.com/profile_images/378800000168755934/c05afa029d7e42c59e7cca0ea0564a86_bigger.jpeg"
              class="notifimage"
            />
          </div>
          <div class="messageblock">
            <div class="message">
              <strong>Jason Nawara</strong> is probably playing <strong>Smite</strong> right now.
            </div>
            <div class="messageinfo"><i class="icon-trophy"></i>Yesterday</div>
          </div>
        </a>
      </li>
      <li class="notif">
        <a href="#">
          <div class="imageblock">
            <img
              src="https://si0.twimg.com/sticky/default_profile_images/default_profile_2_bigger.png"
              class="notifimage"
            />
          </div>
          <div class="messageblock">
            <div class="message"><strong>Danny DK12</strong> got a sweet fade!</div>

            <div class="messageinfo"><i class="icon-flag"></i>Yesterday</div>
          </div>
        </a>
      </li>
      <li class="notif">
        <a href="#">
          <div class="imageblock">
            <img src="https://si0.twimg.com/profile_images/1091562021/me-small_bigger.png" class="notifimage" />
          </div>
          <div class="messageblock">
            <div class="message">
              <strong>Roidberg</strong> left you a comment: "<em>Hey buddy! Nice toenails!"</em>
            </div>
            <div class="messageinfo"><i class="icon-comment"></i>2 hours ago</div>
          </div>
        </a>
      </li> -->

      <ng-container *ngIf="notificationsData.length == 0">
        <div class="text-center m-auto animated fadeIn mt-2">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 150px;" class="d-block m-auto" />
            <h6 class="text-primary">No New Notifications Yet...!</h6>
          </div>
        </div>
      </ng-container>
    </div>
    <li class="seeall">
      <a [routerLink]="['/notifications']" (click)="onClickOfSellAllNoti()">See All</a>
    </li>
  </ul>
</ng-template>

<audio #audioOption>
  <source src="http://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3" controls type="audio/mp3" />
</audio>
