<!-- <header role="banner" id="header" class="fixed-top navbar navbar-light bg-faded navbar-expand moodle-has-zindex">
  <div class="container navbar-nav" style="margin-left: 0%;">
    <div data-region="drawer-toggle" class="d-inline-block mr-3">
      <ul class="navbar-nav d-lg-flex">
        <li class="nav-item">
          <img
            class="logo"
            src="assets/images/TSA_logo_new.small.png"
            alt="TASA logo"
            style="height: 95px; width: 125px; margin-left: 2%;"
          />
        </li>
        <li class="nav-item" style="width: 35%;">
          <h5 class="tasaTitle">Talent Source Africa</h5>
        </li>
        <li class="nav-item">
          <button class="rc-ExploreButton" aria-label="Explore our catalog" type="button">
            <span class=""> Explore <i class="fa fa-chevron-down" aria-hidden="true"></i> </span>
          </button>
        </li>
        <li class="nav-item">
          <div role="combobox">
            <input
              type="text"
              value=""
              autocomplete="off"
              placeholder="What do you want to learn?"
              role="combobox"
              style="margin-left: 40%; width: 240%; height: 5vh; margin-top: 17%;"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="header-top" id="Mainmenu">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
            <span translate style="text-transform: uppercase; color: #2a73cc; font-weight: bold;">About</span>
          </a>
        </li>
        <li class="nav-item">
          <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector>
        </li>
        <li class="nav-item">
          <button
            class="rc-ExploreButton"
            aria-label="Explore our catalog"
            type="button"
            style="margin-top: 5%; width: 150%;"
            (click)="login()"
          >
            <span class=""> Sign In </span>
          </button>
        </li>
        <li class="nav-item">
          <button
            class="rc-ExploreButton"
            aria-label="Explore our catalog"
            type="button"
            style="margin-top: 5%; width: 150%; margin-left: 100%;"
            (click)="signup()"
          >
            <span class=""> Sign Up </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header> -->
<header class="" id="home">
  <div class="header-top-area" id="scroolup">
    <!--MAINMENU AREA-->
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar">
        <div class="container">
          <div class="row w100">
            <div class="col-md-2 col-xs-6">
              <div class="navbar-header">
                <a href="#home" class="navbar-brand img-responsive"
                  ><img
                    src="../../../assets/logo/TSA_transparent_logo.png"
                    style="height: 65px; width: auto;"
                    alt="logo"
                /></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-0 pt-2 d-flex">
                <button mat-flat-button color="primary" class="rc-ExploreButton rounded-pill ml-2">
                  <span class="pl-1"> Explore <i class="fa fa-chevron-down" aria-hidden="true"></i> </span>
                </button>
                <!-- <div class="d-flex">
                  <input type="search" name="search" id="search" placeholder="Search Courses" class="rounded-pill" />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div> -->
                <div class="home-button ml-2 mt-3">
                  <form>
                    <input type="search" name="search" id="search" placeholder="Search Courses" />
                    <button type="button"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div id="main-nav" class="stellarnav">
                <ul id="nav" class="nav navbar-nav pull-right float-right">
                  <li><a class="curPoint" (click)="scrollToFaq('about')">About</a></li>
                  <li><a (click)="scrollToFaq('faqs')" class="curPoint">Faqs</a></li>
                  <!-- <li>
                    <a class="pt-0 curPoint">
                      <app-language-selector
                        inNavbar="true"
                        menuClass="dropdown-menu dropdown-menu-right"
                      ></app-language-selector
                    ></a>
                  </li> -->
                  <li *ngIf="user"><a (click)="logout()" class="curPoint">Logout</a></li>
                  <li *ngIf="!user"><a (click)="login()" class="curPoint">Sign In</a></li>
                  <li *ngIf="!user"><a (click)="signup()" class="curPoint">Sign Up</a></li>

                  <li *ngIf="user">
                    <a class="curPoint"><i class="far fa-user pr-1"></i>{{ user.username }}</a>
                  </li>
                  <!-- <li><a href="#blog">Blog</a></li>
                  
                  <li><a href="#contact">Contact</a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!--END MAINMENU AREA END-->
  </div>
</header>
