<div class="page-wrapper chiller-theme position-absolute toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" *ngIf="user">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" *ngIf="user">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header d-flex">
        <div class="">
          <img
            *ngIf="!user.image || user.image == 'string'"
            matTooltipPosition="below"
            matTooltip="Upload Avatar"
            class="user-pic img-responsive img-circle curPoint"
            (click)="callUpload()"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"
          />
          <img
            *ngIf="user.image && user.image != 'string'"
            matTooltipPosition="below"
            matTooltip="Upload Avatar"
            class="user-pic img-responsive img-circle curPoint"
            (click)="callUpload()"
            [src]="user.image"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <a class="curPoint" [routerLink]="['/social-network/profile/', user.tasaId]">
            <span class="user-name text-white"
              >{{ user.firstName }}
              <strong>{{ user.lastName }}</strong>
            </span></a
          >

          <span class="user-role" *ngIf="user.type == 'Mentee'">Student/Professional</span>
          <span class="user-role" *ngIf="user.type != 'Mentee'">{{ user.type }}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-search">
        <div>
          <div class="input-group bg-white">
            <input
              type="text"
              class="form-control search-menu"
              [(ngModel)]="searchCourseText"
              placeholder="Search Course..."
              (keyup.enter)="onCourseSearch()"
            />
            <div class="input-group-append">
              <span class="input-group-text curPoint" (click)="onCourseSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu min-vertical-h-80 max-vertical-h-80 stylishScroll flow-y-auto flow-x-hidden">
        <ng-container>
          <ng-template *ngTemplateOutlet="studentMenu"></ng-template>
        </ng-container>
        <ng-container *ngIf="user.type == 'Admin'">
          <ng-template *ngTemplateOutlet="adminMenu"></ng-template>
        </ng-container>
        <ng-container *ngIf="user.type == 'Recruiter'">
          <ng-template *ngTemplateOutlet="recruiterMenu"></ng-template>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
<div class="page__header">
  <div class="bg-dark navbar-dark p-1">
    <div class="container-fluid d-flex p-1">
      <div class="navbar-collapse d-flex justify-content-end">
        <div class="sidebar-footer mr-2">
          <ng-container *ngIf="user">
            <ng-template *ngTemplateOutlet="notifications"></ng-template>
          </ng-container>
          <a (click)="logout()" *ngIf="user" class="curPoint" matTooltipPosition="below" matTooltip="Logout">
            <i class="fa fa-power-off text-white"></i>
          </a>

          <ng-container *ngIf="!user">
            <a (click)="login()" class="curPoint text-white mr-2" matTooltipPosition="below" matTooltip="Logout">
              Sign In
            </a>
            <a
              (click)="signup('student')"
              class="curPoint text-white mr-2"
              matTooltipPosition="below"
              matTooltip="Logout"
            >
              Sign Up
            </a>
            <a
              (click)="signup('recruiter')"
              class="curPoint text-white mr-3"
              matTooltipPosition="below"
              matTooltip="Logout"
            >
              Employers
            </a>
          </ng-container>
          <a matTooltipPosition="below" matTooltip="Menu" [matMenuTriggerFor]="menu" class="curPoint mr-2">
            <i class="fas fa-ellipsis-v text-white"></i>
            <mat-menu #menu="matMenu" class="mr-3">
              <button mat-menu-item class="h6" [routerLink]="['/home']">
                <i class="fas fa-home pr-3 text-primary"></i>Home
              </button>
              <button mat-menu-item class="h6" [routerLink]="['/about-us']">
                <i class="fas fa-address-card pr-3 text-primary"></i>About Us
              </button>
              <button mat-menu-item [routerLink]="['/contact-us']" class="h6">
                <i class="fas fa-address-book pr-3 text-primary"></i>Contact Us
              </button>
            </mat-menu>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />

<ng-template #studentMenu>
  <ul>
    <li class="header-menu">
      <span>My Profile</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="far fa-user"></i>
        <span>Profile</span>
        <!-- <span class="badge badge-pill badge-warning">New</span> -->
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/dashboard']">
              <span>Dashboard</span>
              <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
            </a>
          </li>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/subscription-plans']">
              <span>Subscription Plans</span>
            </a>
          </li>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/my-plan']">
              <span>Subscription</span>
            </a>
          </li>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/digital-assets']">
              <span>Documents</span>
            </a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/reset-password']">Update Password</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/user/profile']">Edit Profile</a>
          </li>
          <li *ngIf="!isAdmin">
            <a class="menu-item" [routerLink]="['/testimonial']">Add Testimonial</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header-menu">
      <span>My Community</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="far fa-comment-alt"></i>
        <span>Community</span>
        <!-- <span class="badge badge-pill badge-warning">New</span> -->
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/social-network/posts']">All Post </a>
          </li>
          <li>
            <a (click)="showProfile(user.tasaId)" class="curPoint menu-item">My profile </a>
          </li>
          <li>
            <a
              [routerLink]="['/social-network/network']"
              routerLinkActive="router-link-active"
              class="curPoint menu-item"
              >Network</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/social-network/conversation']"
              routerLinkActive="router-link-active"
              class="curPoint menu-item"
              >Inbox</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="header-menu">
      <span>My Freelance</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-unlock-alt"></i>
        <span>Freelance</span>
        <!-- <span class="badge badge-pill badge-warning">New</span> -->
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/freelance/all-gigs']" routerLinkActive="router-link-active"
              >All Gigs
            </a>
          </li>
          <li>
            <a
              class="curPoint menu-item"
              [routerLink]="['/freelance/all-requirements']"
              routerLinkActive="router-link-active"
            >
              All Custom Gigs
            </a>
          </li>
          <li>
            <a
              class="curPoint menu-item"
              [routerLink]="['/freelance/create-requirement']"
              routerLinkActive="router-link-active"
            >
              Create Custom Gigs
            </a>
          </li>
          <li>
            <a
              class="curPoint menu-item"
              [routerLink]="['/freelance/create-gig']"
              routerLinkActive="router-link-active"
            >
              Become A Gig Seller
            </a>
          </li>
          <li>
            <a class="curPoint menu-item" [routerLink]="['/freelance/my-engagements']" routerLinkActive="router-link-active">
              My Engagements
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header-menu">
      <span>Jobs</span>
    </li>
    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/user/saved-jobs']">
        <i class="fas fa-heart"></i>
        <span>Saved Jobs</span>
      </a>
    </li>
    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/jobs/my-applications']">
        <i class="fas fa-file"></i>
        <span>Applied Jobs</span>
      </a>
    </li>
    <li *ngIf="user.type == 'Mentee'">
      <a class="curPoint menu-item" [routerLink]="['/jobs/listings']">
        <i class="fas fa-briefcase"></i>
        <span>All Job Listings</span>
      </a>
    </li>
    <li class="header-menu">
      <span>Courses</span>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/user/course']">
        <i class="fas fa-graduation-cap"></i>
        <span>Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
    <li *ngIf="!isAdmin">
      <a class="curPoint menu-item" [routerLink]="['/user/fav-course']">
        <i class="fas fa-heart"></i>
        <span>Favorite Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
    <li>
      <a class="curPoint menu-item" [routerLink]="['/all-course']">
        <i class="fa fa-search"></i>
        <span>All Courses</span>
        <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
      </a>
    </li>
  </ul>
</ng-template>
<ng-template #adminMenu>
  <ul>
    <li class="header-menu">
      <span>My Operations</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-tools"></i>
        <span>Operations</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="menu-item" [routerLink]="['/admin/deactive-user']">Active / Deactive User</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/tier']">Tiers</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/lovs']">Lovs</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/news']">News</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/organization']">Organization</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/jobs']">Jobs</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/testimonial']">Testimonial</a>
          </li>
          <li>
            <a class="menu-item" [routerLink]="['/admin/partners']">Partners</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #recruiterMenu>
  <ul>
    <li class="header-menu">
      <span>My Operations</span>
    </li>
    <li class="sidebar-dropdown">
      <a class="curPoint">
        <i class="fas fa-tools"></i>
        <span>Operations</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a class="menu-item" [routerLink]="['/recruiter/jobs']">Jobs</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #notifications>
  <a
    matTooltipPosition="below"
    (click)="setNotificationData('other')"
    class="notification-popup curPoint text-white mr-2"
    matTooltip="Notification"
  >
    <i class="fa fa-bell" id="notiRing"></i>
    <span class="badge badge-pill badge-warning notification">{{ notificationConfig.otherCount }}</span>
  </a>
  <a
    matTooltipPosition="below"
    (click)="setNotificationData('message')"
    class="notification-popup curPoint text-white mr-2"
    matTooltip="Messages"
  >
    <i class="fas fa-comment-alt text-white"></i>
    <span class="badge badge-pill badge-warning notification">{{ notificationConfig.messageCount }}</span>
  </a>
  <ul
    id="notificationMenu"
    class="notifications"
    [ngClass]="{ 'notifications-message': notificationConfig.currentView === 1 }"
  >
    <li class="titlebar text-center pt-2">
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 0">NOTIFICATIONS</h6>
      <h6 class="title caps text-primary" *ngIf="notificationConfig.currentView === 1">MESSAGES</h6>
      <span class="settings"><i class="icon-cog"></i> </span>
    </li>
    <div class="notifbox">
      <li
        class="notif curPoint unread"
        (click)="notiRedirect(item, i)"
        *ngFor="let item of notificationsData; let i = index"
      >
        <a>
          <div class="imageblock ml-1">
            <button mat-mini-fab *ngIf="item.jobId != '' && item.jobId != 'string'">
              <mat-icon>work</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="item.courseId != '' && item.courseId != 'string'">
              <mat-icon>school</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="item.connRequestId != '' && item.connRequestId != 'string'">
              <mat-icon>person</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="item.messageId != '' && item.messageId != 'string'">
              <mat-icon>message</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              *ngIf="item.courseId === '' && item.jobId === '' && item.connRequestId === '' && item.messageId === ''"
            >
              <mat-icon>notifications_active</mat-icon>
            </button>
          </div>
          <div class="messageblock">
            <div class="message">{{ item.message }}</div>
            <div class="messageinfo"><i class="icon-trophy"></i>{{ getNotiDay(item) }}</div>
          </div>
        </a>
      </li>
      <ng-container *ngIf="notificationsData.length == 0">
        <div class="text-center m-auto animated fadeIn mt-2">
          <div class="col-12 text-center">
            <img src="../../../assets/images/no-record.gif" style="height: 150px;" class="d-block m-auto" />
            <h6 class="text-primary">You’re all caught up!...!</h6>
          </div>
        </div>
      </ng-container>
    </div>
    <li class="seeall" *ngIf="notificationConfig.currentView === 0">
      <a [routerLink]="['/notifications']" (click)="onClickOfSellAllNoti()">See All</a>
    </li>
  </ul>
</ng-template>

<audio #audioOption>
  <source src="http://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3" controls type="audio/mp3" />
</audio>
