.user-profile-wrapper {
  .sec-title .title {
    position: relative;
    color: #523f6d;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
  }
  .sec-title .title:before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbb;
  }
  .sec-title h2 {
    position: relative;
    color: #252525;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5em;
    display: block;
  }
  .sec-title.light h2 {
    color: #fff;
  }
  .card {
    position: relative;
    z-index: 1;
    border: 1px solid #523f6d;
    border-left: 10px solid #523f6d;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  }
  .fas,
  .far {
    width: 30px !important;
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
}
