<div class="social-profile-wrapper">
  <mat-drawer-container class="saved-conditions-wrapper" [hasBackdrop]="false">
    <mat-drawer #conectionDrawer [position]="'end'" [mode]="'over'" class="flow-hidden">
      <div id="course-filter" style="width: 250px;">
        <div class="row d-flex align-items-center border-bottom">
          <div class="col-9">
            <p class="m-0 pl-2 h5 text-primary">My Connections</p>
          </div>
          <div class="col-3 text-right">
            <button (click)="conectionDrawer.toggle()" mat-icon-button>
              <mat-icon class="text-primary">clear</mat-icon>
            </button>
          </div>
        </div>
        <ng-template *ngIf="user" [ngTemplateOutlet]="connections"></ng-template>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <section>
        <div class="row">
          <div class="col-md-3 col-sm-12 bg-white">
            <app-left-side></app-left-side>
          </div>
          <div class="col-md-7 col-sm-12">
            <ol class="breadcrumb mt-3">
              <li class="breadcrumb-item curPoint"><a [routerLink]="['/dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active">Profile</li>
              <li class="breadcrumb-item active" *ngIf="!isCurrentUser">
                {{ userConfig.user.firstName }} {{ userConfig.user.lastName }}
              </li>
            </ol>
            <div class="sec-title">
              <div class="title" *ngIf="isCurrentUser">My Profile</div>
              <div class="title" *ngIf="!isCurrentUser">Profile</div>
            </div>
            <div class="profile-wrapper mb-4">
              <div class="main-content" *ngIf="!userConfig.fetchingUser">
                <div
                  class="header pb-8 pt-4 d-flex align-items-center shadow"
                  style="
                    min-height: 300px;
                    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
                    background-size: cover;
                    background-position: center top;
                  "
                >
                  <span class="mask bg-gradient-default opacity-8"></span>
                  <!-- Header container -->
                  <div class="container-fluid d-flex align-items-center">
                    <div class="row w100">
                      <div class="col-12">
                        <div class="row no-gutters">
                          <div class="col-12 col-md-10">
                            <div class="row no-gutters">
                              <div class="col-2">
                                <div class="card-profile-image">
                                  <a>
                                    <img [src]="userConfig.user.image" class="rounded-circle" />
                                  </a>
                                </div>
                              </div>
                              <div class="col-10">
                                <div class="d-flex">
                                  <h1 class="display-2 text-white mb-0 pr-2">
                                    <strong class="text-primary"
                                      >{{ userConfig.user.firstName }} {{ userConfig.user.lastName }}</strong
                                    >
                                  </h1>
                                  <span
                                    *ngIf="userConfig.isConnected"
                                    class="alert alert-success d-flex align-items-center mt-2"
                                    role="alert"
                                  >
                                    <span class="material-icons pr-2"> check_circle </span>Connected
                                  </span>
                                </div>

                                <h3 class="text-white mt-0">
                                  <span class="text-primary">
                                    {{ userConfig.user.currentRole }} At {{ userConfig.user.organization }}
                                  </span>
                                </h3>
                                <h3 class="text-white mt-0 mb-0">
                                  <span
                                    >Lives In
                                    <strong class="text-primary"
                                      >{{ userConfig.user.city }}, {{ userConfig.user.country }}</strong
                                    ></span
                                  >
                                </h3>
                                <h3 class="text-white mt-0 mb-0">
                                  <span
                                    >Interested In
                                    <strong class="text-primary">{{ userConfig.user.areaOfPreference }}</strong></span
                                  >
                                </h3>
                                <h3
                                  class="text-white mt-0 mb-5"
                                  *ngIf="userConfig.user.experience && userConfig.user.experience != ''"
                                >
                                  <span
                                    >Total Experience
                                    <strong class="text-primary">{{ userConfig.user.experience }} Years</strong></span
                                  >
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-2" *ngIf="isCurrentUser">
                            <div class="text-right">
                              <div class="d-flex justify-content-end pt-3">
                                <button
                                  mat-flat-button
                                  color="primary"
                                  (click)="openCreateGroupPopup()"
                                  class="rounded-pill ml-2 p-1 pl-2 pr-2 curPoint"
                                >
                                  Create Group
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-2" *ngIf="!isCurrentUser">
                            <div class="text-right">
                              <div class="d-flex justify-content-end pt-3">
                                <button
                                  *ngIf="!userConfig.isConnected"
                                  mat-flat-button
                                  color="primary"
                                  (click)="connect()"
                                  class="rounded-pill ml-2 p-1 pl-2 pr-2"
                                >
                                  Connect
                                </button>
                                <button
                                  *ngIf="userConfig.isConnected"
                                  mat-flat-button
                                  [routerLink]="['/social-network/conversation/']"
                                  [queryParams]="{ userId: userConfig.user.email }"
                                  color="primary"
                                  class="rounded-pill ml-2 p-1 pl-2 pr-2"
                                >
                                  Message
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <a class="btn btn-info">Edit profile</a> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Page content -->
                <div class="container-fluid mt--7">
                  <div class="row no-gutters">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 d-none">
                      <div class="card m-0 card-profile shadow">
                        <div class="card-header text-center border-0 pt-4 pt-md-4 pb-0"></div>
                        <div class="card-body mt-3">
                          <div class="text-center">
                            <h3>
                              {{ userConfig.user.firstName }} {{ userConfig.user.lastName
                              }}<span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                              <i class="ni location_pin mr-2"></i>{{ userConfig.user.city }} ,
                              {{ userConfig.user.country }}
                            </div>
                            <div class="h5 mt-4">
                              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                            </div>
                            <!-- <div><i class="ni education_hat mr-2"></i>{{ userConfig.user.college[0] }}</div> -->
                            <hr class="my-4" />
                            <!-- <p>{{ userConfig.user.description }}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 pl-4 pr-4 order-xl-1">
                      <div class="card m-0 bg-secondary shadow-lg">
                        <div class="card-header bg-white border-0">
                          <div class="row align-items-center">
                            <div class="col-6">
                              <h3 class="mb-0">Account Details</h3>
                            </div>
                            <div class="col-6 text-right" *ngIf="userConfig.user.tasaId == user.tasaId">
                              <button
                                mat-mini-fab
                                color="primary"
                                matTooltipPosition="below"
                                matTooltip="Setting"
                                [routerLink]="['/user/profile']"
                                routerLinkActive="router-link-active"
                                class="ml-2 rounded-pill"
                              >
                                <mat-icon class="text-primary">settings</mat-icon>
                              </button>
                              <button
                                mat-mini-fab
                                color="primary"
                                matTooltipPosition="below"
                                matTooltip="Connections"
                                (click)="conectionDrawer.toggle()"
                                class="ml-2 rounded-pill"
                              >
                                <mat-icon class="text-primary">groups</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="card-body max-vertical-h-70 stylishSlimScroll flow-y-auto flow-x-hidden">
                          <form>
                            <!-- Description -->
                            <h3 class="heading-small text-muted mb-4">About Me</h3>
                            <div class="pl-lg-4">
                              <div class="form-group focused">
                                <!-- <label>About Me</label> -->
                                <h4 class="text-primary">{{ userConfig.user.bio }}</h4>
                                <!-- <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea> -->
                              </div>
                            </div>
                            <hr class="my-4" />
                            <h3 class="heading-small text-muted mb-4">User Information</h3>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <h4 class="text-primary">{{ userConfig.user.username }}</h4>
                                    <!-- <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse"> -->
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>
                                    <h4 class="text-primary">{{ userConfig.user.email }}</h4>
                                    <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com"> -->
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Preferred Role </label>
                                    <h4 class="text-primary">{{ userConfig.user.preferredRole }}</h4>
                                    <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com"> -->
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Career Goal</label>
                                    <h4 class="text-primary">{{ userConfig.user.careerGoals }}</h4>
                                    <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com"> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="my-4" />
                            <h3 class="heading-small text-muted mb-4">Experience Information</h3>
                            <div class="pl-lg-4" *ngFor="let exp of userConfig.user.experience; let index = i">
                              <div class="row">
                                <div class="col-lg-4" *ngIf="exp.currentRole[0] != ''">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Current Role</label>
                                    <h4 class="text-primary">{{ exp.currentRole[0] }}</h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="exp.organization != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Organization</label>
                                    <h4 class="text-primary">
                                      {{ exp.organization }}
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="exp.degreeToDate != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Experience From</label>
                                    <h4 class="text-primary">
                                      {{ getDate(exp.experienceFrom) }}
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="exp.experienceTo != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Experience To </label>
                                    <h4 class="text-primary">
                                      {{ getDate(exp.experienceTo) }}
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="exp.experience != null">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Experience</label>
                                    <h4 class="text-primary">{{ exp.experience }}</h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="exp.description[0] != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Description</label>
                                    <h4 class="text-primary">{{ exp.description[0] }}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="my-4" />
                            <h3 class="heading-small text-muted mb-4">Educational Information</h3>
                            <div class="pl-lg-4" *ngFor="let edu of userConfig.user.education">
                              <div class="row">
                                <div class="col-lg-4" *ngIf="edu.highestDegree != ''">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Degree</label>
                                    <h4 class="text-primary">{{ edu.highestDegree }}</h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="edu.college[0] != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">College</label>
                                    <h4 class="text-primary">{{ edu.college[0] }}</h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="edu.degreeFromDate != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Degree From </label>
                                    <h4 class="text-primary">
                                      {{ getDate(edu.degreeFromDate) }}
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="edu.degreeToDate != ''">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Degree To </label>
                                    <h4 class="text-primary">
                                      {{ getDate(edu.degreeToDate) }}
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-lg-4" *ngIf="edu.minor[0] != ''">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Minor</label>
                                    <h4 class="text-primary">{{ edu.minor[0] }}</h4>
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">University</label>
                                    <h4 class="text-primary">{{ edu.university[0] }}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="my-4" />
                            <ng-container *ngIf="userConfig.user.certificates && userConfig.user.certificates != ''">
                              <!-- Description -->
                              <h3 class="heading-small text-muted mb-4">Certificate</h3>
                              <div class="pl-lg-4">
                                <div class="form-group focused" style="height: 300px;">
                                  <ngx-doc-viewer
                                    *ngIf="userConfig.user.certificateType === 'pdf'"
                                    [url]="userConfig.user.certificates"
                                    viewer="google"
                                    style="width: 100%; height: 100%;"
                                  ></ngx-doc-viewer>
                                  <img
                                    *ngIf="userConfig.user.certificateType === 'image'"
                                    [src]="userConfig.user.certificates"
                                    alt="Certificate"
                                    style="width: 90%; height: 100%;"
                                  />
                                </div>
                              </div>
                            </ng-container>
                            <hr class="my-4" />
                            <!-- Address -->
                            <h3 class="heading-small text-muted mb-4">Contact Information</h3>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-address">Address</label>
                                    <h4 class="text-primary">{{ userConfig.user.address1 }}</h4>
                                    <!-- <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text"> -->
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-city">City</label>
                                    <h4 class="text-primary">{{ userConfig.user.city }}</h4>
                                    <!-- <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-country">Country</label>
                                    <h4 class="text-primary">{{ userConfig.user.country }}</h4>
                                    <!-- <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-country">Postal code</label>
                                    <h4 class="text-primary">{{ userConfig.user.postalCode }}</h4>
                                    <!-- <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code"> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="userConfig.fetchingUser">
                <div class="col-12 animated fadeIn" *ngFor="let item of [1]">
                  <div class="card ml-0 mr-0" style="height: 300px !important;">
                    <div class="card-img skeleton"></div>
                  </div>
                </div>
                <div class="col-10 m-auto animated fadeIn" *ngFor="let item of [1]">
                  <div class="card ml-0 mr-0" style="height: 400px !important;">
                    <div class="card-img skeleton"></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <app-right-side></app-right-side>
          </div>
        </div>
      </section>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #connections>
  <app-social-connections [loggedInUser]="user"></app-social-connections>
</ng-template>
