<div class="social-profile-wrapper">
  <mat-drawer-container class="saved-conditions-wrapper" [hasBackdrop]="false">
    <mat-drawer #conectionDrawer [position]="'end'" [mode]="'over'" class="flow-hidden">
      <div id="course-filter" style="width: 250px;">
        <div class="row d-flex align-items-center border-bottom">
          <div class="col-9">
            <!-- <p class="m-0 pl-2 h5 text-primary">My Connections</p> -->
          </div>
          <div class="col-3 text-right">
            <button (click)="conectionDrawer.toggle()" mat-icon-button>
              <mat-icon class="text-primary">clear</mat-icon>
            </button>
          </div>
        </div>
        <ng-template *ngIf="user" [ngTemplateOutlet]="connections"></ng-template>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <section>
        <div class="row">
          <div class="col-md-3 col-sm-12 bg-white" *ngIf="!sharedService.deviceDetectorService.isMobile()">
            <app-left-side></app-left-side>
          </div>
          <div class="col-md-7 col-sm-12 main-div">
            <ol class="breadcrumb mt-3">
              <li class="breadcrumb-item curPoint"><a [routerLink]="['/dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active">Profile</li>
              <li class="breadcrumb-item active" *ngIf="!isCurrentUser">
                {{ userConfig.user.firstName }} {{ userConfig.user.lastName }}
              </li>
            </ol>
            <div class="sec-title">
              <div class="title" *ngIf="isCurrentUser">My Profile</div>
              <div class="title" *ngIf="!isCurrentUser">Profile</div>
            </div>
            <div class="profile-wrapper mb-4">
              <div class="main-content animated fadeInUp" *ngIf="!userConfig.fetchingUser && isAllowedConfig.allowed">
                <div class="header pb-5">
                  <span class="mask bg-gradient-default opacity-8"></span>
                  <!-- Header container -->
                  <div class="">
                    <div class="row w100 no-gutters">
                      <div class="col-12">
                        <div class="card m-0">
                          <div
                            class="profile-background"
                            [ngStyle]="{
                              background: getBackgroundImageUrl()
                            }"
                          >
                            <button
                              mat-mini-fab
                              color="primary"
                              matTooltipPosition="below"
                              matTooltip="Change background"
                              class="ml-2 mr-3 position-absolute rounded-pill"
                              style="right: 20px; top: 10px;"
                              (click)="callUpload($event)"
                              *ngIf="isCurrentUser"
                            >
                              <mat-icon>camera</mat-icon>
                            </button>
                          </div>
                          <div class="row no-gutters">
                            <div class="col-12">
                              <div class="card-profile-image">
                                <a class="curPoint" (click)="showProfilePic(userConfig.user, 0)">
                                  <img
                                    src="{{
                                      userConfig.user.image !== ''
                                        ? userConfig.user.image
                                        : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                                    }}"
                                    class="rounded-circle"
                                  />
                                </a>
                              </div>
                              <div class="text-right">
                                <ng-container
                                  *ngIf="isCurrentUser && user.isFreelancer === 'N' && user.type !== 'Recruiter'"
                                >
                                  <mat-slide-toggle
                                    class="example-margin text-primary p-2 pr-4"
                                    (change)="onFreelanceToggleChange()"
                                  >
                                    Do you want to be listed as a Freelancer on TaSA
                                  </mat-slide-toggle>
                                </ng-container>
                                <ng-container *ngIf="userConfig.user.isFreelancer === 'Y'">
                                  <h1 class="mt-2"><span class="badge badge-secondary caps">Freelancer</span></h1>
                                </ng-container>
                                <ng-container *ngIf="userConfig.user.type === 'Recruiter'">
                                  <h1 class="mt-2"><span class="badge badge-secondary caps">Recruiter</span></h1>
                                </ng-container>
                              </div>
                              <div class="profile-details p-3 pl-4" style="margin-top: 30px;">
                                <div class="row no-gutters">
                                  <div class="col-md-9 col-12">
                                    <div class="d-flex">
                                      <h5 class="display-2 text-white mb-0 pr-2">
                                        <strong class="text-primary"
                                          >{{ userConfig.user.firstName }} {{ userConfig.user.lastName }}</strong
                                        >
                                      </h5>
                                      <span
                                        *ngIf="userConfig.isConnected"
                                        class="alert alert-success d-flex align-items-center mt-2"
                                        role="alert"
                                      >
                                        <span class="material-icons pr-2"> check_circle </span>Connected
                                      </span>
                                      <span
                                        *ngIf="!userConfig.isConnected && userConfig.isRequestPending"
                                        class="alert alert-info d-flex align-items-center mt-2"
                                        role="alert"
                                      >
                                        <span class="material-icons pr-2"> check_circle </span>Request Pending
                                      </span>
                                    </div>
                                    <ng-container *ngIf="userConfig.user.profileSummary === ''">
                                      <h6 class="mt-0 mb-1" *ngIf="(userConfig.currentJob | json) !== '{}'">
                                        <span class="text-primary font500">
                                          {{ userConfig.currentJob.currentRole[0] }} @
                                          {{ userConfig.currentJob.organization }}
                                        </span>
                                      </h6>
                                    </ng-container>
                                    <ng-container *ngIf="userConfig.user.profileSummary !== ''">
                                      <h6 class="mt-0 mb-1">
                                        <span class="text-primary font500">
                                          {{ userConfig.user.profileSummary}} 
                                        </span>
                                      </h6>
                                    </ng-container>
                                
                                    <h6 class="mt-0 mb-1">
                                      <span>
                                        <span class="text-primary font500"
                                          ><span *ngIf="userConfig.user.city !== ''">{{ userConfig.user.city }},</span>
                                          {{ userConfig.user.country }}</span
                                        >
                                        <span class="text-info pl-3"
                                          >{{ userConfig.totalConnectedUser }} Connections</span
                                        ><button
                                          mat-mini-fab
                                          color="primary"
                                          matTooltipPosition="below"
                                          matTooltip="Connections"
                                          *ngIf="isCurrentUser"
                                          (click)="conectionDrawer.toggle()"
                                          class="ml-2 mr-3 rounded-pill"
                                        >
                                          <mat-icon>groups</mat-icon>
                                        </button>
                                      </span>
                                    </h6>
                                  </div>
                                  <div class="col-md-3 col-12 text-right">
                                    <div class="col-12" *ngIf="isCurrentUser">
                                      <div class="text-right">
                                        <div class="d-flex justify-content-end pt-3">
                                          <button
                                            mat-flat-button
                                            color="primary"
                                            (click)="openCreateGroupPopup()"
                                            class="rounded-pill ml-2 p-1 pl-2 pr-2 curPoint w80"
                                          >
                                            Create Group
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12" *ngIf="!isCurrentUser">
                                      <div class="text-right">
                                        <div class="d-flex justify-content-end pt-3">
                                          <button
                                            *ngIf="!userConfig.isConnected && !userConfig.isRequestPending"
                                            mat-flat-button
                                            color="primary"
                                            (click)="connect()"
                                            class="rounded-pill ml-2 p-1 pl-2 pr-2"
                                          >
                                            Connect
                                          </button>
                                          <button
                                            *ngIf="userConfig.isConnected"
                                            mat-flat-button
                                            [routerLink]="['/social-network/conversation/']"
                                            [queryParams]="{ userId: userConfig.user.email }"
                                            color="primary"
                                            class="rounded-pill ml-2 p-1 pl-2 pr-2"
                                          >
                                            Message
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <a class="btn btn-info">Edit profile</a> -->
                  </div>
                </div>
                <!-- Page content -->
                <div class="">
                  <div class="row no-gutters">
                    <div class="col-xl-4 order-xl-2 mb-2 mb-xl-0 d-none">
                      <div class="card m-0 card-profile shadow">
                        <div class="card-header text-center border-0 pt-4 pt-md-4 pb-0"></div>
                        <div class="card-body mt-3">
                          <div class="text-center">
                            <h3>
                              {{ userConfig.user.firstName }} {{ userConfig.user.lastName
                              }}<span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                              <i class="ni location_pin mr-2"></i>{{ userConfig.user.city }} ,
                              {{ userConfig.user.country }}
                            </div>
                            <div class="h5 mt-4">
                              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                            </div>
                            <!-- <div><i class="ni education_hat mr-2"></i>{{ userConfig.user.college[0] }}</div> -->
                            <hr class="my-4" />
                            <!-- <p>{{ userConfig.user.description }}</p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 order-xl-1">
                      <div class="card m-0 p-4">
                        <!-- Description -->
                        <div class="d-flex">
                          <h3 class="heading-small text-muted mb-4 w50 caps">About Me</h3>
                          <div class="d-flex w100 justify-content-end" *ngIf="isCurrentUser">
                            <mat-icon
                              class="text-primary curPoint"
                              matTooltipPosition="below"
                              matTooltip="Edit User Information"
                              (click)="editUser('About')"
                              >edit</mat-icon
                            >
                          </div>
                        </div>

                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-12 col-sm-12">
                              <div class="form-group focused">
                                <!-- <label class="form-control-label" for="input-username">About Me</label> -->
                                <h4 class="text-primary font400">{{ userConfig.user.bio }}</h4>
                              </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" *ngIf="user.email === userConfig.user.email">
                              <label class="form-control-label" for="input-username">Email Address</label>
                              <h4 class="text-primary font400">{{ userConfig.user.email }}</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12" *ngIf="userConfig.user.city !== '' || userConfig.user.state !== '' ||  userConfig.user.country !== ''">
                              <label class="form-control-label" for="input-username">Lives in</label>
                              <h4 class="text-primary font400">
                                <span *ngIf="userConfig.user.city">{{ userConfig.user.city }}, </span>
                                <span *ngIf="userConfig.user.state">{{ userConfig.user.state }}, </span>
                                <span *ngIf="userConfig.user.country">{{ userConfig.user.country }}</span>
                              </h4>
                            </div>
                            <!-- <div class="col-lg-6 col-sm-12" *ngIf="user.email === userConfig.user.email">
                              <label class="form-control-label" for="input-username">Date of Birth</label>
                              <h4 class="text-primary font400">
                                <span *ngIf="userConfig.user.dob">{{ userConfig.user.dob | date: 'mediumDate' }}</span>
                              </h4>
                            </div> -->
                            <div class="col-lg-6" *ngIf="userConfig.user.preferredRole?.length">
                              <div class="form-group">
                                <label class="form-control-label" for="input-email">Professional Interest</label>
                                <div>
                                  <span
                                    class="badge badge-dark ml-1 mt-1"
                                    style="font-size: 15px;"
                                    *ngFor="let item of userConfig.user.preferredRole; let first = first"
                                    >{{ item }}</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-lg-6"
                              *ngIf="user.email === userConfig.user.email && userConfig.user.areaOfPreference != ''"
                            >
                              <div class="form-group">
                                <label class="form-control-label" for="input-email"
                                  >Subjects/Topics of Preference</label
                                >
                                <h4 class="text-primary font400">{{ userConfig.user.areaOfPreference }}</h4>
                                <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com"> -->
                              </div>
                            </div>
                            <div
                              class="col-lg-6"
                              *ngIf="user.email === userConfig.user.email && userConfig.user.careerGoals != ''"
                            >
                              <div class="form-group">
                                <label class="form-control-label" for="input-email">Preferred Role</label>
                                <h4 class="text-primary font400">{{ userConfig.user.careerGoals }}</h4>
                                <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com"> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="card m-0  mt-4 p-4">
                        <div class="d-flex">
                          <h3 class="heading-small text-muted mb-4 w50 caps">Experience</h3>
                          <div class="d-flex w100 justify-content-end" *ngIf="isCurrentUser">
                            <mat-icon
                              class="text-primary curPoint"
                              matTooltipPosition="below"
                              matTooltip="Edit Experience"
                              (click)="editUser('Experience')"
                              >edit</mat-icon
                            >
                          </div>
                        </div>
                        <div
                          class="pl-lg-4"
                          *ngFor="let exp of userConfig.user.experience; let i = index; let last = last"
                        >
                          <div>
                            <h1 class="text-info">{{ exp.currentRole[0] }}</h1>
                            <h6 class="mb-1 font500" *ngIf="exp.organization != ''">{{ exp.organization }}</h6>
                            <h6 class="font400">
                              {{ exp.experienceFrom | date: 'mediumDate' }}
                              <span *ngIf="exp.recentEmployer === 'true'"> - Present</span>
                              <span *ngIf="exp.recentEmployer === 'false' || exp.recentEmployer === ''"
                                > - {{ exp.experienceTo | date: 'mediumDate' }}
                              </span>
                            </h6>
                            <h4 class="text-primary font400">{{ exp.description[0] }}</h4>
                          </div>
                          <hr *ngIf="userConfig.user.experience.length > 1 && !last" />
                        </div>
                      </div>
                      <div class="card m-0  mt-4 p-4">
                        <div class="d-flex">
                          <h3 class="heading-small text-muted mb-4 w50 caps">Education</h3>
                          <div class="d-flex w100 justify-content-end" *ngIf="isCurrentUser">
                            <mat-icon
                              class="text-primary curPoint"
                              matTooltipPosition="below"
                              matTooltip="Edit Education"
                              (click)="editUser('Education')"
                              >edit</mat-icon
                            >
                          </div>
                        </div>
                        <div
                          class="pl-lg-4"
                          *ngFor="let edu of userConfig.user.education; let i = index; let last = last"
                        >
                          <div>
                            <h1 class="text-info">{{ edu.highestDegree }}</h1>
                            <h6 class="mb-1 font500" *ngIf="edu.college[0] != ''">
                              {{ edu.college[0] }}
                              <span class="font500" *ngIf="edu.university[0] != ''">, {{ edu.university[0] }}</span>
                            </h6>
                            <h6 class="font400">
                              {{ edu.degreeFromDate | date: 'mediumDate' }} 
                              <span *ngIf="edu.degreeToDate === ''"> - Present</span>
                              <span *ngIf="edu.degreeToDate != ''"> - {{ edu.degreeToDate | date: 'mediumDate' }} </span>
                            </h6>
                            <h6>{{ edu.major }}</h6>
                            <div>
                              <span
                                class="badge badge-dark ml-1 mt-1"
                                style="font-size: 15px;"
                                *ngFor="let item of edu.minor; let first = first"
                                >{{ item }}</span
                              >
                            </div>
                            <h4 class="text-primary font400">{{ edu.description }}</h4>
                          </div>
                          <hr *ngIf="userConfig.user.education.length > 1 && !last" />
                        </div>
                      </div>
                      <div class="card m-0  mt-4 p-4">
                        <ng-container>
                          <div class="d-flex">
                            <h3 class="heading-small text-muted mb-4 w50 caps">Certification</h3>
                            <div class="d-flex w100 justify-content-end" *ngIf="isCurrentUser">
                              <mat-icon
                                class="text-primary curPoint"
                                matTooltipPosition="below"
                                matTooltip="Edit User Information"
                                (click)="editUser('Certificate')"
                                >edit</mat-icon
                              >
                            </div>
                          </div>
                          <div class="pl-lg-4">
                            <div
                              class="form-group focused max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden"
                            >
                              <div class="row no-gutters">
                                <div class="col-sm-12 col-md-6" *ngFor="let item of userConfig.user.certificate">
                                  <div class="p-2">
                                    <ngx-doc-viewer
                                      *ngIf="item.certificateType === 'pdf'"
                                      [url]="item.certificates[0]"
                                      viewer="google"
                                      class="certificate-css"
                                    ></ngx-doc-viewer>
                                    <img
                                      *ngIf="item.certificateType === 'image'"
                                      [src]="item.certificates[0]"
                                      class="certificate-css"
                                      alt="Certificate"
                                    />
                                    <p class="text-muted mt-1">{{ item.certificateName }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div class="card m-0 mt-4 p-4">
                        <div class="d-flex">
                          <h3 class="heading-small text-muted mb-4 w50 caps">Freelance Experience</h3>
                          <div class="d-flex w100 justify-content-end" *ngIf="isCurrentUser">
                            <mat-icon
                              class="text-primary curPoint"
                              matTooltipPosition="below"
                              matTooltip="Edit Freelance Experience"
                              (click)="editUser('Freelancer')"
                              >edit</mat-icon
                            >
                          </div>
                        </div>
                        <div class="pl-lg-4">
                          <div class="row" *ngIf="userConfig.user.isFreelancer === 'Y'">
                            <div class="col-12" *ngIf="userConfig.user.fieldsOfExpertise.length">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-address">Areas of Expertise</label>
                                <div class="card-intro pr-1 p-1 pl-2 mt-1">
                                  <span
                                    class="badge badge-dark ml-2 mt-2"
                                    style="font-size: 15px;"
                                    *ngFor="let item of userConfig.user.fieldsOfExpertise"
                                    >{{ item.areaOfExpertise }}</span
                                  >
                                </div>
                                <!-- <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text"> -->
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="row" *ngFor="let item of userConfig.user.pastGigs; let last = last">
                            <div class="col-lg-4">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-city">Gig Title</label>
                                <h4 class="text-primary font400">{{ item.projectName }}</h4>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-control-label" for="input-country">Client Name</label>
                                <h4 class="text-primary font400">{{ item.clientName }}</h4>
                                <!-- <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code"> -->
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-control-label" for="input-country">Gig Duration</label>
                                <h4 class="text-primary font400">{{ item.projectDuration }}</h4>
                                <!-- <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code"> -->
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-country">Gig Details</label>
                                <h4 class="text-primary font400">{{ item.projectDesc }}</h4>
                                <!-- <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States"> -->
                              </div>
                            </div>
                            <div class="col-12" *ngIf="!last"><hr /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="userConfig.fetchingUser && isAllowedConfig.allowed">
                <div class="col-12 animated fadeIn" *ngFor="let item of [1]">
                  <div class="card ml-0 mr-0" style="height: 300px !important;">
                    <div class="card-img skeleton"></div>
                  </div>
                </div>
                <div class="col-10 m-auto animated fadeIn" *ngFor="let item of [1]">
                  <div class="card ml-0 mr-0" style="height: 400px !important;">
                    <div class="card-img skeleton"></div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!userConfig.fetchingUser && !isAllowedConfig.allowed">
                <app-no-subscription
                  [isComingFrom]="'course'"
                  [message]="isAllowedConfig.message"
                  [isComingFrom]="'subscription'"
                ></app-no-subscription>
              </ng-container>
            </div>
          </div>
          <div class="col-md-2 col-sm-12" *ngIf="!sharedService.deviceDetectorService.isMobile()">
            <app-right-side></app-right-side>
          </div>
        </div>
      </section>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #connections>
  <app-social-connections [loggedInUser]="user"></app-social-connections>
</ng-template>

<input type="file" #file class="d-none" id="imageUpload" (change)="handleFileInput($event)" />
