<div class="cart-wrapper container pb-3">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Checkout</li>
  </ol>
  <div class="sec-title">
    <div class="title">
      Checkout Details
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12" *ngIf="cartDetails.isSubscription">
      <ng-template [ngTemplateOutlet]="cartSubscriptionDetails"></ng-template>
    </div>
    <div class="col-12" *ngIf="cartDetails.isCourse">
      <ng-template [ngTemplateOutlet]="cartCourseDetails"></ng-template>
    </div>
    <div class="col-12" *ngIf="cartDetails.isGig">
      <ng-template [ngTemplateOutlet]="cartGigDetails"></ng-template>
    </div>
    <div class="col-12" *ngIf="cartDetails.isCustomGig">
      <ng-template [ngTemplateOutlet]="cartCustomGigDetails"></ng-template>
    </div>
    <div class="col-12 mt-1" *ngIf="(cartDetails | json) != ({} | json)">
      <ng-template [ngTemplateOutlet]="cartCheckout"></ng-template>
    </div>
    <div class="col-12 mt-1" *ngIf="(cartDetails | json) === ({} | json)">
      <ng-template [ngTemplateOutlet]="noData"></ng-template>
    </div>
  </div>
</div>
<ng-template #cartSubscriptionDetails>
  <div class="mb-2">
    <div class="holder bg-lavender pb-4">
      <div class="plan__options plan-left m-2 animated fadeInUp m-auto">
        <div class="head d-flex">
          <div class="shape shape-green"></div>
          <div class="content">
            <h2>
              <span class="text-black"
                ><span class="text-muted">Plan: </span>{{ cartDetails.subscriptionData.id }}</span
              >
            </h2>
            <h5>
              <span class="text-black">{{ cartDetails.subscriptionData.price * 12 | currency }}</span
              ><small> / Year</small>
              <span class="badge badge-warning"
                >Pay {{ cartDetails.subscriptionData.price | currency }} <small> / Month</small></span
              >
            </h5>
          </div>
        </div>
        <div class="line-divider"></div>
        <ul class="max-vertical-h-40 stylishSlimScroll flow-y-auto flow-x-hidden">
          <li><i class="fas fa-check text-success"></i>Search TaSA Members</li>
          <li><i class="fas fa-check text-success"></i>Message Connected Members</li>
          <li>
            <i class="fas fa-check text-success"></i>Price Per Course
            <span class="text-black">{{ cartDetails.subscriptionData.maxCoursesPrice }}</span>
          </li>
          <li>
            <i class="fas fa-check text-success"></i>Enroll into EdX Courses
            <span class="text-black">{{ cartDetails.subscriptionData.maxCoursesPerMonth }}</span>
          </li>
          <li>
            <i class="fas fa-check text-success"></i>Total Yearly Course Price Allowance
            <span class="text-black">{{ cartDetails.subscriptionData.maxCoursesValuePerYear }}</span>
          </li>
          <li>
            <i
              class="fas fa-check"
              [ngClass]="{
                'fa-check text-success': cartDetails.subscriptionData.recommendCourses === 'Y',
                'fa-times text-danger': cartDetails.subscriptionData.recommendCourses === 'N'
              }"
            ></i
            >Receive Recommended Courses
          </li>
          <li>
            <i
              class="fas fa-check"
              [ngClass]="{
                'fa-check text-success': cartDetails.subscriptionData.recommendJobs === 'Y',
                'fa-times text-danger': cartDetails.subscriptionData.recommendJobs === 'N'
              }"
            ></i
            >Receive Recommended Jobs
          </li>
          <li>
            <i
              class="fas fa-check"
              [ngClass]="{
                'fa-check text-success': cartDetails.subscriptionData.notifyApplicationStatus === 'Y',
                'fa-times text-danger': cartDetails.subscriptionData.notifyApplicationStatus === 'N'
              }"
            ></i
            >Job Application Status Notification
          </li>
          <li>
            <i
              class="fas fa-check"
              [ngClass]="{
                'fa-check text-success': cartDetails.subscriptionData.notifyProfileViews === 'Y',
                'fa-times text-danger del': cartDetails.subscriptionData.notifyProfileViews === 'N'
              }"
            ></i
            >Profile View Notification
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cartCourseDetails>
  <div>
    <ul class="products max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden">
      <li class="row shadow animated fadeIn">
        <div class="col-10 d-flex align-items-center left">
          <div class="thumbnail">
            <a>
              <img [src]="cartDetails.courseData.image_url" [alt]="cartDetails.title" />
            </a>
          </div>
          <div class="detail">
            <div class="name">
              <a>{{ cartDetails.courseData.title }}</a>
            </div>
            <!-- <div class="description text-truncate">{{ product.description }}</div> -->
          </div>
        </div>

        <div class="col-2 d-flex align-items-center right">
          <div class="remove">
            <div class="remove">
              <div class="price badge badge-info p-2">{{ cartDetails.courseData.offerPrice | currency }}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #cartGigDetails>
  <div class="m-auto gig">
    <div class="card m-0 mt-4 mr-4 curPoint mb-4">
      <div class="card-img">
        <img [src]="cartDetails.gigData.image" *ngIf="cartDetails.gigData.video === ''" />
        <ng-container *ngIf="cartDetails.gigData.image !== '' && cartDetails.gigData.video !== ''">
          <owl-carousel-o [options]="gigAssetsOptions" class="gig-view-carousel">
            <ng-template carouselSlide>
              <div style="background: #ebe9ed;">
                <video controls>
                  <source [src]="cartDetails.gigData.video" type="video/mp4" />
                  <source [src]="cartDetails.gigData.video" type="video/ogg" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div style="background: #ebe9ed;">
                <img [src]="cartDetails.gigData.image" class="img-thumbnail gig-img" alt="course" />
              </div>
            </ng-template>
          </owl-carousel-o>
        </ng-container>
      </div>
      <div
        class="card-body pl-3 pr-3"
        [ngClass]="{ 'margin-top-15px': cartDetails.gigData.image !== '' && cartDetails.gigData.video !== '' }"
      >
        <h5>{{ cartDetails.gigData.userName }}</h5>
        <hr />
        <h5 class="card-title mt-3 mb-1">
          {{ cartDetails.gigData.title }}
        </h5>
        <p class="card-intro">
          {{ cartDetails.gigData.category }}
        </p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cartCustomGigDetails>
  <div class="m-auto gig gig-custom">
    <div class="card m-0 mt-4 mb-4 curPoint">
      <div class="card-img pb-1 d-flex align-items-center text-center justify-content-center">
        <h5 class="text-css m-auto">{{ cartDetails.customGigData.category }}</h5>
      </div>
      <div class="card-body pl-3 pr-3">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <img
            src="{{
              cartDetails.customGigData.postedByImage !== ''
                ? cartDetails.customGigData.postedByImage
                : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
            }} "
            class="user-img"
            alt=""
          />
          <div class="font400 pl-0 text-truncate" [title]="">{{ cartDetails.customGigData.postedByName }}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <h6 class="mb-1"><i class="fas fa-briefcase pr-2 text-muted"></i>Experience</h6>
            <div>
              {{ cartDetails.customGigData.experienceFrom }} - {{ cartDetails.customGigData.experienceTo }} Years
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h6 class="mb-1"><i class="fas fa-money-bill-wave pr-2 text-muted"></i>Budget</h6>
            <div>
              {{ cartDetails.customGigData.budgetFrom | currency }} -
              {{ cartDetails.customGigData.budgetTo | currency }}
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <h6 class="mb-1"><i class="fas fa-calendar-week pr-2 text-muted"></i>Open Till</h6>
            <div>{{ cartDetails.customGigData.openTill | date: 'mediumDate' }}</div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <div
              *ngIf="cartDetails.customGigData.attachment !== ''"
              class="p-2 d-flex align-items-center curPoint bg-primary-light"
            >
              <span class="material-icons pr-1">
                attach_file
              </span>
              <a
                [href]="cartDetails.customGigData.attachment"
                target="_blank"
                color="primary"
                class="mr-2"
                download
                matTooltipPosition="below"
                matTooltip="View Attachment"
              >
                Attachment
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer border-top">
        <h6>Bidder Details</h6>
        <div class="shadow-sm m-1 bg-white p-2">
          <div class="card-body p-1 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <img
                src="{{
                  cartDetails.customGigData.bidderDetails.userImage !== ''
                    ? cartDetails.customGigData.bidderDetails.userImage
                    : 'https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg'
                }} "
                class="user-img"
                alt=""
              />
            </div>
            <div class="font400 text-truncate" [title]="cartDetails.customGigData.bidderDetails.userName">
              {{ cartDetails.customGigData.bidderDetails.userName }}
            </div>
          </div>
          <div>
            <div class="ml-2 d-block">
              <p class="card-intro text-center mb-1">
                <span
                  >Cost :
                  <span class="text-muted">{{ cartDetails.customGigData.bidderDetails.deliveryPrice | currency }}</span></span
                >
              </p>
              <p class="card-intro text-center">
                <span class="pl-2"
                  >Turn Around Time :
                  <span class="text-muted">{{ cartDetails.customGigData.bidderDetails.tat }}</span></span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cartCheckout>
  <section class="p-2 animated fadeIn" style="border-top: 4px solid #523f6d;">
    <form [formGroup]="customerForm" novalidate>
      <div class="row no-gutters w100">
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="email">Your email <span class="text-danger pl-1 asterisk">*</span></label>
            <div class="input-group input-group-merge">
              <input
                id="email"
                type="email"
                formControlName="email"
                class="form-control form-control-prepended"
                placeholder="Type email"
              />
            </div>
            <small
              [hidden]="customerForm.controls.email.valid || customerForm.controls.email.untouched"
              class="text-danger"
              translate
            >
              Email is required
            </small>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="fullname"
              >Your Full Name <span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <input
                id="fullname"
                type="text"
                formControlName="name"
                class="form-control form-control-prepended"
                placeholder="Your Full Name"
              />
            </div>
            <small
              [hidden]="customerForm.controls.name.valid || customerForm.controls.name.untouched"
              class="text-danger"
              translate
            >
              Full Name is required
            </small>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="phoneNumber"
              >Your Phone Number <span class="text-danger pl-1 asterisk">*</span></label
            >
            <div class="input-group input-group-merge">
              <input
                id="phoneNumber"
                type="text"
                formControlName="phoneNumber"
                class="form-control form-control-prepended"
                placeholder="Your Phone Number"
              />
            </div>
            <small
              [hidden]="customerForm.controls.phoneNumber.valid || customerForm.controls.phoneNumber.untouched"
              class="text-danger"
              translate
            >
              Phone Number is required
            </small>
          </div>
        </div>
      </div>
    </form>
    <div class="row no-gutters w100">
      <div class="col-12">
        <div class="summary text-right">
          <ul>
            <li class="total" *ngIf="cartDetails.isSubscription">
              Total <span>{{ cartDetails.subscriptionData.price * 12 | currency }}</span>
            </li>
            <li class="total" *ngIf="cartDetails.isCourse">
              Total <span>{{ cartDetails.courseData.offerPrice | currency }}</span>
            </li>
            <li class="total" *ngIf="cartDetails.isGig">
              Total <span>{{ cartDetails.gigData.selectedGigPlan.deliveryPrice | currency }}</span>
            </li>
            <li class="total" *ngIf="cartDetails.isCustomGig">
              Total <span>{{ cartDetails.customGigData.bidderDetails.deliveryPrice | currency }}</span>
            </li>
            <li class="total" *ngIf="cartDetails.isSubscription">
              Monthly Charge <span>{{ cartDetails.subscriptionData.price | currency }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="checkout">
      <button
        mat-flat-button
        color="primary"
        (click)="makePayment()"
        [disabled]="customerForm.invalid"
        class="rounded-pill ml-2"
      >
        <span *ngIf="cartDetails.isSubscription">Checkout & Pay Monthly</span>
        <span *ngIf="cartDetails.isCourse || cartDetails.isGig || cartDetails.isCustomGig">Checkout</span>
      </button>
    </div>
  </section>
</ng-template>

<ng-template #noData>
  <div class="text-center m-auto animated fadeIn pb-4">
    <div class="col-12 text-center">
      <img src="./assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
      <h6 class="text-primary">Nothing Added For Checkout ...!</h6>
      <div class="m-auto pt-3">
        <button mat-flat-button color="primary" [routerLink]="['/all-course']" class="rounded-pill">
          Add Course
        </button>
        <button mat-flat-button color="primary" [routerLink]="['/subscription-plans']" class="rounded-pill ml-2">
          Add Subscription
        </button>
        <button mat-flat-button color="primary" [routerLink]="['/freelance/all-gigs']" class="rounded-pill ml-2">
          Add Gig 
        </button>
        <button mat-flat-button color="primary" [routerLink]="['/freelance/all-requirements']" class="rounded-pill ml-2">
          Add Custom Gig
        </button>
      </div>
    </div>
  </div>
</ng-template>
