<div class="cart-wrapper container">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item curPoint"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active">Checkout</li>
  </ol>
  <div class="sec-title">
    <div class="title">
      Checkout Details
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12" *ngIf="cartDetails.isSubscription">
      <ng-template [ngTemplateOutlet]="cartSubscriptionDetails"></ng-template>
    </div>
    <div class="col-12" *ngIf="cartDetails.isCourse">
      <ng-template [ngTemplateOutlet]="cartCourseDetails"></ng-template>
    </div>
    <div class="col-12 mt-1" *ngIf="(cartDetails | json) != ({} | json)">
      <ng-template [ngTemplateOutlet]="cartCheckout"></ng-template>
    </div>
    <div class="col-12 mt-1" *ngIf="(cartDetails | json) === ({} | json)">
      <ng-template [ngTemplateOutlet]="noData"></ng-template>
    </div>
  </div>
</div>
<ng-template #cartSubscriptionDetails>
  <div>
    <ul class="products max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden">
      <li class="row shadow-lg no-gutters animated fadeIn">
        <div class="col-10 d-flex align-items-center left">
          <div class="thumbnail text-center">
            <h2 class="caps shadow-sm">{{ cartDetails.subscriptionData.name }}</h2>
          </div>
          <div class="detail">
            <div class="name">
              <a>Features</a>
            </div>
            <div class="description text-truncate" *ngFor="let item of cartDetails.subscriptionData.feature">
              {{ item.description }}
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center right">
          <div class="remove">
            <div class="price badge badge-info p-2">{{ cartDetails.subscriptionData.price | currency }}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #cartCourseDetails>
  <div>
    <ul class="products max-vertical-h-50 stylishSlimScroll flow-y-auto flow-x-hidden">
      <li class="row shadow animated fadeIn">
        <div class="col-10 d-flex align-items-center left">
          <div class="thumbnail">
            <a>
              <img [src]="cartDetails.courseData.image_url" [alt]="cartDetails.title" />
            </a>
          </div>
          <div class="detail">
            <div class="name">
              <a>{{ cartDetails.courseData.title }}</a>
            </div>
            <!-- <div class="description text-truncate">{{ product.description }}</div> -->
          </div>
        </div>

        <div class="col-2 d-flex align-items-center right">
          <div class="remove">
            <div class="remove">
              <div class="price badge badge-info p-2">{{ cartDetails.courseData.offerPrice | currency }}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #cartCheckout>
  <section class="p-2 animated fadeIn" style="border-top: 4px solid #523f6d;">
    <form [formGroup]="customerForm" novalidate>
      <div class="row no-gutters w100">
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="email">Your email <sup class="text-danger">*</sup></label>
            <div class="input-group input-group-merge">
              <input
                id="email"
                type="email"
                formControlName="email"
                class="form-control form-control-prepended"
                placeholder="Type email"
              />
            </div>
            <small
              [hidden]="customerForm.controls.email.valid || customerForm.controls.email.untouched"
              class="text-danger"
              translate
            >
              Email is required
            </small>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="fullname">Your Full Name<sup class="text-danger">*</sup></label>
            <div class="input-group input-group-merge">
              <input
                id="fullname"
                type="text"
                formControlName="name"
                class="form-control form-control-prepended"
                placeholder="Your Full Name"
              />
            </div>
            <small
              [hidden]="customerForm.controls.name.valid || customerForm.controls.name.untouched"
              class="text-danger"
              translate
            >
              Full Name is required
            </small>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group p-2">
            <label class="form-label" for="phoneNumber">Your Phone Number<sup class="text-danger">*</sup></label>
            <div class="input-group input-group-merge">
              <input
                id="phoneNumber"
                type="text"
                formControlName="phoneNumber"
                class="form-control form-control-prepended"
                placeholder="Your Phone Number"
              />
            </div>
            <small
              [hidden]="customerForm.controls.phoneNumber.valid || customerForm.controls.phoneNumber.untouched"
              class="text-danger"
              translate
            >
              Phone Number is required
            </small>
          </div>
        </div>
      </div>
    </form>
    <div class="row no-gutters w100">
      <div class="col-12">
        <div class="summary text-right">
          <ul>
            <!-- <li>Subtotal <span>$ 350</span></li>
            <li>Discount <span> 30%</span></li>
            <li>Tax <span> 10%</span></li> -->
            <li class="total" *ngIf="cartDetails.isSubscription">
              Total <span>{{ cartDetails.subscriptionData.price | currency }}</span>
            </li>
            <li class="total" *ngIf="cartDetails.isCourse">
              Total <span>{{ cartDetails.courseData.offerPrice | currency }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="checkout">
      <button
        mat-flat-button
        color="primary"
        (click)="makePayment()"
        [disabled]="customerForm.invalid"
        class="rounded-pill ml-2"
      >
        Checkout
      </button>
    </div>
  </section>
</ng-template>

<ng-template #noData>
  <div class="text-center m-auto animated fadeIn">
    <div class="col-12 text-center">
      <img src="./assets/images/no-record.gif" style="height: 300px;" class="d-block m-auto" />
      <h6 class="text-primary">Nothing Added To Cart ...!</h6>
      <div class="m-auto pt-3">
        <button mat-flat-button color="primary" [routerLink]="['/all-course']" class="rounded-pill">
          Add Course
        </button>
        <button mat-flat-button color="primary" [routerLink]="['/subscription-plans']" class="rounded-pill ml-2">
          Add Subscription
        </button>
      </div>
    </div>
  </div>
</ng-template>
