$blue: #523f6d;
$light-blue: #523f6d80;

.cart-wrapper {
  .gig-custom {
    .card-img {
      min-height: 150px;
      background: #74c7d41f;
      .text-css {
        color: mix(#fff, #28bed6, 40%);
        font-size: 15px;
        font-size: 30px;
        padding-top: 30px;
        font-weight: 900;
        text-shadow: -0.0075em 0.0075em 0 mix(#fff, #28bed6, 94%), 0.005em 0.005em 0 mix(#fff, #28bed6, 60%),
          0.01em 0.01em 0 mix(#fff, #28bed6, 62%), 0.015em 0.015em mix(#fff, #28bed6, 64%),
          0.02em 0.02em 0 mix(#fff, #28bed6, 66%), 0.025em 0.025em 0 mix(#fff, #28bed6, 68%),
          0.03em 0.03em 0 mix(#fff, #28bed6, 70%), 0.035em 0.035em 0 mix(#fff, #28bed6, 72%);
      }
    }
  }

  .gig {
    width: 300px;
    .card {
      min-height: 300px;
    }
    .card-img {
      padding-bottom: 0;
      img {
        position: relative;
        width: 100%;
        max-height: 200px;
        min-height: 200px;
        object-fit: fill;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
      video {
        max-height: 200px;
        min-height: 200px;
      }
    }
    .margin-top-15px {
      margin-top: -15px;
    }
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
  }

  a {
    text-decoration: none;
    color: #333333;
  }

  a:hover {
    color: #f58551;
  }

  ul {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    li {
      margin: 2px;
      i {
        margin: 5px;
      }
    }
  }

  input {
    transition: all 0.25s linear;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  input {
    outline: none;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }

  /* --- HEADER --- */
  header.container {
    margin-bottom: 1.5rem;
  }

  /* --- PRODUCT LIST --- */
  .products {
    border-top: 1px solid #ddd;
  }

  .products > li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
  }

  .row {
    position: relative;
    overflow: auto;
    width: 100%;
  }

  .col,
  .quantity,
  .remove {
    float: left;
  }

  .col.left {
    width: 70%;
  }

  .col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
  }

  .detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
  }

  .detail .name {
    font-size: 1.2rem;
  }

  .detail .description {
    color: #7d7d7d;
    font-size: 1rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .quantity,
  .remove {
    width: 50%;
    text-align: center;
  }

  /* --- SUMMARY --- */
  .promotion,
  .summary,
  .checkout {
    float: left;
    width: 100%;
  }

  .promotion > label {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
  }

  .promotion > input {
    float: left;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border: 2.2px solid $blue;
    border-radius: 2rem 0 0 2rem;
  }

  .promotion:hover > input {
    border-color: $light-blue;
  }

  .promotion > button {
    float: left;
    width: 20%;
    height: 2.4rem;
    border-radius: 0 2rem 2rem 0;
  }

  .promotion:hover > button {
    border-color: $light-blue;
    background-color: $light-blue;
  }

  .promotion > button::after {
    content: "\276f";
    font-size: 1rem;
  }

  .summary {
    font-size: 1.2rem;
    text-align: right;
  }

  .summary ul li {
    padding: 0.5rem 0;
  }

  .summary ul li span {
    display: inline-block;
    width: 10%;
  }

  .summary ul li.total {
    font-weight: bold;
  }

  .empty-product {
    text-align: center;
  }

  .empty-product > button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
  }

  /* --- MEDIUM & LARGE SCREEN --- */
  @media all and (min-width: 600px) {
    .thumbnail,
    .detail {
      float: left;
    }

    .thumbnail {
      width: 35%;
    }

    .detail {
      width: 65%;
    }

    .checkout {
      width: 100%;
    }

    .checkout,
    .summary {
      text-align: right;
    }
  }

  .holder {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plan__options {
      min-width: 30rem;
      padding: 1.5rem;
      background: #fff;
      border-radius: 40px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      text-align: left;

      .head {
        display: flex;
        align-items: center;

        .content {
          margin-left: 1.5rem;

          h2 {
            font-weight: 800;
            font-size: 2rem;
          }

          h5 {
            font-weight: 700;
            font-size: 2rem;
          }

          i {
            font-size: 1.2rem;
            position: relative;
            bottom: 5px;
            margin-right: 2px;
          }
        }
      }
      .line-divider {
        width: 100%;
        height: 1px;
        background-color: #eae9ee;
        margin: 1rem 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0px;

        li {
          margin: 0.5rem;

          i {
            margin-right: 1.5rem;
            font-size: 1.1rem;
            color: #6b747d;
          }
        }
      }

      .button {
        width: 100%;
      }
    }
  }
}
